<link rel="stylesheet" href="../../bower_components/swiper/dist/css/swiper.min.css" />

<script src="../../bower_components/swiper/dist/js/swiper.js"></script>

<dom-module id="rrd-swiper">

<template id="main">
    <style>
        :host {
            display: block;
            position: relative;
        }

        .preloader {
            height: 306px;
            width: 100%;
            background: #f0f0f0;
            display: block;
            overflow: hidden;
            clear: both;
            transition: .25s;
            position: relative;
        }

        #slides {
            display: none;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
            overflow: visible;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .25s;
        }

        .swiper-wrapper {
            height: 100%;
        }

        .swiper-container-horizontal > .swiper-pagination {
            bottom: 10px;
        }

        @media all and (min-width: 768px) {
            :host {
                width: 46%;
            }

            .preloader {
                display: none !important;
            }

            .swiper-container {
                width: 100%;
                height: 399px;
                overflow: hidden;
                display: block;
                position: relative;
                transition: none;
                margin: 0;
                background: #f0f0f0;
                border-bottom: 1px solid #f0f0f0;
            }

            ::content .swiper-slide {
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
                display: block;
                height: 399px;
                opacity: 0;
            }
        }
    </style>
    <iron-media-query
        query="(min-width: 768px)"
        query-matches="{{doIWorkOnTablet}}">
    </iron-media-query>
    <div id="preloader" class="preloader">&nbsp;</div>
    <div id="slides" hidden>
        <content></content>
    </div>
    <div id="swiper" class="swiper-container">
        <div class="swiper-pagination" id="pagination"></div>
        <div class="swiper-wrapper" id="wrapper"></div>
    </div>
</template>

<script>
Polymer({
    is: 'rrd-swiper',
    behaviors: [
        Polymer.IronResizableBehavior
    ],
    properties: {
        nodes: {
            type: Array,
            value: []
        },
        preloader: {
            type: Boolean,
            notify: true,
            value: true
        },
        images: {
            type: Array,
            notify: true,
            observer: 'imagesObserver'
        },
        firstImage: {
            type: String,
            notify: true
        },
        sizes: {
            type: Object,
            notify: true,
            value: {}
        },
        fbObjectPointer: {
            type: String,
            notify: true
        },
        doIWorkOnTablet: {
            type: Boolean,
            notify: true
        },
        _swiper: {
            type: Object,
            notify: true
        }
    },

    listeners: {
        'dom-change': 'loadImages',
        'iron-resize': 'handleImagesOnIronResize'
    },

    imagesObserver: function() {
        if(this.images == null || typeof this.images == "undefined") {
            this.clean();
        }
    },

    loadImages: function() {
        if(typeof this.images != "undefined" && this.images != null) {
            if(this.images.length > 0) {
                var localThis = this;
                this.async(function() {
                    var nodes = [];
                    var slides = localThis.$.slides.querySelectorAll('*:not(template)');
                    var slidesLoaded = 0;
                    var wrapper = localThis.$.wrapper;

                    if(slides.length > 0) {
                        wrapper.innerHTML = '';
                        wrapper.removeAttribute('style');

                        for(var i = 0; i < slides.length; i++) {
                            slides[i].classList.add('swiper-slide');

                            var node = wrapper.appendChild(slides[i].cloneNode(true));

                            var img = new window.Image();

                            var t = localThis;

                            img.onload = function() {
                                slidesLoaded++;

                                t.sizes[this.src] = {
                                    width: this.width,
                                    height: this.height
                                };

                                if(slidesLoaded == slides.length) {
                                    t.handleImages();
                                }
                            }

                            img.src = node.src;

                            nodes.push(node);
                        }

                        localThis.set('nodes', nodes);
                    }
                }.bind(this));
            }
        }
    },
    handleImagesOnIronResize: function() {
        this.handleImages();
    },
    handleImages: function() {

        var render = false;

        if(this.nodes && this.nodes.length > 0) {
            var firstImage = this.nodes[0].src;

            if(typeof firstImage != "undefined") {
                if(typeof this.sizes[firstImage] != "undefined") {
                    this.firstImage = firstImage;

                    render = true;
                }
            }
        }

        if(render === true) {
            this.render();
        } else {
            this.clean();
        }
    },
    render: function() {
        var localThis = this;
        if(localThis.nodes.length > 1) {
            localThis.$.pagination.hidden = false;
        } else {
            localThis.$.pagination.hidden = true;
        }

        if(this.doIWorkOnTablet) {
            var localThis = this;
            setTimeout(function() {
                var options = {};
                if(localThis.nodes.length > 1) {
                    options.pagination = localThis.$.pagination;
                }

                options.onImagesReady = function(swiper) {
                    var slides = swiper.slides;

                    for(var i = 0; i < slides.length; i++) {
                        var slide = slides[i];
                        var slideClass = slide.getAttribute('class');
                        var slideImage = slide.getAttribute('src');

                        slides[i].outerHTML = '<div class="' + slideClass + '" style="background:url(' + slideImage + ') center center no-repeat #fff;background-size:contain;width:100%;height:100%;opacity:1"></div>';
                    }

                }
                if (localThis._swiper && localThis._swiper.destroy) {
                    localThis._swiper.destroy();
                }

                localThis._swiper = new window.Swiper(localThis.$.swiper, options);

                localThis._swiper.update(true);
            }.bind(this), 200);
        } else {
            var firstImageWidth = this.sizes[this.firstImage].width;
            var firstImageHeight = this.sizes[this.firstImage].height;

            var screenWidth = window.innerWidth;

            var firstImageRelativeHeight = firstImageHeight * (screenWidth/firstImageWidth);

            this.$.preloader.style.height = firstImageRelativeHeight + 'px';
            var localThis = this;
            setTimeout(function() {
                localThis.$.swiper.style.opacity = 0;
                localThis.$.swiper.style.display = 'block';

                var options = {};

                options.autoHeight = true;

                if(localThis.nodes.length > 1) {
                    options.pagination = localThis.$.pagination;
                }

                if (localThis._swiper && localThis._swiper.destroy) {
                    localThis._swiper.destroy();
                }

                localThis._swiper = new window.Swiper(localThis.$.swiper, options);

                localThis.$.swiper.style.opacity = 1;

                var evenMoreLocalThis = localThis;
                setTimeout(function() {
                    evenMoreLocalThis.$.swiper.style.position = 'relative';
                    evenMoreLocalThis.$.preloader.style.display = 'none';
                    evenMoreLocalThis._swiper.update(true);
                }.bind(this), 200);
            }.bind(this), 200);
        }
    },
    clean: function() {
        this.$.pagination.innerHTML = '';

        this.set('nodes', null);
        this.set('nodes', undefined);

        if(this.doIWorkOnTablet === false) {
            this.$.swiper.style.opacity = 1;
            this.$.swiper.style.display = 'none';
            this.$.swiper.style.position = 'absolute';
            this.$.preloader.style.display = 'block';
            this.$.preloader.style.height = '306px';
        }
    }
});
</script>

</dom-module>
