<link rel="import" href="rrd-favorites-list-item.html">

<!--
# RRD Favorites

This element loads products that user added to Favorites.
DB  is named "favorited_products".

When it receives Iron Signal from the Favorites Manager that something has changed, it reloades the list.

 -->
<dom-module id="rrd-favorites">

<style is="custom-style" include="shared-styles"></style>
<style>

    .results__container {
        padding: 0 0 8px;
    }

    .results__list {
        @apply(--layout-flex);
        overflow: auto;
        z-index: 1;
        position: relative;
    }

    paper-card {
        margin: 8px;
        display: block;
    }

    h3 {
        font-size: 14px;
        line-height: 16px;
        font-family: medium;
        color: var(--primary-color);
        padding-left: 16px;
    }

    .empty {
        @apply(--layout-fit);
        @apply(--layout-horizontal);
        @apply(--layout-center);
    }

    .empty__container {
        @apply(--layout-vertical);
        text-align: center;
        margin: 0 auto;
        padding-bottom: 60px;
    }

    .empty__illustration {
        --iron-icon-height: 128px;
        --iron-icon-width: 128px;
        color: #999;
        fill: #999;
    }

    .empty__label {
        color: #999;
        font-size: 24px;
        font-family: medium;
    }
</style>

<template>
    <iron-signals on-iron-signal-favoriteschanged="_loadObjects"></iron-signals>
    <template is="dom-if" if="{{isCollectionEmpty}}">
        <div class="empty">
            <div class="empty__container">
                <iron-icon class="empty__illustration" icon="favorite"></iron-icon>
                <div class="empty__label">{{localize('favorites_no_favorites')}}</div>
            </div>
        </div>
    </template>
    <div class="results__list" id="resultslist">
        <template is="dom-if" if="{{!isCollectionEmpty}}">
            <paper-card>
                <template is="dom-repeat" items="{{products}}" as="product">
                    <rrd-favorites-list-item
                        fb-collection-path="products"
                        fb-object-pointer="[[product._id]]">
                    </rrd-favorites-list-item>
                </template>
            </paper-card>
        </template>
    </div>
</template>

<script>
Polymer({
    is: "rrd-favorites",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDAppLocalizeBehavior,
        RRDToastBehavior
    ],
    properties: {

        /* PouchDB db object*/
        db: {
            type: Object,
            notify: true
        },

        /* Array of retrieved products (ids) */
        products: {
            type: Array,
            notify: true
        },

        /* Computed to show if there are no favorited products */
        isCollectionEmpty: {
            type: Boolean,
            notify: true,
            value: false,
            computed: "_computeIsCollectionEmpty(products)"
        }
    },

    /* initializes DB object once */
    ready: function () {
        this.db = new PouchDB("favorited_products", {revs_limit:1, auto_compact: true});
        this._loadObjects();
    },

    /* Helper method that actually loads objects from DB */
    _loadObjects: function() {
        var localThis = this;
        localThis.db.allDocs({include_docs: true}).then(function(results) {
            var rows = results.rows;
            var onlyDocs = [];
            for (var i = rows.length - 1; i >= 0; i--) {
                onlyDocs.push(rows[i].doc);
            }
            localThis.set("products", onlyDocs);
        }).catch(function(err){
            console.log("error in favorites");
            console.log(err);
        });
    },

    /* Compute method to check if there are no objects (null & count) */
    _computeIsCollectionEmpty: function() {
        if (this.products && this.products.length > 0) {
            return false;
        } else {
            return true;
        }
    }
});
</script>

</dom-module>
