<dom-module id="rrd-favorites-list-item">

<style>
    :host {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
    }

    paper-card {
        display: block;
        padding: 0 !important;
        border-top: 1px solid var(--dark-spanider-color);
        position: relative;
        overflow: hidden;
    }

    .product {
        border-bottom: 1px solid #ddd;
        display: block;
        text-decoration: none;
        cursor: pointer;
        cursor: hand;
    }

    .product__name {
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        display: block;
    }

    @media all and (min-width: 768px) {
        .product__name {
            font-size: 24px;
            line-height: 1.333333333;
        }
    }

    .product__price-code {
        overflow: hidden;
    }

    .product__price {
        display: inline-block;
        margin: 0 8px 0 0;
        color: #929ff;
        font-size: 16px;
        line-height: 24px;
    }

    .product__code {
        display: inline-block;
        color: #999;
        font-size: 16px;
        line-height: 24px;
    }

    .product__description--mobile {
        display: block;
        padding: 12px 0;
        margin: 0 16px;
        border-top: 1px solid #f0f0f0;
        color: rgba(0, 0, 0, 0.57);
        font-size: 14px;
        line-height: 20px;
    }

    @media all and (min-width: 768px) {
        .product__description--mobile {
            display: none;
        }
    }

    .product__description--tablet {
        display: none;
    }

    @media all and (min-width: 768px) {
        .product__description--tablet {
            display: block;
            color: rgba(0, 0, 0, 0.57);
            font-size: 20px;
            font-family: light;
            line-height: 1.3333333;
            margin-top: 2px;
        }
    }

    .flex {
        padding: 8px 24px;
        display: block;
    }

    @media all and (min-width: 768px) {
        .flex {
            padding: 8px 0;
        }
    }

    .product__container {
        display: block;
        @apply(--layout);
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
    }

    iron-image {
        height: 120px;
        width: 120px;
        margin: 16px 0 0 16px;
    }

    @media all and (min-width: 768px) {
        iron-image {
            width: 33.33333%;
            margin: 16px 0 0;
            height: 200px;
        }

        .product__price-code {
            margin: 2px 0 0;
        }
    }

    @media all and (min-width: 1024px) {
        iron-image {
            width: 25%;
        }
    }

    .spare-parts {
        background: #f9f9f9;
        overflow: hidden;
    }

    .spare-parts__part {
        border-bottom: 1px solid #eee;
        padding: 16px 16px;
        font-size: 14px;
        line-height: 16px;
    }

    .spare-parts__part-price-code {
        overflow: hidden;
        margin: 4px 0 0;
    }

    .spare-parts__part-price {
        display: inline-block;
        color: var(--primary-color);
    }

    .spare-parts__part-code {
        color: #999;
        display: inline-block;
        margin: 0 0 0 4px;
    }

    @media all and (min-width: 768px) {
        .spare-parts__part {
            float: left;
            width: 50%;
            border-right: 1px solid #eee;
            box-sizing: border-box;
        }
    }
</style>

<template>
    <template is="dom-if" if="[[retrieve]]">
        <rrd-firebase-document
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>

    <div class="product" on-tap="showDetails">
        <span class="product__container">
            <iron-image
                src$="[[originalObject.cover_photo_url]]"
                sizing="contain"
                item-icon>
            </iron-image>
            <span class="flex">
                <span class="product__name">[[originalObject.name]]</span>
                <span class="product__price-code">
                    <span class="product__price">{{formatPrice(originalObject.price)}}</span>
                    <span class="product__code">[[originalObject.code]]</span>
                    <span class="product__description product__description--tablet"><span>[[originalObject.lead]]</span></span>
                </span>
            </span>
        </span>
        <template is="dom-if" if="{{product.lead}}">
            <span class="product__description product__description--mobile"><span>{{originalObject.lead}}</span></span>
        </template>
    </div>
    <template is="dom-if" if="[[spareParts]]">
        <div class="spare-parts">
            <template is="dom-repeat" items="[[product.spare_parts]]">
                <div class="spare-parts__part">
                    <div class="spare-parts__part-name">[[item.name]]</div>
                    <div class="spare-parts__part-price-code">
                        <div class="spare-parts__part-price">{{formatPrice(item.price)}}</div>
                        <div class="spare-parts__part-code">[[item.code]]</div>
                    </div>
                </div>
            </template>
        </div>
    </template>
</template>

<script>
Polymer({
    is: "rrd-favorites-list-item",
    behaviors: [
        Polymer.IronFitBehavior,
        RRDCommonObjectHandlingBehavior,
        RRDScrollBehavior
    ],
    properties: {
        originalObject: {
            type: Object,
            notify: true
        },
        spareParts: {
            type: Boolean,
            notify: true,
            value: false
        },
        color: {
            type: String,
            notify: true
        }
    },

    showDetails: function() {
        page("/products/" + this.fbObjectPointer);
        this.resetScroll();
    }
});
</script>

</dom-module>
