<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-fit-behavior/iron-fit-behavior.html">

<link rel="import" href="../bower_components/iron-scroll-target-behavior/iron-scroll-target-behavior.html">

<link rel="import" href="../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../bower_components/iron-iconset/iron-iconset.html">

<link rel="import" href="../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">

<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<!-- TODO: REMOVE -->
<!-- <link rel="import" href="../bower_components/app-pouchdb/pouchdb.html"> -->

<!-- <link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../bower_components/neon-animation/neon-shared-element-animation-behavior.html"> -->

<!-- Paper elements -->
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/all-imports.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">


<link rel="import" href="../bower_components/google-youtube/google-youtube.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<link rel="import" href="../bower_components/marked-element/marked-element.html">
<link rel="import" href="../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../bower_components/gold-phone-input/gold-phone-input.html">
<link rel="import" href="../bower_components/gold-zip-input/gold-zip-input.html">

<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../bower_components/polymer-sortablejs/polymer-sortablejs.html">


<!-- Uncomment next block to enable Service Worker Support (2/2) -->
<!--
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="../bower_components/platinum-sw/platinum-sw-register.html">
-->


<link rel="import" href="routing.html">

<link rel="import" href="../styles/app-theme.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="rrd-app-localize-behavior/rrd-app-localize-behavior.html">
<!-- <link rel="import" href="rrd-statusbar-color/rrd-statusbar-color.html"> -->
<link rel="import" href="rrd-icons.html">
<link rel="import" href="rrd-offline-sync-element/rrd-offline-sync-element.html">
<link rel="import" href="rrd-common-object-handling-behavior/rrd-common-object-handling-behavior.html">
<link rel="import" href="rrd-file-upload-element/rrd-file-upload-element.html">
<link rel="import" href="rrd-file-upload-element/rrd-multiple-file-upload-element.html">
<link rel="import" href="rrd-firebase-element/rrd-firebase-manager.html">
<link rel="import" href="rrd-firebase-element/rrd-firebase-collection.html">
<link rel="import" href="rrd-firebase-element/rrd-firebase-document.html">
<link rel="import" href="rrd-favorites-manager/rrd-favorites-manager.html">
<link rel="import" href="rrd-search/rrd-search.html">
<link rel="import" href="rrd-scroll-behavior/rrd-scroll-behavior.html">
<link rel="import" href="rrd-swiper/rrd-swiper.html">
<link rel="import" href="rrd-search/rrd-search-provided-collection.html">
<link rel="import" href="rrd-auth/rrd-auth.html">
<link rel="import" href="rrd-toast-element/rrd-toast-element.html">
<link rel="import" href="rrd-toast-element/rrd-toast-behavior.html">
<link rel="import" href="rrd-login-aware-element/rrd-login-aware-element.html">
<link rel="import" href="rrd-login-element/rrd-login-element.html">
<link rel="import" href="tupp-user-login-element/tupp-user-login-element.html">
<link rel="import" href="rrd-related-elements-behavior/rrd-related-elements-behavior.html">
<link rel="import" href="rrd-form-related-elements/rrd-form-related-elements.html">
<link rel="import" href="rrd-form-behavior/rrd-form-behavior.html">
<link rel="import" href="rrd-reorder-objects/rrd-reorder-objects.html">
<link rel="import" href="rrd-catalogue/rrd-product-form.html">
<link rel="import" href="rrd-catalogue/rrd-product-new.html">
<link rel="import" href="rrd-catalogue/rrd-product-list-item.html">
<link rel="import" href="rrd-catalogue/rrd-product-details.html">
<link rel="import" href="rrd-catalogue/rrd-product-related-inline.html">
<link rel="import" href="rrd-catalogue/rrd-products.html">
<link rel="import" href="rrd-catalogue/rrd-catalogue-sections.html">
<link rel="import" href="rrd-howtos/rrd-howtos.html">
<link rel="import" href="rrd-bonus-points/rrd-bonus-points.html">
<link rel="import" href="rrd-distributors/rrd-distributors.html">
<link rel="import" href="rrd-articles/rrd-articles.html">
<link rel="import" href="rrd-logout/rrd-logout.html">
<link rel="import" href="rrd-navigation-drawer/rrd-navigation-drawer.html">
<link rel="import" href="rrd-paper-header/rrd-paper-header-toolbar.html">
<link rel="import" href="rrd-paper-header/rrd-paper-header-content.html">
<link rel="import" href="tupp-spare-parts/tupp-spare-parts.html">
<link rel="import" href="rrd-favorites/rrd-favorites.html">
