<iron-iconset-svg name="rrd" size="24">
	<svg>
		<defs>
			<g id="catalogue" transform="translate(3 0)"><path d="M-2-5h24v24H-2z" fill="none" fill-rule="evenodd"/><path d="M0 8h20v11H0zM1 6h18v1H1zM2 4h16v1H2z"/></g>
			<g id="consultants"><path d="M21.614 19.927c-.57-1.305-3.348-2.168-5.195-2.98-1.822-.798-1.602-1.287-1.66-1.946.984.143 2.57.027 3.38-1.88 0 0-1.6.873-1.6-.366 0-.85 1.52-2.463 1.52-5.214 0-2.75-2.433-5.54-6.026-5.54S6.127 4.948 6.127 7.858c0 2.91 2.13 4.78 1.065 5.357 0 0-.632.373-1.33-.17 0 0 .842 2.184 3.443 1.88 0 .017-.003.033-.004.05-.066.672.13 1.163-1.718 1.974-1.847.81-4.626 1.673-5.195 2.978C1.817 21.232 2.045 22 2.045 22h19.91s.23-.768-.34-2.073z"/><path d="M0 0h24v24H0z" fill="none" fill-rule="evenodd"/></g></g>
			<g id="favorites"><path d="M-3-5h24v24H-3z"/><path d="M13.5 0c-2 0-3.8 1.3-4.5 3-.7-1.7-2.5-3-4.5-3C2 0 0 1.9 0 4.5 0 8 3.8 10.8 9 16c5.2-5.2 9-8 9-11.5C18 1.9 16 0 13.5 0z" fill="none"/><path d="M21 19H-3V-5h24v24z" fill="none" fill-rule="evenodd"/></g>
			<g id="party"><path d="M-2-2h24v24H-2z" fill="none" fill-rule="evenodd"/><path d="M13.5 4.5h5.508c.548 0 .992.443.992 1.01v1.98c0 .558-.455 1.01-.992 1.01H.992A.995.995 0 0 1 0 7.49V5.51C0 4.95.455 4.5.992 4.5H6.5A2.5 2.5 0 1 1 10 1a2.5 2.5 0 1 1 3.5 3.5zM1 10h18v9H1v-9zm7-6.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></g>
			<g id="promotions"><path d="M-5-4h24v24H-5z" fill="none" fill-rule="evenodd"/><path d="M.9 5.76v1.46h1.06c-.02.32-.02.64-.02.98v.78H.9v1.48h1.18c.46 3.14 2.04 4.74 5.06 4.74 2.86 0 4.52-1.44 4.52-3.6H9.2c0 .92-.86 1.4-2 1.4-1.56 0-2.22-.9-2.52-2.54h4.24V8.98H4.54V8.2c0-.34 0-.66.02-.98h4.36V5.76H4.7C5.02 3.84 5.78 3 7.22 3c1.1 0 1.98.48 1.98 1.4h2.46c0-2.16-1.7-3.6-4.46-3.6-3.18 0-4.64 1.9-5.1 4.96H.9z"/></g>
			<g id="recipes"><path d="M-2-2h24v24H-2z" fill="none" fill-rule="evenodd"/><path d="M11.87.898c4.84.844 8.062 4.988 8.062 7.267 0 2.545-4.02 1.8-9.828 1.8S.27 10.71.27 8.164c0-2.42 3.635-6.94 8.98-7.384C9.5.317 9.98 0 10.533 0c.6 0 1.113.37 1.337.898zM12.853 18.96h1.937l3.705-8.086H1.6L5.62 18.96h1.86l-1.336-6.663.76-.24 1.386 6.903h1.512v-6.793h.784v6.793h1.456l1.385-6.903.76.24-1.337 6.663z"/></g>
			<g id="tupperware"><path d="M-2-1h24v24H-2z" fill="none" fill-rule="evenodd"/><path d="M12.64 4.4H20V0H0v4.4h7.267V22h5.374V4.4z" /></g>
			<g id="logout"><path d="M5 0v18.456h4.075V24l9.827-5.37V0H5zm4.075 5.488v12.25H5.72V.957h12.068L9.075 5.49z" fill-rule="evenodd"/></g>
		</defs>
	</svg>
</iron-iconset-svg>