/*
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

@font-face {
    font-family: "bold";
    src: url("../fonts/tupperpro-bold-webfont.woff2") format("woff2"),
         url("../fonts/tupperpro-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "light";
    src: url("../fonts/tupperpro-light-webfont.woff2") format("woff2"),
         url("../fonts/tupperpro-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "medium";
    src: url("../fonts/tupperpro-medium-webfont.woff2") format("woff2"),
         url("../fonts/tupperpro-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "normal";
    src: url("../fonts/tupperpro-normal-webfont.woff2") format("woff2"),
         url("../fonts/tupperpro-normal-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ultralight";
    src: url("../fonts/tupperpro-ultralight-webfont.woff2") format("woff2"),
         url("../fonts/tupperpro-ultralight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hand";
    src: url("../fonts/tupperware_handwriting_10.10-webfont.woff2") format("woff2"),
         url("../fonts/tupperware_handwriting_10.10-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icons";
    src: url("../fonts/tupperwarenewicons_4-webfont.woff2") format("woff2"),
    url("../fonts/tupperwarenewicons_4-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  background: #fafafa;
  font-family: normal !important;
  color: #333;
}

paper-card {
  font-family: normal !important;
}

#mainpages {
	padding-left: 0;
	padding-right: 0;
}

#selectionBar {
	background: #fff;
}

.account-switcher {
	background: url(../images/logo.png) center center no-repeat #fff;
	background-size: 80%;
	height: 152px;
}

.spacer {
	@apply(--layout-flex);
}

.toolbar-tools.paper-toolbar paper-icon-button[icon=arrow-back] {
	margin-right: 24px;
}

.toolbar-tools.paper-toolbar paper-icon-button[icon=close] {
	margin-right: 24px;
}

paper-tabs {
	width: 100%;
}

iron-pages {
	width: 100%;
}

a {
	text-decoration: none;
}
