<dom-module id="shared-styles">
<template>
<style>
    .right {
        text-align: right;
    }

    .cms__fieldset {
        border: 0;
        border-bottom: 1px solid var(--dark-divider-color);
        padding: 24px 0;
        margin: 0;
    }

    .cms__fieldset--save {
        margin-left: -4px;
        border: 0;
    }

    .cms__fieldset-container {
        margin: 0 auto;
        max-width: 600px;
        padding: 0 24px;
    }

    .cms__fieldset-subcontainer {
        width: 100%;
        display: inline-block;
        clear: both;
    }

    .cms__fieldset-subcontainer--to-be-fixed {
        padding-top: 16px;
    }

    .cms__fieldset-subcontainer--images {
        margin-left: -8px;
        margin-bottom: -8px;
        padding: 16px 0 0;
    }

    .cms__heading {
        margin: 0;
        font-weight: 500;
    }

    .cms__actions {
        margin: 0 0 -10px -12px;
    }

    .cms__card {
        display: block;
        width: 100%;
        margin: 16px 0 0;
    }

    .cms__card-header {
        padding: 16px 16px 0;
        position: relative;
    }

    .cms__card-heading {
        margin: 0;
    }

    .cms__card-header-action {
        position: absolute;
        top: 5px;
        right: 2px;
        color: var(--primary-text-color);
    }

    .cms__row {
        margin: 0 0 0 -16px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .cms__col {
        padding: 0 0 0 16px;
        width: 33.33333%;
        float: left;
        box-sizing: border-box;
    }

    .cms__cancel {
        margin: -66px auto 0;
        max-width: 600px;
        padding-left: 200px;
        padding-bottom: 24px;
    }

    @media all and (max-width: 647px) {
        .cms__cancel {
            padding-left: 112px
        }
    }

    .cms__card-content {
        padding: 0 16px 16px;
    }

    paper-fab {
        position: fixed; 
        z-index: 1;
        -webkit-transform: translateZ(0);
        bottom: 16px;
        right: 16px; 
    }

    paper-fab.add {
        --paper-fab-background: var(--paper-light-blue-500);
    }

    paper-fab.reorder {
        position: fixed; 
        z-index: 1;
        -webkit-transform: translateZ(0);
        bottom: 80px;
        right: 16px; 
        --paper-fab-background: var(--paper-light-blue-500);
    }

    .preloader {
        @apply(--layout-fit);
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
    }
    .preview {
        background: #eee;
        display: block;
        padding: 16px 16px 8px;
    }

    .swiper-pagination-bullet-active {
        background: var(--primary-text-color) !important;
    }

    .shadow .shadow-mask {
        height: 8px;
        background: #ec008c;
        position: fixed;
        top: 49px;
        left: 0;
        width: 100%;
        z-index: 1000001;
    }

    .shadow .shadow-line {
        position: fixed;
        top: 56px;
        left: 0;
        width: 100%;
        z-index: 666;
        height: 1px;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 0 5px #000; /* rgba(0, 0, 0, .5); */
        z-index: 1000000;
    }

    @media (min-width: 601px) {
        .shadow .shadow-mask {
            top: 57px;
        }

        .shadow .shadow-line {
            top: 64px;
        }
    }
    .login__prompt-box {
        border: 1px solid var(--light-divider-color);
        border-radius: 4px;
        padding: 20px 0 0 24px;
        margin: 0 0 24px;
        font-size: 12px;
    }

    .login__prompt-box .login__prompt-content {
        margin: 0;
        padding-right: 24px;
    }

    .login__prompt-box a {
        font-family: medium;
        color: #000;
        text-decoration: none;
    }

    .login__prompt-box span {
        display: block;
        margin: 1em 0 0;
    }

    @media all and (min-width: 768px) {
        .login__prompt-box span {
            display: inline;
            margin: 0;
        }
    }

    .login__prompt-actions p {
        text-align: right;
        padding-right: 8px;
    }

    paper-button[raised][disabled] {
        border: 1px solid #f0f0f0;
        background: none;
    }
</style>
</template>
</dom-module>
