<!-- 
# RRD Search Provided Collection
This element isn't viesual. It's goes is to take objects as input, apply search query and return results. 


Basic usage:
```html
<rrd-firebase-collection 
    fb-collection-path="products" 
    fb-objects="{{allProducts}}">
</rrd-firebase-collection>
    
<rrd-search-provided-collection 
    fb-objects="[[allProducts]]"
    objects="{{products}}" 
    search-query="[[searchQuery]]" 
    search-fields="[[searchIndexFields.products]]"
    limit="4">
</rrd-search-provided-collection>
```

 -->

<dom-module id='rrd-search-provided-collection'>

<script>
Polymer({
    is: 'rrd-search-provided-collection',
    properties: {

        /* Provided query string*/
        searchQuery: {
            type: String, 
            notify: true
        },

        /* All objects array to index and search within */
        fbObjects: {
            type: Array,
            notify: true
        }, 

        /* Found objects but limited to "limit param" */
        objects: {
            type: Array,
            notify: true,
            value: []
        },     

        /* All found objects */
        foundObjects: {
            type: Array,
            notify: true
        },

        /* Search Objects (Fuse.js) */
        search: {
            type: Object,
            notify: true
        },

        /* Array of fields to include in search */
        searchFields: {
            type: Array,
            notify: true
        },

        /* How many objects to return in "objects" property*/
        limit: {
            type: Number,
            notify: true,
            value: 4
        }      
    },

    observers: [
        '_addFBObjectsToSearch(fbObjects.*, searchFields)',
        '_performSearch(searchQuery)'
    ],

    /** 
    * Observer method that starts when FB Objects are set. 
    * Results are set too, to first N (limit) objects from FB Objects
    */
    _addFBObjectsToSearch: function() {
        var options = {
            caseSensitive: false,
            includeScore: false,
            shouldSort: true,
            threshold: 0.3,
            location: 0,
            distance: 400,
            maxPatternLength: 100,
            keys: this.searchFields
        };
        this.search = new Fuse(this.fbObjects, options);
        this.set('objects', this.fbObjects.slice(0,this.limit));
    },

    /** 
    * Observer method that starts when searchQuery changes. 
    */
    _performSearch: function() {
        // console.log('SEARCH QUERY: %s', this.searchQuery);
        if(this.searchQuery && this.searchQuery.length>2) {
            this.set('foundObjects', this.search.search(this.searchQuery));
            // console.log('FOUND OBJECTS: %s', this.foundObjects);
            if (this.searchQuery === '' && this.fbObjects.length > 0) {
                this.set('objects', this.fbObjects.slice(0,this.limit));
            } else {
                this.set('objects', this.foundObjects.slice(0,this.limit));
            }        
        } else {
            if (this.searchQuery === "" && this.fbObjects) {
                this.set('objects', this.fbObjects.slice(0,this.limit));
            }
        }
    },

    ready: function() {
        this.search = new Fuse([]);
    }
});
</script>

</dom-module>