<link rel="import" href="rrd-search-provided-collection.html">

<!--
# RRD Search

This element is a viesual element that does the search and shows the results.

First there are all products and recipes retrieved, then passed to RRD Search Provided Collection
Search provided collection needs searchquery and search fields (fields to include in indexing)

Results are then displayed divided into two sections (Products and Recipes)

If you need to add other collection to search, do the same thing with other Collection and display section.
 -->
<dom-module id="rrd-search">

<style>
    .search {
        @apply(--layout-fit);
    }

    .search__query {
        background: #fff;
        width: 100%;
        padding: 8px 26px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.07) 0 3px 3px;
        z-index: 3;
        position: relative;
    }

    @media all and (min-width: 1281px) {
        .search__query {
            padding: 8px 16px;
        }
    }

    .search__results {
        @apply(--layout-flex);
        @apply(--layout-vertical);
    }

    .results__container {
        padding: 0 0 8px;
    }

    .results__list {
        @apply(--layout-flex);
        overflow: auto;
        z-index: 1;
        position: relative;
    }

    paper-card {
        margin: 8px;
        display: block;
    }

    h3 {
        font-size: 14px;
        line-height: 16px;
        font-family: medium;
        color: var(--primary-color);
        padding-left: 16px;
        margin-top: 16px;
    }
</style>

<template>
    <rrd-firebase-collection
        fb-collection-path="products"
        fb-objects="{{allProducts}}">
    </rrd-firebase-collection>

    <rrd-firebase-collection
        fb-collection-path="recipes"
        fb-objects="{{allHowtos}}">
    </rrd-firebase-collection>

    <rrd-search-provided-collection
        fb-objects="[[allProducts]]"
        objects="{{products}}"
        search-query="[[searchQuery]]"
        search-fields="[[searchIndexFields.products]]"
        limit="4">
    </rrd-search-provided-collection>

    <rrd-search-provided-collection
        fb-objects="[[allHowtos]]"
        objects="{{howtos}}"
        search-query="[[searchQuery]]"
        search-fields="[[searchIndexFields.howtos]]"
        limit="4">
    </rrd-search-provided-collection>

    <div class="search layout vertical">
        <div class="search__query">
            <paper-input
                name="searchQuery"
                placeholder="{{localize('search_type_what_youre_looking_for')}}"
                no-label-float
                value="{{searchQuery}}">
            </paper-input>
        </div>
        <template is="dom-if" if="{{results}}">
            <div class="search__results results layout">
                <div class="results__list">
                    <paper-card>
                        <div class="results__container">
                            <template is="dom-if" if="[[products.length]]">
                                <h3>{{localize('search_products_label')}}</h3>
                                <template is="dom-repeat" items="[[products]]" >
                                    <rrd-product-list-item
                                        fb-collection-path="products"
                                        fb-object-pointer="[[item._id]]"
                                        original-object="[[item]]">
                                    </rrd-product-list-item>
                                </template>
                            </template>
                            <template is="dom-if" if="[[howtos.length]]">
                                <h3>{{localize('search_recipes_label')}}</h3>
                                <template is="dom-repeat" items="[[howtos]]" >
                                    <rrd-howto-list-item
                                        fb-collection-path="recipes"
                                        fb-object-pointer="[[item._id]]"
                                        original-object="[[item]]">
                                    </rrd-howto-list-item>
                                </template>
                            </template>
                        </div>
                    </paper-card>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
Polymer({
    is: "rrd-search",
    behaviors: [
        RRDAppLocalizeBehavior
    ],
    properties: {

        /* The query user inputs. It's then passed to RRD Search Provided Collections elements*/
        searchQuery: {
            type: String,
            notify: true
        },

        /* Found products */
        products: {
            type: Array,
            notify: true,
            value: []
        },

        /* Found howtos */
        howtos: {
            type: Array,
            notify: true,
            value: []
        },

        /* Object that holds array of fields to search per key (check ready() method)  */
        searchIndexFields: {
            type: Object,
            notify: true
        },

        /* If the results are in or not */
        results: {
            type: Boolean,
            notify: true,
            computed: "_getResultsStatus(searchQuery, products, howtos)"
        }
    },

    /**
    * Helper method to compute results boolean
    * @return {Boolean}
    */
    _getResultsStatus: function() {
        if(this.searchQuery != "" && (this.products.length > 0 || this.howtos.length > 0)) {
            return true;
        } else {
            return false;
        }
    },

    ready: function() {
        this.searchIndexFields = {};
        this.set("searchIndexFields.products", ["name", "code"]);
        this.set("searchIndexFields.howtos", ["name", "ingredients"]);
    }
});
</script>

</dom-module>
