<link rel="import" href="tbp-promotional-product.html">
<link rel="import" href="tbp-promotional-product-form.html">

<dom-module id="tbp-promotional-products">

<style is="custom-style" include="shared-styles"></style>
<style>
    paper-card {
        margin: 8px;
        --paper-card-header-color: #000;
        display: block;
    }

    paper-material {
        display: inline-block;
        background: white;
        box-sizing: border-box;
        margin: 8px;
        padding: 16px;
        border-radius: 2px;
        width: 360px;
    }

    .preloader {
        @apply(--layout-fit);
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
    }

    .app-name {
        margin: 40px;
        padding: 16px;
    }

    h3 {
        margin: 16px;
        padding: 16px;
    }

    paper-scroll-header-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--paper-grey-200, #eee);
    }

    .cards {
        margin: 0 auto;
        max-width: 600px;
    }

    @media (min-width: 724px) {
        .cards {
            padding: 48px 62px;
        }
    }

    .header_image {
        height: 200px;
        width: 100%;
    }

    .title {
        @apply(--paper-font-title);
        color: var(--default-primary-color);
        display: block;
        margin: 0 0 8px;
        white-space: normal !important;
    }

    .description {
        @apply(--paper-font-body1);
    }

    .card-actions {
        border: 0;
        text-align: right;
        padding-right: 0;
        margin-right: 0;
        padding-top: 0;
        margin-top: 0;
    }

    paper-button {
        color: var(--primary-color);
        margin-right: 4px;
        font-size: 14px;
        font-family: medium;
    }

    .bonus-points-range__label {
        color: #929ff;
        display: block;
        padding: 16px;
        line-height: 1;
        white-space: normal !important;
        font-size: 24px;
        font-family: medium;
        border-bottom: 1px solid #ddd;
    }

    .bonus-points-range__products {
        overflow: hidden;
    }

    .bonus-points-range__products-product {
        width: 50%;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 16px 0 0;
        box-sizing: border-box;
        float: left;
    }

    @media all and (min-width: 768px) {
        .bonus-points-range__products-product {
            width: 33.33333%;
        }
    }

    @media all and (min-width: 1024px) {
        .bonus-points-range__products-product {
            width: 25%;
        }
    }

    .bonus-points-range__products-product:odd {
        border-right: 0;
        background: yellow;
        overflow: hidden;
    }

    .bonus-points-range__products-product-photo {
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto;
    }

    .bonus-points-range__products-product-name {
        font-size: 12px;
        line-height: 14px;
        padding-top: 6px;
        color: rgba(0, 0, 0, 0.87);
        border-top: 1px solid #ddd;
        margin: 0 16px 0 16px;
    }

    .bonus-points-range__products-product-price-code {
        display: block;
        margin: 4px 16px 16px 16px;
        font-size: 12px;
        line-height: 14px;
    }

    .bonus-points-range__products-product-price {
        color: var(--primary-color);
        display: inline-block;
    }

    .bonus-points-range__products-product-code {
        color: #999;
        display: inline-block;
    }
</style>

<template>
    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>
    <rrd-firebase-collection
        id="firebaseid"
        fb-collection-path="[[fbCollectionPath]]"
        fb-object-pointer="[[fbObjectPointer]]"
        fb-objects="{{promotionalProducts}}">
    </rrd-firebase-collection>
    <!-- <paper-card>
        <div class="card-content">Organiser des événements Tupperware, collecter des points pour les produits vendus, les points d"échange pour les produits.</div>
        <div class="card-actions">
            <paper-button on-click="switchToBonusPoints">Voir les détails Etoiles</paper-button>
        </div>
    </paper-card> -->
    <template is="dom-if" if="[[isInCmsMode]]">
        <paper-card>
            <template is="dom-if" if="[[!inEditMode]]">
                <paper-button on-click="showNewForm">
                    <iron-icon icon="icons:add-circle-outline"></iron-icon>
                    Add new product
                </paper-button>
            </template>
            <template is="dom-if" if="[[inEditMode]]">
                <div class="inline-edit">
                    <tbp-promotional-product-form
                        original-object="{{originalObject}}"
                        altered-object="{{alteredObject}}"
                        is-saving="{{isSaving}}">
                    </tbp-promotional-product-form>
                    <div class="cms__cancel">
                        <paper-button on-click="toggleEditMode" noink>
                            Cancel
                        </paper-button>
                    </div>
                </div>
            </template>
        </paper-card>
    </template>
    <template is="dom-if" if="[[!promotionalProducts.length]]">
        <div class="preloader">
            <paper-spinner alt="Loading products" active></paper-spinner>
        </div>
    </template>
    <paper-card>
        <template is="dom-if" if="[[promotionalProducts.length]]">
            <div class="bonus-points-range">
                <div class="bonus-points-range__label">✪ {{localize('common_for_stars_only_products_name')}}</div>
                <div class="bonus-points-range__products">
                    <template is="dom-repeat" items="[[promotionalProducts]]" as="product">
                        <tbp-promotional-product
                            fb-collection-path="[[fbCollectionPath]]"
                            fb-object-pointer="[[product._id]]"
                            original-object="{{product}}">
                        </tbp-promotional-product>
                    </template>
                </div>
            </div>
        </template>
    </paper-card>
</template>

<script>
Polymer({
    is: "tbp-promotional-products",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior,
        RRDAppLocalizeBehavior
    ],
    properties: {
        promotionalProducts: {
            type: Array,
            notify: true
        }

    },
    showNewForm: function() {
        this.set("originalObject", {});
        this.toggleEditMode();
    },
    switchToBonusPoints: function() {
        this.fire("iron-signal", {name: "bonus", data: { tab: 2 }});
        this.fire("iron-signal", {name: "tab", data: { tab: 2 }});
    }
});
</script>

</dom-module>
