<link rel="import" href="tbp-promotional-product-form.html">

<dom-module id="tbp-promotional-product">
    
<style>
    paper-card {
        margin: 8px;
        --paper-card-header-color: #000;
        display: block;
    }

    paper-material {
        display: inline-block;
        background: white;
        box-sizing: border-box;
        margin: 8px;
        padding: 16px;
        border-radius: 2px;
        width: 360px;
    }

    .app-name {
        margin: 40px;
        padding: 16px;
    }

    h3 {
        margin: 16px;
        padding: 16px;            
    }

    paper-scroll-header-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--paper-grey-200, #eee);
    }

    .cards {
        margin: 0 auto;
        max-width: 600px;
    }

    @media (min-width: 724px) { 
        .cards {
            padding: 48px 62px;
        }
    }

    .header_image {
        height: 200px;
        width: 100%;
    }

    .title {
        @apply(--paper-font-title);
        color: var(--default-primary-color);
        display: block;
        margin: 0 0 8px;
        white-space: normal !important;
    }

    .description {
        @apply(--paper-font-body1);
    }

    .card-actions {
        border: 0;
        text-align: right;
        padding-right: 0;
        margin-right: 0;
    }

    paper-button {
        color: var(--primary-color);
        margin-right: 6px;
    }

    .bonus-points-range__label {
        color: #929ff;
        display: block;
        padding: 16px;
        line-height: 1;
        white-space: normal !important;
        font-size: 24px;
        font-family: medium;
        border-bottom: 1px solid #ddd;
        background: red !important;
    }

    .bonus-points-range__products {
        overflow: hidden;
    }

    .bonus-points-range__products-product {
        width: 50%;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 16px 0 0;
        box-sizing: border-box;
        float: left;
    }

    @media all and (min-width: 768px) {
        .bonus-points-range__products-product {
            width: 33.33333%;
        }
    }

    @media all and (min-width: 1024px) {
        .bonus-points-range__products-product {
            width: 25%;
        }
    }

    .bonus-points-range__products-product:odd {
        border-right: 0;
    }

    .bonus-points-range__products-product-photo {
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto;
    }

    .bonus-points-range__products-product-name {
        font-size: 12px;
        line-height: 14px;
        padding-top: 6px;
        color: rgba(0, 0, 0, 0.87);
        border-top: 1px solid #ddd;
        margin: 0 16px 0 16px;
    }

    .bonus-points-range__products-product-price-code {
        display: block;
        margin: 4px 16px 16px 16px;
        font-size: 12px;
        line-height: 14px;
    }

    .bonus-points-range__products-product-price {
        color: var(--primary-color);
        display: inline-block;
    }

    .bonus-points-range__products-product-code {
        color: #999;
        display: inline-block;
    }
</style>

<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>
    <template is="dom-if" if="{{retrieve}}">
        <rrd-firebase-document 
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>
  
    <!-- Dialog -->
    <paper-dialog id="deleteconfirmationdialog" modal on-iron-overlay-closed="dialogClosed">
        <h2>Are you sure you want to delete?</h2>
        <p>There is no undo</p>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Yes, delete</paper-button>
        </div>
    </paper-dialog> 
      
    <template is="dom-if" if="[[!inEditMode]]">
        <template is="dom-if" if="[[isInCmsMode]]"> 
            <div class="card-actions">
                <paper-button on-click="toggleEditMode">
                    <iron-icon icon="editor:mode-edit"></iron-icon>
                    Edit
                </paper-button>            
                <paper-button on-click="showDeleteConfirmationDialog">
                    <iron-icon icon="icons:delete"></iron-icon>
                    Delete
                </paper-button>
            </div>
        </template>
        <div class="bonus-points-range__products-product">
            <template is="dom-if" if="[[originalObject.cover_photo_url]]">
                <img src$="[[originalObject.cover_photo_url]]" alt="" class="bonus-points-range__products-product-photo">
            </template>
            <div class="bonus-points-range__products-product-name">[[originalObject.name]]</div>
            <div class="bonus-points-range__products-product-price-code">
                <div class="bonus-points-range__products-product-price">✪ 
                [[originalObject.bonus_points_needed]]</div>
                <div class="bonus-points-range__products-product-code">[[originalObject.code]]</div>
            </div>
        </div>
    </template>

    <template is="dom-if" if="[[inEditMode]]">
        <tbp-promotional-product-form 
            original-object="{{originalObject}}" 
            altered-object="{{alteredObject}}" 
            is-saving="{{isSaving}}">
        </tbp-promotional-product-form>
        <paper-button on-click="toggleEditMode">
            <iron-icon icon="icons:cancel"></iron-icon>
            Cancel
        </paper-button>  
    </template>
</template>

<script>
Polymer({
    is: "tbp-promotional-product",
    behaviors: [ 
        RRDCommonObjectHandlingBehavior,
        RRDScrollBehavior
    ],    
    properties: {
        metaValue: {
            type: String,
            notify: true
        }
    },
    handleObjectSaved: function(e) {
        this.isSaving = false;
        this.inEditMode = false;
    }
});
</script>

</dom-module>