<dom-module id='tbp-promotional-product-form'>

<style is="custom-style" include="shared-styles"></style>

<template>
    <form is="iron-form" id="form" method="post" class="cms">
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Product Header</h2>
                <paper-input label='Name' 
                    name='name' 
                    required 
                    error-message='Name is required' 
                    value='{{localObject.name}}' 
                    disabled='{{isSaving}}'>
                </paper-input>
                <paper-input 
                    label='Code' 
                    name='code' 
                    required error-message='Code is required' 
                    value='{{localObject.code}}' 
                    disabled='{{isSaving}}'>
                </paper-input>        
                <paper-input 
                    label='Bonus Points Needed' 
                    name='bonus_points_needed' 
                    value='{{localObject.bonus_points_needed}}' 
                    type='number' 
                    step='any' 
                    prevent-invalid-input 
                    disabled='{{isSaving}}'>
                </paper-input>  
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Cover Photo</h2>
                <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--images">
                    <rrd-file-upload-element single uploaded-file-url="{{localObject.cover_photo_url}}"></rrd-file-upload-element>
                </div>
            </div>
        </fieldset>

        <fieldset class="cms__fieldset cms__fieldset--save">
            <div class="cms__fieldset-container">
                <paper-button raised on-tap="submitForm" disabled="{{!isSuitableForSaving}}">Save</paper-button>
            </div>
        </fieldset> 
    </form>
</template>

<script>
Polymer({
    is: 'tbp-promotional-product-form',
    behaviors: [
        RRDFormBehavior
    ]
});
</script>

</dom-module>