<!-- 
# RRD Toast Element
A signleton that resides in index.html and waits for Iron signal "showtoast".

Along with the signal will come toastText. 

If an element would like to implement toast. It just needs to use RRD Toast Behavior.
 -->

<dom-module id="rrd-toast-element">

<template>
    <iron-signals on-iron-signal-showtoast="showToast"></iron-signals>
    <paper-toast 
        id="thetoast" 
        text="[[toastText]]">  
    </paper-toast>    
</template>

<script>
Polymer({
    is: "rrd-toast-element",
    properties: {

        /* The toast to show to the user */
        toastText: {
            type: String,
            notify: true
        }
    },
    
    /**
    * Called by Iron Signal, shows the toast with toastText from e.detail
    * @param {Event} e Event containing toast tex in e.detail
    */
    showToast: function(e) {
        this.toastText = e.detail;
        this.$.thetoast.open();
    },
    
    /**
    * Closes toast
    */
    hide: function() {
        this.$.thetoast.close();
    }
});
</script>

</dom-module>