<!-- 
# RRD Auth
Responsible for Firebase user authentication 
-->

<dom-module id="rrd-auth">

<template>
    <iron-meta id="metaisLoggedIn" key="isLoggedIn" value="{{isLoggedIn}}"></iron-meta>
    <iron-meta id="metaisAdmin" key="isAdmin" value="{{isAdmin}}"></iron-meta>
    <iron-meta id="metaloggedInUserEmail" key="loggedInUserEmail" value="{{loggedInUserEmail}}"></iron-meta>
</template>

<script>
Polymer({
    is: "rrd-auth",
    properties: {
        
        /*  user object that will be set from Firebase Auth */
        user: {
            type: Object,
            notify: true    
        },

        /* Set true if user id in firebase is added to "/admins/"  */
        isAdmin: {
            type: Boolean,
            notify: true,
            value: false,
            observer: "_informStatusChange"
        },

        /* Set e-mail that user used to sign in. Not used now. */
        loggedInUserEmail: {
            type: String,
            notify: true
        },

        /* Set to true if the user is logged in */
        isLoggedIn: {
            type: Boolean,
            notify: true,
            value: false
        },

        /* Computed fwith signed in user.uid. _checIfAdmin method observes for changed and recomputes for admin status  */
        fbAdminCheckLocation: {
            type: String,
            notify: true,
            computed: "_computeFbAdminCheckLocation(user.uid)",
            observer: "_checkIfAdmin",
            value: null
        }

    },

    /* Starts on ready and listens for auth status changes from firebase. Reacts by setting logged in and logged out */
    _listenForUserChanges: function(){
        var localThis = this;
        firebase.auth().onAuthStateChanged(function(user) {
            localThis.set("user", user);
            if (user) {
                console.log("User is in");
                localThis._setLoggedIn();
            } else {
                console.log("User is NOT in");
                localThis._setLoggedOut();
            // No user is signed in.
            }
        });
    },
    
    ready: function() {
        this._setLoggedOut();
        this._listenForUserChanges();
    },

    /** 
    * @param {Object} authObject has to have .email and .password properties
    */
    login: function(authObject) {
        var localThis = this;
        firebase.auth().signInWithEmailAndPassword(authObject.email, authObject.password).catch(function(error) {
            var errorCode = error.code;
            var errorMessage = error.message;
            localThis.notifyAuthenticationError(errorMessage);
        });
    },

    /** 
    * Logges user out
    */
    logout: function() {
        firebase.auth().signOut();
    },

    /** 
    * If there is an error, it'll notify (on-loginerror)
    */
    notifyAuthenticationError: function(errorMessage) {
        this.fire("loginerror", {errorMessage: errorMessage});
    },

    /** 
    * Computes location in Firebase database to check if user is admin or not
    * If the key is there with "true" as value, then user is an admin
    */
    _computeFbAdminCheckLocation: function() {
        if (this.user) {
            return "/admins/" + this.user.uid;    
        } else {
            return null;
        }
        
    },

    /* Helper method for logging out and informing other elements */
    _setLoggedOut: function() {
        this.set("isLoggedIn", false);
        this.set("loggedInUserEmail", null);
        this._informStatusChange();
    },

    /* Helper method for logging in and informing other elements */
    _setLoggedIn: function() {
        this.set("isLoggedIn", true);
        // this.set("loggedInUserEmail", this.user.password.email);
        this._informStatusChange();
    },

    /* Helper method for informing other elements */
    _informStatusChange: function() {
        this.fire("iron-signal", {name: "loginstatuschanged", data: null});
    },

    /* Helper method for actually checking if user is an admin */
    _checkIfAdmin: function() {
        if (this.fbAdminCheckLocation) {
            var localThis = this;
            firebase.database().ref(this.fbAdminCheckLocation).once("value").then(function(snapshot) {
                if (snapshot.val() === true) {
                    localThis.set("isAdmin", true);
                } else {
                    localThis.set("isAdmin", false);
                }
            });    
        }
        
    }

});
</script>

</dom-module>
