<link rel="import" href="tbp-bonus-points-for-money/tbp-bonus-points-for-money.html">
<!-- <link rel="import" href="tbp-promotional-products/tbp-promotional-products.html"> -->
<link rel="import" href="tbp-star-ordered-products/tbp-star-ordered-products.html">

<!--
# RRD Bonus Points

Superspecific element for Tupperware only.

This is just a container element that handles switching between other elements.

Have a look at RRD Paper toolbar to see how tabs are implemented
-->
<dom-module id="rrd-bonus-points">
<style is="custom-style" include="shared-styles"></style>

<template>
    <iron-signals on-iron-signal-bonus="handleSignal"></iron-signals>

    <iron-signals
        on-iron-signal-refreshobjects="_refreshAtelierArticle">
    </iron-signals>

    <iron-pages selected="{{selected}}">
        <rrd-article-details
            fb-collection-path="{{atelierArticleCollection}}"
            fb-object-pointer="{{atelierArticlePointer}}">
        </rrd-article-details>
        <tbp-star-ordered-products
            fb-collection-path="products">
        </tbp-star-ordered-products>
        <tbp-bonus-points-for-money
            fb-collection-path="bonus_points_for_money_spent"
            fb-object-pointer="">
        </tbp-bonus-points-for-money>
    </iron-pages>
</template>

<script>
Polymer({
    is: "rrd-bonus-points",
    properties: {

        /* Selected tab pages */
        selected: {
            type: Number,
            notify: true,
            value: 0
        },

        /**
        * There first tab is an article that lives in /atelier/atelier
        * we us this trick to listen for refresh objects Iron Signal. Check the method to see the * trick.
        */
        atelierArticleCollection: {
            type: String,
            notify: true,
            value: "atelier"
        },

        /* Atelier article pointer */
        atelierArticlePointer: {
            type: String,
            notify: true,
            value: "atelier"
        }
    },

    /* Handles Iron Signal that tels which tab is selected so it can swhit Iron Pages */
    handleSignal: function(event, data) {
        this.selected = data.tab;
    },

    _refreshAtelierArticle: function() {
        this.set("atelierArticleCollection", "FAKE");
        this.set("atelierArticlePointer", "FAKE");

        var localThis = this;
        setTimeout(function() {
            localThis.set("atelierArticleCollection", "atelier");
            localThis.set("atelierArticlePointer", "atelier");
        },1000);

    }
});
</script>

</dom-module>
