<link rel="import" href="tbp-star-ordered-product.html">

<!--
#TBP Star Ordered Products

Element i superspecific to Tupperware.
Products are ordered by bonus points (stars) and displayed in star count groups

 -->
<dom-module id="tbp-star-ordered-products">

<style>
    iron-list {
        @apply(--layout-fit);
    }

    paper-card {
        margin: 8px;
        --paper-card-header-color: #000;
        display: block;
    }



    .bonus-points-range__label {
        color: #929ff;
        display: block;
        padding: 16px;
        line-height: 1;
        white-space: normal !important;
        font-size: 24px;
        font-family: medium;
        border-bottom: 1px solid #ddd;
    }

    .bonus-points-range__products {
        overflow: hidden;
    }
</style>

<template>
    <rrd-firebase-collection
        fb-collection-path="{{fbCollectionPath}}"
        fb-objects="{{products}}">
    </rrd-firebase-collection>

    <iron-list id="starorderedproduct" items$="{{bonusPointsAndProducts}}" as="bonusPointsAndProduct">
        <template>
        <paper-card elevation="0">
            <div class="bonus-points-range">
                <div class="bonus-points-range__label">
                    ✪ [[bonusPointsAndProduct.bonus_points]]
                </div>
                <div class="layout horizontal wrap">
                    <template is="dom-repeat" items$="{{bonusPointsAndProduct.products}}" as="product">
                        <tbp-star-ordered-product
                            fb-collection-path="[[fbCollectionPath]]"
                            fb-object-pointer="[[product._id]]"
                            original-object="{{product}}">
                        </tbp-star-ordered-product>
                    </template>
                </div>
            </div>
        </paper-card>
        </template>
    </iron-list>
</template>

<script>
Polymer({
    is: "tbp-star-ordered-products",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior,
        Polymer.IronResizableBehavior
    ],
    properties: {

        /* Array of products retrieved from DB */
        products: {
            type: Array,
            notify: true
        },

        /* Computer Array of groups of products grouped by bonus points (stars) count */
        bonusPointsAndProducts: {
            type: Array,
            notify: true
        }
    },

    observers: [
        "_computebonusPointsAndProducts(products.*)"
    ],

    /* Compute method. When products change this method groups them by bonus points count and sets bonusPointsAndProducts property to the result */
    _computebonusPointsAndProducts: function(products) {
        var tmpObj = {};
        var i, len;
        for (i = 0, len = this.products.length;  i < len; ++i) {
            var bonus_points = this.products[i].bonus_points;
            var product = this.products[i];
            if (!tmpObj[bonus_points]) {
                tmpObj[bonus_points] = [];
            }
            tmpObj[bonus_points].push(product);
        }
        var arr = Object.keys(tmpObj).map(function(key) {
            return {
                bonus_points: key,
                products: tmpObj[key]
            };
        });
        this.set("bonusPointsAndProducts", arr);
    }
});
</script>

</dom-module>
