<dom-module id="rrd-howto-list-item">

<style>
    iron-image {
        width: 40px;
        height: 40px;
    }
</style>

<template>
    <rrd-firebase-document 
        id="fbref" 
        fb-collection-path="[[fbCollectionPath]]" 
        fb-object-pointer="[[fbObjectPointer]]" 
        fb-object="{{originalObject}}">
    </rrd-firebase-document>        
    <paper-icon-item on-tap="goToDetails">
        <iron-image src$="{{originalObject.cover_photo_url}}" sizing="cover" item-icon></iron-image>
        <paper-item-body>
            <div>{{originalObject.name}}</div>
        </paper-item-body>
    </paper-icon-item>
</template>

<script>
Polymer({
    is: "rrd-howto-list-item",
    behaviors: [
        Polymer.IronFitBehavior,
        RRDCommonObjectHandlingBehavior
    ],

    goToDetails: function() {
        page('/recipes/' + this.fbObjectPointer + "/" + this.originalObject.hex_color);
    }
});      
</script>

</dom-module>