<dom-module id="rrd-howto-form">

<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        background: #fff;
        display: block;
    }
</style>

<template>
    <form is="iron-form" id="form" method="post" class="cms">
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Recipe header</h2>
                <paper-input 
                    label="Title" 
                    name="name" 
                    required 
                    error-message="Title is required" 
                    value="{{localObject.name}}" 
                    disabled="{{isSaving}}">
                </paper-input>
                <div class="cms__row">
                    <div class="cms__col">
                        <paper-input 
                            label="Portions" 
                            name="portions" 
                            required 
                            error-message="Portions are required" 
                            value="{{localObject.portions}}" 
                            disabled="{{isSaving}}">
                        </paper-input>    
                    </div>
                    <div class="cms__col">
                        <paper-input 
                            label="Cost" 
                            name="cost" 
                            value="{{localObject.cost}}" 
                            disabled="{{isSaving}}" 
                            autovalidate>
                            <div suffix>€</div>
                        </paper-input>
                    </div>
                </div>
                <div class="cms__row">
                    <div class="cms__col">
                        <paper-input 
                            label="Cooking time" 
                            name="cookingtime" 
                            value="{{localObject.cooking_time.cooking}}" 
                            disabled="{{isSaving}}" 
                            autovalidate>
                        </paper-input>
                    </div>
                    <div class="cms__col">
                        <paper-input 
                            label="Preperation time" 
                            name="preperationtime" 
                            value="{{localObject.cooking_time.preparation}}" 
                            disabled="{{isSaving}}" 
                            autovalidate>
                        </paper-input>
                    </div>
                </div>

                <paper-input 
                    label="Color" 
                    name="hex_color" 
                    value="{{localObject.hex_color}}" 
                    disabled="{{isSaving}}">
                </paper-input>
                
                <paper-toggle-button 
                    name="consultant_only" 
                    checked="{{localObject.consultant_only}}">
                    Consultant only?
                </paper-toggle-button>
            </div>
        </fieldset>

        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Cover Photo</h2>
                <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--images">
                    <rrd-file-upload-element 
                        single 
                        uploaded-file-url="{{localObject.cover_photo_url}}">
                    </rrd-file-upload-element>
                </div>
            </div>
        </fieldset>

        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Ingredients</h2>
                <paper-textarea 
                    name="ingredients" 
                    value="{{localObject.ingredients}}" 
                    label="Ingredients" 
                    disabled="{{isSaving}}">
                </paper-textarea>
                <h4 class="cms__heading">Preview</h4>
                <marked-element markdown="[[localObject.ingredients]]">
                    <div class="markdown-html preview"></div>
                </marked-element>
            </div>
        </fieldset>      

        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Preperation Method</h2>
                <paper-textarea 
                    name="preperation_method" 
                    value="{{localObject.preperation_method}}" 
                    label="Preperation Method" 
                    disabled="{{isSaving}}">
                </paper-textarea>
                <h3 class="cms__heading">Preview</h3>
                <marked-element markdown="[[localObject.preperation_method]]">
                    <div class="markdown-html preview"></div>
                </marked-element>

            </div>
        </fieldset>      
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Related Products</h2>
                <rrd-form-related-elements 
                    fb-collection-path="products"
                    related-objects="{{localObject.used_products}}">
                </rrd-form-related-elements>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset cms__fieldset--save">
            <div class="cms__fieldset-container">
                <paper-button raised on-tap="submitForm" disabled="{{!isSuitableForSaving}}">Save</paper-button>
            </div>
        </fieldset>
    </form>
</template>

<script>
Polymer({
    is: "rrd-howto-form",
    behaviors: [
        RRDFormBehavior
    ],

    initializeAdditionalProperties: function() {
        if (this.localObject) {
            if (!this.localObject.used_products) {
                this.set("localObject.used_products", []);
            }
            if (!this.localObject.cooking_time) {
                this.set("localObject.cooking_time", {});
            }
        }
    }
});
</script>

</dom-module>