<link rel="import" href="rrd-howto-form.html">
<link rel="import" href="rrd-howto-inline-product-inline.html">

<dom-module id="rrd-howto-inline">

<style>
    :host {
        display: block;
    }

    paper-card {
        display: block;
        padding: 0;
        margin: 8px 8px 0;
        overflow: hidden;
    }

    .recipe {
        display: block;
        text-decoration: none;
        color: #999;
    }

    .recipe__name {
        display: block;
        font-size: 24px;
        line-height: 1;
        font-family: medium;
        padding: 16px 16px;
        color: #fff;
    }

    .recipe__photo {
        width: 100%;
        height: 200px;
        display: block;
    }

    .recipe__description {
        display: block;
        padding: 8px 16px 16px;
        overflow: hidden;
    }

    .recipe__description-header {
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        line-height: 1;
        margin-top: 8px;
        margin-left: 29px;
        margin-bottom: 4px;
        letter-spacing: 0.1em;
    }

    .recipe__description-time {
        color: #333;
        display: block;
        position: relative;
    }

    .recipe__description-time iron-icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    .recipe__description-time-label {
        display: block;
        margin-left: 29px;
    }

    .recipe__description-product {
        overflow: hidden;
    }

    .recipe__description-product-photo {
        width: 24px;
        float: left;
        margin: -4px 4px 0 0;
    }

    .recipe__description-product-name {
        color: #333;
    }

    @media all and (min-width: 768px) {
        paper-card {
            height: 400px;
        }

        .recipe__photo {
            width: 50%;
            height: 400px;
            float: left;
            box-sizing: border-box;
        }

        .recipe__name {
            box-sizing: border-box;
            width: 50%;
            height: 200px;
            padding: 12px;
            float: left;
            font-family: medium;
            position: relative;
        }

        .recipe__name-container {
            position: absolute;
            bottom: 16px;
            left: 16px;
            width: 90%;
        }

        .recipe__description {
            box-sizing: border-box;
            width: 50%;
            height: 200px;
            float: left;
        }
    }

    @media all and (min-width: 1024px) {
        .recipe__name {
            font-size: 30px;
            line-height: 1.333333;
        }
    }
</style>

<template>
    <template is="dom-if" if="[[retrieve]]">
        <rrd-firebase-document id="fbref"
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>

    <!--<div hidden="{{!originalObject.cover_photo_url}}">-->
        <paper-card on-tap="goToDetails">
            <div class="recipe">
                <iron-image src="[[originalObject.cover_photo_url]]" sizing="cover" class="recipe__photo"></iron-image>
                <span class="recipe__name" style$="{{s}}">
                    <span class="recipe__name-container">
                        [[originalObject.name]]
                    </span>
                </span>
                <span class="recipe__description">
                    <div hidden$="[[!originalObject.cooking_time.cooking]]">
                        <span class="recipe__description-header">{{localize('howto_in_time')}}</span>
                        <span class="recipe__description-time">
                            <iron-icon icon="image:timelapse"></iron-icon>
                            <span class="recipe__description-time-label">
                                [[originalObject.cooking_time.cooking]]
                            </span>
                        </span>
                    </div>
                    <template id="products" is="dom-repeat" items="{{usedProducts}}">
                        <template is="dom-if" if="[[isFirstIndex(index)]]">
                            <span class="recipe__description-header">{{localize('howto_with_the_use_of')}}</span>
                        </template>
                        <template is="dom-if" if="[[!isFirstIndex(index)]]">
                            <span class="recipe__description-header"></span>
                        </template>
                        <rrd-howto-inline-product-inline
                            fb-collection-path="products"
                            fb-object-pointer="{{item.pointer}}">
                        </rrd-howto-inline-product-inline>
                    </template>
                </span>
            </div>
        </paper-card>
    </paper-card>
</template>

<script>
Polymer({
    is: "rrd-howto-inline",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDScrollBehavior,
        RRDAppLocalizeBehavior
    ],
    properties: {
        originalObject: {
            type: Object,
            notify: true
        },
        metaValue: {
            type: String,
            notify: true
        },
        s: {
            type: String,
            computed: "getS(originalObject)",
            notify: true
        },
        usedProducts: {
            type: Array,
            notify: true,
            computed: "_computeUsedProducts(originalObject.used_products.*)",
            value: []
        }
    },

    _computeUsedProducts: function() {
        if(this.originalObject && this.originalObject.used_products) {
            return this.originalObject.used_products.slice(0, 3);
        } else {
            return [];
        }
    },

    goToDetails: function(pointer) {
        page("/recipes/" + this.fbObjectPointer + "/" + this.originalObject.hex_color);
        this.resetScroll();
    },

    getS: function() {
        if(this.originalObject.hex_color) {
            return "background:#" + this.originalObject.hex_color;
        } else {
            return "background:#999";
        }
    },


    isFirstIndex: function(index) {
        if (index === 0) {
            return true;
        } else {
            return false;
        }
    }
});
</script>

</dom-module>
