<link rel="import" href="rrd-howto-form.html">

<dom-module id="rrd-howto-details">

<style is="custom-style" include="shared-styles"></style>
<style>
    .preloader {
        @apply(--layout-fit);
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
    }

    .howto {
        background: #fff;
        background-size: 8px 8px;
        color: rgba(0, 0, 0, 0.87);
    }

    .howto__container {
        overflow: hidden;
    }

    .howto--with-grid {
        background: url(/images/grid.png) #fff;
        background-size: 8px 8px;
    }

    .howto__name {
        font-size: 24px;
        font-family: medium;
        line-height: 32px;
        padding: 16px;
        color: #fff;
    }

    .howto__cost {
        display: inline-block;
        color: #929ff;
    }

    .howto__photo-image {
        --iron-image-width: 100%;
        width: 100%;
        margin: 0;
        display: block;
    }

    .howto__description p, .howto__description ul, .howto__description ol {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 12px;
    }

    .howto__description ul, .howto__description li, .howto__description ol {
        margin: 0;
        padding: 0;
    }

    .howto__description ul li {
        margin: 0 0 8px 16px;
    }

    .howto__description ol li {
        margin: 0 0 8px 11px;
        padding-left: 8px;
    }

    .howto__description strong {
        font-family: medium;
    }

    .howto__description i {
        color: #929ff;
        font-style: normal;
    }

    .howto__description code {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #999;
    }

    .howto__details {
        padding: 24px 24px 16px 24px;
    }

    .howto__detail {
        color: #fff;
    }

    .howto__detail {
        padding: 8px 0 0;
        overflow: hidden;
    }

    .howto__detail iron-icon {
        float: left;
    }

    .howto__details--tablet iron-icon {
        color: #fff;
    }

    .howto__detail--name {
        font-size: 24px;
        line-height: 24px;
        margin: -8px 0 8px 0;
        font-family: medium;
    }

    .howto__detail-label {
        font-size: 16px;
        line-height: 20px;
        padding-left: 32px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 8px;
    }

    .howto__detail strong {
        font-family: medium;
    }

    .header {
        font-size: 16px;
        font-family: medium;
        line-height: 24px;
        margin: 0 0 13px;
    }

    @media all and (min-width: 768px) {
        .header {
            font-size: 20px;
            line-height: 1.5;
        }
    }

    .header--card {
        font-size: 16px;
        line-height: 48px;
        padding: 0 16px;
        border-bottom: 1px solid #ddd;
        margin: 0;
    }

    .content {
        margin: 0 0 25px;
    }

    paper-card {
        margin: 8px;
        display: block;
    }

    .howto__photo-image--tablet {
        display: none;
    }

    .howto__description-container {
        overflow: hidden;
        padding: 24px 24px 0;
    }

    .howto__related-products {
        padding: 0 16px 16px;
    }

    @media all and (max-width: 767px) {
        .howto__description--preparation {
            padding-top: 0;
        }
    }

    @media all and (min-width: 768px) {
        .howto__details {
            width: 50%;
            float: left;
            box-sizing: border-box;
            height: 400px;
            padding: 0 24px;
            display: table;
        }

        .howto__details-container {
            display: table-cell;
            height: 400px;
            vertical-align: middle;
        }

        .howto__description-container .howto__description {
            width: 50%;
            float: left;
            box-sizing: border-box;
        }

        .howto__description-container .howto__description:last-child {
            padding-top: 23px;
        }

        .howto__photo-image {
            width: 50%;
            height: 400px;
            float: left;
        }

        .howto__photo-image--tablet {
            display: block;
        }

        .howto__photo-image--mobile {
            display: none;
        }

        .howto__detail--name {
            font-size: 38px;
            line-height: 1.2;
        }

        .howto__description p, .howto__description ul, .howto__description ol {
            font-size: 14px;
            line-height: 1.33333333;
            margin: 0 0 14px;
        }

        .howto__description-header {
            font-size: 24px;
            line-height: 32px;
        }
    }

    @media all and (min-width: 880px) {
        .howto__detail--name {
            font-size: 46px;
        }
    }
</style>

<template>
    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-firebase-document id="pouch"
        fb-collection-path="[[fbCollectionPath]]"
        fb-object-pointer="[[fbObjectPointer]]"
        fb-object="{{originalObject}}">
    </rrd-firebase-document>

    <paper-dialog id="deleteconfirmationdialog" modal on-iron-overlay-closed="dialogClosed">
        <h2>Are you sure you want to delete?</h2>
        <p>There is no undo</p>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Yes, delete</paper-button>
        </div>
    </paper-dialog>

    <template is="dom-if" if="[[!inEditMode]]">

        <template is="dom-if" if="[[isInCmsMode]]">
            <paper-card>
                <div class="card-actions">
                    <paper-button on-click="toggleEditMode">
                        <iron-icon icon="editor:mode-edit"></iron-icon>
                        Edit
                    </paper-button>

                    <paper-button on-click="showDeleteConfirmationDialog">
                        <iron-icon icon="icons:delete"></iron-icon>
                        Delete
                    </paper-button>
                </div>
            </paper-card>
        </template>

        <div hidden$="[[originalObject]]">
            <div class="preloader">
                <paper-spinner alt="Loading" active></paper-spinner>
            </div>
        </div>

        <template is="dom-if" if="[[originalObject]]">
            <div class="howto">
                <div class="howto__container">
                    <div class="howto__photo">
                        <iron-image src="[[originalObject.cover_photo_url]]" class="howto__photo-image howto__photo-image--mobile"></iron-image>
                        <iron-image src="[[originalObject.cover_photo_url]]" class="howto__photo-image howto__photo-image--tablet" sizing="cover" id="{{hero1id}}"></iron-image>
                    </div>
                    <div class="howto__details" style$="{{headerStyle}}">
                        <div class="howto__details-container">
                            <div class="howto__detail howto__detail--name">[[originalObject.name]]</div>
                            <template is="dom-if" if="[[originalObject.cooking_time.preparation]]">
                                <div class="howto__detail howto__detail--preparation">
                                    <iron-icon icon="image:timelapse"></iron-icon>
                                    <div class="howto__detail-label">
                                        <strong>{{localize('howto_preparation_time')}}:</strong>
                                        <span>[[originalObject.cooking_time.preparation]]</span>
                                    </div>
                                </div>
                            </template>
                            <template is="dom-if" if="[[originalObject.cooking_time.cooking]]">
                                <div class="howto__detail howto__detail--cooking">
                                    <iron-icon icon="image:timelapse"></iron-icon>
                                    <div class="howto__detail-label">
                                        <strong>{{localize('howto_cooking_time')}}:</strong>
                                        <span>[[originalObject.cooking_time.cooking]]</span>
                                    </div>
                                </div>
                            </template>
                            <template is="dom-if" if="[[originalObject.portions]]">
                                <div class="howto__detail howto__detail--portions">
                                    <iron-icon icon="maps:local-dining"></iron-icon>
                                    <div class="howto__detail-label">
                                        <strong>{{localize('howto_portions')}}:</strong>
                                        <span>[[originalObject.portions]]</span>
                                    </div>
                                </div>
                            </template>
                            <template is="dom-if" if="[[originalObject.cost]]">
                                <div class="howto__detail howto__detail--cost">
                                    <iron-icon icon="account-balance-wallet"></iron-icon>
                                    <div class="howto__detail-label">
                                        <strong>{{localize('howto_cost')}}:</strong>
                                        <span>[[originalObject.cost]]</span>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="howto__description-container">
                    <template is="dom-if" if="{{shouldDisplayDetails}}">
                        <div class="howto__description howto__description--ingredients">
                            <div class="howto__description-header header">{{localize('howto_ingredients')}}</div>
                            <div class="howto__description-content content">
                                <marked-element markdown="[[originalObject.ingredients]]">
                                    <div class="markdown-html description"></div>
                                </marked-element>
                            </div>
                        </div>
                        <div class="howto__description howto__description--preparation">
                            <div class="howto__description-header header">{{localize('howto_preparation_method')}}</div>
                            <div class="howto__description-content content">
                                <marked-element markdown="[[originalObject.preperation_method]]">
                                    <div class="markdown-html description"></div>
                                </marked-element>
                            </div>
                        </div>
                    </template>
                    <template is="dom-if" if="{{!shouldDisplayDetails}}">
                        <div class="login__prompt-box">
                            <div class="login__prompt-header header">       {{localize('login_prompt_for_conultants_only')}}
                            </div>
                            <div class="login__prompt-content content">
                                <p>
                                    {{localize('login_prompt_to_se_more_info')}}
                                    <span>{{localize('login_prompt_what_to_do')}}</span>
                                </p>
                            </div>
                            <div class="login__prompt-actions">
                                <p>
                                    <paper-button on-tap="goToBonusPoints">{{localize('login_prompt_become_a_consultant_action_name')}}</paper-button>
                                    <paper-button on-tap="goToLogin">{{localize('login_prompt_login_action_name')}}</paper-button>
                                </p>
                            </div>
                        </div>
                    </template>
                </div>
                <template is="dom-if" if="[[originalObject.used_products]]">
                    <div class="howto__related-products">
                        <paper-card class="howto__related-products-card">
                            <div class="howto__related-products-header header header--card"> {{localize('howto_used_products')}}</div>
                            <div class="layout horizontal wrap">
                                <template is="dom-repeat" items="[[originalObject.used_products]]">
                                    <rrd-products-grid-item
                                        fb-collection-path="products"
                                        fb-object-pointer="[[item.pointer]]">
                                    </rrd-products-grid-item>
                                </template>
                            </div>
                        </paper-card>
                    </div>
                </template>
            </div>
        </template>
    </template>

    <template is="dom-if" if="[[inEditMode]]">
        <rrd-howto-form
            original-object="{{originalObject}}"
            altered-object="{{alteredObject}}"
            is-saving="{{isSaving}}">
        </rrd-howto-form>
        <div class="cms__cancel">
            <paper-button on-click="toggleEditMode">
                <iron-icon icon="icons:cancel"></iron-icon>
                Cancel
            </paper-button>
        </div>
    </template>

</template>

<script>
Polymer({
    is: "rrd-howto-details",
    behaviors: [
        Polymer.IronScrollTargetBehavior,
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior,
        RRDScrollBehavior,
        RRDAppLocalizeBehavior
    ],
    properties: {
        metaValue: {
            type: String,
            notify: true
        },
        headerStyle: {
            type: String,
            computed: "_computeHeaderStyle(originalObject)",
            notify: true
        },
        shouldDisplayDetails: {
            type: Boolean,
            notify: true,
            computed: "_computeShouldDisplayDetails(isLoggedIn,originalObject.*)"
        }
    },

    _computeHeaderStyle: function() {
        if(typeof this.originalObject != "undefined" && this.originalObject != null) {
            if(typeof this.originalObject.hex_color != "undefined") {
                return "background:#" + this.originalObject.hex_color;
            }
        }

        return "background:#999";
    },

    currentObjectWasDeleted: function() {
        page("/recipes");
        this.showToast("Recipe deleted");
    },

    _computeShouldDisplayDetails: function() {
        if (this.isLoggedIn) {
            return true;
        } else {
            if(typeof this.originalObject != "undefined" && this.originalObject != null) {
                if (this.originalObject.consultant_only) {
                    return false;
                }
            }
        }
        return true;
    },

    ready: function() {
        var app = document.querySelector('#app');

        app.$.headerPanelMain._scrollHandler = app.$.headerPanelMain._scroll.bind(this);
        app.$.headerPanelMain.scroller.addEventListener('scroll', this.handleShadow);
    },

    handleShadow: function() {
        var app = document.querySelector('#app');

        var y = app.$.headerPanelMain.scroller.scrollTop;
    },

    routeObserver: function() {
        if(this.dataRoute != this.selectedRoute) {
            this.set('originalObject', null);
            this.set('originalObject', undefined);
            this.$.pouch.refreshObject();
        }
    },

    goToBonusPoints: function() {
        setTimeout(function(){
            window.page("/bonus-points/history");
        }, 250);
    },

    goToLogin: function() {
        setTimeout(function(){
            page("/login/history");
        }, 250);
    }
});
</script>

</dom-module>
