<dom-module id="rrd-howto-inline-product-inline">

<style>
    :host {
        display: block;
        height: 24px;
    }

    .recipe__description-product {
        overflow: hidden;
        position: relative;
    }

    .recipe__description-product-photo {
        width: 24px;
        float: left;
        margin-right: 5px;
    }

    .recipe__description-product-name {
        color: #333;
    }

    @media all and (max-width: 767px) {
        .recipe__description-product-photo {
            position: absolute;
            top: 0;
            left: 0;
        }

        .recipe__description-product {
            height: 24px;
        }

        .recipe__description-product-name {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 28px;
            box-sizing: border-box;
            width: calc(100% - 3px);
        }
    }
</style>

<template>
    <rrd-firebase-document
        fb-collection-path="[[fbCollectionPath]]"
        fb-object-pointer="[[fbObjectPointer]]"
        fb-object="{{product}}">
    </rrd-firebase-document>
    <span class="recipe__description-product">
        <img src="[[product.cover_photo_url]]" class="recipe__description-product-photo" alt="">
        <span class="recipe__description-product-name">[[product.name]]</span>
    </span>
</template>

<script>
Polymer({
    is: "rrd-howto-inline-product-inline",
    behaviors: [
        RRDCommonObjectHandlingBehavior
    ],
    properties: {
        product: {
            type: Object,
            notify: true,
            observer: "productObserver"
        },
        color: {
            type: String,
            notify: true
        },
        url: {
            type: String,
            notify: true,
            computed: 'getURL(fbObjectPointer, color)'
        }
    },

    behaviors: [
        Polymer.IronFitBehavior
    ],

    productObserver: function() {
        // var t = this;
        //
        // this.async(function() {
        //     t.fire("iron-signal", {name: "refresh-howtos"});
        // });
    },

    getURL: function() {
        if (this.color) {
            return "/products/" + this.fbObjectPointer + "/" + this.color;
        } else {
            return "/products/" + this.fbObjectPointer ;
        }
    }
});
</script>

</dom-module>
