<link rel="import" href="rrd-howto-inline.html">
<link rel="import" href="rrd-howto-details.html">
<link rel="import" href="rrd-howto-form.html">
<link rel="import" href="rrd-howto-list-item.html">
<link rel="import" href="rrd-howto-new.html">

<!-- 
# RRD Howtos

This works exatly like othe content elemnts - for details check RRD Articles
 -->
<dom-module id="rrd-howtos">
    
<style is="custom-style" include="shared-styles"></style>
<style>
    iron-list {
        @apply(--layout-fit);
        padding-bottom: 8px;
    }
</style>
    
<template>
    <iron-signals on-iron-signal-refresh-howtos="arrangeIronList"></iron-signals>

    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-firebase-collection 
        fb-collection-path="[[fbCollectionPath]]"
        fb-objects="{{howtos}}">
    </rrd-firebase-collection>

    <template is="dom-if" if="[[!howtos.length]]">
        <div class="preloader">
            <paper-spinner alt="Loading Recipes" active></paper-spinner>
        </div>
    </template>

    <iron-list items="[[howtos]]" as="howto" id="howtos">
        <template>
            <rrd-howto-inline 
                fb-collection-path="[[fbCollectionPath]]" 
                fb-object-pointer="[[howto._id]]"
                original-object="[[howto]]">
            </rrd-howto-inline>
        </template>
    </iron-list>

    <paper-fab 
        class="add"
        elevation="1" 
        icon="add" 
        on-click="showNewForm" 
        hidden$="{{!isInCmsMode}}">
    </paper-fab>
    <paper-fab 
        class="reorder"
        elevation="1" 
        icon="icons:reorder" 
        on-click="goToReorder" 
        hidden$="[[!isInCmsMode]]">
    </paper-fab>
</template>

<script>
Polymer({
    is: "rrd-howtos",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],

    showNewForm: function() {
        page("/recipes/new");
    },

    goToReorder: function() {
        page("/recipes/reorder");  
    },

    arrangeIronList: function(event, data) {
        this.$.howtos.fire("iron-resize");
        console.log("arrangeIronList");
    }
});
</script>

</dom-module>