<link rel="import" href="rrd-form-related-element.html">
<link rel="import" href="rrd-form-related-elements-search.html">

<!-- 
# RRD Form Related Elements

This element is responsible for showing related elements in forms
Example: preoducts related to product


Ecample usage:
```html
<rrd-form-related-elements 
    fb-collection-path="products"
    related-objects="{{localObject.related_products}}">
</rrd-form-related-elements>
```

Pointers for objects will be reflected to "related-objects propertie"
 -->
<dom-module id="rrd-form-related-elements">

<style is="custom-style" include="shared-styles"></style>

<style>
    .cms__fieldset-subcontainer--added {
        margin-top: 24px;
    }

    .cms__fieldset-subcontainer--added .item {
        border-bottom: 1px solid var(--dark-divider-color);
    }

    .cms__fieldset-subcontainer--added .item:last-of-type {
        border: 0;
    }
</style>

<template>
    <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--added">
        <sortable-js id="sortablerelated" data-id-attr="id" on-sort="_updateSort">
            <template is="dom-repeat" items="[[relatedObjects]]">
                <div id="{{item.pointer}}" class="item">
                    <rrd-form-related-element
                        fb-collection-path="[[fbCollectionPath]]" 
                        fb-object-pointer="[[item.pointer]]" 
                        index="[[index]]"
                        on-remove="removeObject">
                    </rrd-form-related-element>
                </div>
            </template>
        </sortable-js>
    </div>
    <div class="cms__fieldset-subcontainer">
        <paper-card class="cms__card">
            <rrd-form-related-elements-search 
                fb-collection-path="[[fbCollectionPath]]" 
                on-add="addObject" 
                already-added-objects="{{relatedObjects}}">
            </rrd-form-related-elements-search>            
        </paper-card>
    </div>
</template>

<script>
Polymer({
    is: "rrd-form-related-elements",
    properties: {

        /* Will have selected related elements by user */
        relatedObjects: {
            type: Array,
            notify: true
        }
    },

    /**
    * Removes object with index e.detail.index from relatedObjects
    * @param {Event} e Event object
    */
    removeObject: function(e) {
        var indexToRemove = e.detail.index;
        this.splice("relatedObjects", indexToRemove, 1);
    },

    /**
    * Adds object with pointer e.detail.pointer to relatedObjects
    * @param {Event} e Event object
    */
    addObject: function(e) {
        var pointer  = e.detail.pointer;
        
        var result = this.relatedObjects.filter(function(obj) {
            return obj.pointer === pointer; 
        })

        if (result.length === 0) {
            this.push("relatedObjects", {pointer: pointer});
        }
    },
    
    /**
    * Sorting helper method see Sortable.js for reference
    */
    _updateSort: function(e) {
        if (e.detail) {
            var ids = this.$.sortablerelated.sortable.toArray();
            var newOrderObjects = [];
            for (var i = 0; i < ids.length; i++) {
                var result = this.relatedObjects.filter(function(obj) {
                    return obj.pointer === ids[i]; 
                })
                if (result.length > 0) {
                    newOrderObjects.push({pointer: ids[i]});    
                }
                
            }
            this.set("relatedObjects", newOrderObjects);
        }
    }
});
</script>

</dom-module>