<!-- 
# RRD Form Related Elements Search

Search functionality for relate elements.

Uses RRD Search Provided Collection

Ecample usage:
```html
<rrd-form-related-elements-search 
    fb-collection-path="[[fbCollectionPath]]" 
    on-add="addObject" 
    already-added-objects="{{relatedObjects}}">
</rrd-form-related-elements-search>            
```
 -->

<dom-module id="rrd-form-related-elements-search">

<style is="custom-style" include="shared-styles"></style>

<style>
    .query {
        padding: 4px 16px 8px;
    }

    .results {
        background: #f0f0f0;
        border-top: 1px solid var(--dark-divider-color);
        padding: 8px 16px 16px;
    }

    paper-icon-item {
        background: #fff;
        border: 1px solid var(--dark-divider-color);
        margin: 8px 0 0;
    }

    paper-item-body {
        padding-left: 16px;
    }

    iron-image {
        width: 72px;
        height: 72px;
    }
</style>

<template>
    <rrd-firebase-collection 
        id="firebaseid" 
        fb-collection-path="[[fbCollectionPath]]" 
        fb-objects="{{allObjects}}">
    </rrd-firebase-collection>
    
    <rrd-search-provided-collection
        fb-objects="[[allObjects]]"
        search-query="[[searchQuery]]"
        objects="{{foundObjects}}"
        search-fields="[[searchIndexFields]]"
        limit="4">
    </rrd-search-provided-collection>
    
    <div class="query">
        <paper-input 
            name="searchQuery" 
            value="{{searchQuery}}" 
            label="Product to add"
            placeholder="Search by product name or code"
            always-float-label>
        </paper-input>
    </div>

    <div class="results">
        
        <template is="dom-repeat" items="[[foundObjects]]">
            <paper-icon-item>
                <iron-image src="[[item.cover_photo_url]]" sizing="contain" item-icon></iron-image>
                <paper-item-body two-line>
                    <span>[[item.name]]</span>
                    <span secondary>[[item.code]]</span> 
                </paper-item-body>
                <paper-icon-button 
                    icon="icons:add-circle" 
                    data-item="[[item]]" 
                    noink 
                    on-tap="objectSelected">
                </paper-icon-button>
            </paper-icon-item>
        </template>

    </div>
</template>

<script>
Polymer({
    is: "rrd-form-related-elements-search",
    properties: {

        /* Found objects after search was applied*/
        foundObjects: {
            type: Array,
            notify: true
        },

        /* Array of ocjest to be excluded from adding to related (already there) */
        alreadyAddedObjects: {
            type: Array,
            notify: true
        },

        /* User input */
        searchQuery: {
            type: String, 
            notify: true
        },

        /* Which fields to search in */
        searchIndexFields: {
            type: Array,
            notify: true,
            value: ["name", "code"]
        }
    },

    /**
    * User wants to add specified object to related
    * @param {Event} e Event object
    */
    objectSelected: function(e) {
        var pointer = e.model.__data__.item._id;
        this.fire("add", {pointer: pointer});
    }
});
</script>

</dom-module>
