
<!-- 
# RRD Form Related Element

Inline related element to show in form for specific object
Element used only in RRD Form Related Elements

Ecample usage:
```html
<rrd-form-related-element
    fb-collection-path="[[fbCollectionPath]]" 
    fb-object-pointer="[[item.pointer]]" 
    index="[[index]]"
    on-remove="removeObject">
</rrd-form-related-element>
```
 -->
 
<dom-module id="rrd-form-related-element">
    
<style is="custom-style" include="shared-styles"></style>

<style>
    paper-icon-item {
        padding-left: 0;
        padding-right: 0;
    }

    paper-item-body {
        padding-left: 16px;
    }

    iron-image {
        width: 72px;
        height: 72px;
    }
</style>

<template>
    <rrd-firebase-document 
        fb-collection-path="[[fbCollectionPath]]"
        fb-object-pointer="[[fbObjectPointer]]"
        fb-object="{{object}}">
    </rrd-firebase-document>
    <paper-icon-item>
        <iron-image src="[[object.cover_photo_url]]" sizing="contain" item-icon></iron-image>
        <paper-item-body two-line>
            <span>[[object.name]]</span>
            <span secondary>[[object.code]]</span> 
        </paper-item-body>
        <paper-icon-button 
            icon="icons:remove-circle" 
            data-item="[[item]]" 
            noink 
            on-tap="sendRemove">
        </paper-icon-button>
    </paper-icon-item>
</template>

<script>
Polymer({
    is: "rrd-form-related-element",
    properties: {

        /* Retrieved object from DB to show*/
        object: {
            type: Object,
            notify: true
        },

        /* Object inde used by RRD Form Related Elements for removal and sorting */
        index: {
            type: Number, 
            notify: true
        }
    },
    
    /* Sends event to RRD Form Related Elements with it's index when user wants to remove this object from related */
    sendRemove: function(e) {
        // var pointer = this.fbObjectPointer;
        this.fire("remove", {index: this.index});
    }
});
</script>

</dom-module>