<!--
# RRD Reorder Objects

Element is used for reordering object in a scope of a collection


Ecample usage:
Add a route to routing and RRD Paper Header Content

```html
<rrd-reorder-objects
    data-route="products-reorder"
    selected-route="{{route}}"
    fb-collection-path="products">
</rrd-reorder-objects>
```

It uses RRD Firebase Collection to get objects, then sends Iron Signal to RRD Firebase Manager to save new .priority for that collection and list of ids. It just updates .priority, doesn't alter objects.
 -->

<dom-module id="rrd-reorder-objects">

<style is="custom-style" include="shared-styles"></style>
<style>
    iron-image {
        width: 40px;
        height: 40px;
    }

    span {
        display: block;
        padding: 16px 32px 16px 0;
    }

    em {
        font-style: normal;
        color: #999;
    }
</style>

<template>
    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <template is="dom-if" if="[[!isInCmsMode]]">
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <div>CMS Mode Only</div>
            </div>
        </fieldset>
    </template>

    <template is="dom-if" if="[[isInCmsMode]]">
        <rrd-firebase-collection
            id="firebaseid"
            fb-collection-path="{{fbCollectionPath}}"
            fb-objects="{{fbObjects}}">
        </rrd-firebase-collection>
        <template is="dom-if" if="[[!objects.length]]">
            <div class="preloader">
                <paper-spinner alt="Loading" active></paper-spinner>
            </div>
        </template>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <sortable-js id="sortable" data-id-attr="id">
                    <template is="dom-repeat" items="[[fbObjects]]">
                        <paper-card id="{{item._id}}" class="cms__card">
                            <paper-icon-item>
                                <iron-image
                                    src="[[item.cover_photo_url]]"
                                    style="width:40px;height:40px"
                                    sizing="contain"
                                    item-icon>
                                </iron-image>
                                <paper-item-body two-lines>
                                    <div>[[item.priority]] - [[item.name]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </paper-card>
                    </template>
                </sortable-js>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset cms__fieldset--save">
            <div class="cms__fieldset-container">
                <paper-button raised on-tap="saveNewSorting">Save</paper-button>
            </div>
        </fieldset>
    </template>
</template>

<script>
Polymer({
    is: "rrd-reorder-objects",
    behaviors: [
        RRDToastBehavior
    ],
    properties: {

        /* List of objects to reorder (retrieved from local DB) */
        fbObjects: {
            type: Array,
            notify: true
        },

        /* Name of collection to retrieve objects from (ie "products") */
        fbCollectionPath: {
            type: String,
            notify: true
        }

    },

    /**
    * When user hits "save", Iron signal will be sent to notify
    * RRD Firebase Manager about new order
    */
    saveNewSorting: function (e) {
        var ids = this.$$("#sortable").sortable.toArray();
        ids.pop();
        var notificationObject = {
            newOrderIds: ids,
            path: this.fbCollectionPath
        };
        this.fire('iron-signal', {name: 'reorderremotecollection', data: notificationObject});

    }
});
</script>

</dom-module>
