<dom-module id="tbp-bonus-points-for-money-form">

<style is="custom-style" include="shared-styles"></style>

<template>
    <form is="iron-form" id="form" method="post">      
        <div class="card-content">
            <paper-input 
                label="From (money)" 
                name="from" 
                required 
                value="{{localObject.from}}" 
                type="number" 
                step="any" 
                prevent-invalid-input 
                disabled="{{isSaving}}">
            </paper-input>
            <paper-input 
                label="To (money)" 
                name="to" 
                required 
                value="{{localObject.to}}" 
                type="number" 
                step="any" 
                prevent-invalid-input 
                disabled="{{isSaving}}">
            </paper-input>
            <paper-input 
                label="Bonus Points" 
                name="bonus_points" 
                value="{{localObject.bonus_points}}" 
                type="number" 
                step="any" 
                prevent-invalid-input 
                disabled="{{isSaving}}">
            </paper-input> 
        </div>        
        <paper-button 
            raised 
            on-click="submitForm" 
            disabled="{{!isSuitableForSaving}}">
            Save
        </paper-button>
    </form>
</template>

<script>
Polymer({
    is: "tbp-bonus-points-for-money-form",
    behaviors: [RRDFormBehavior]
});
</script>

</dom-module>