<link rel="import" href="tbp-bonus-points-for-money-form.html">

<dom-module id="tbp-bonus-points-for-money-inline">

<style>
    .point-range {
        border-bottom: 1px solid #eee; /* TODO: Last item without border */
        padding: 8px;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
    }

    .point-range__from-separator-to {
        width: 66%;
        float: left;
    }

    .point-range__from {
        width: 70px;
        text-align: right;
    }

    .point-range__from-separator-to * {
        display: inline-block;
    }

    .point-range__separator {
        color: #999;
        margin: 0 20px;
    }
    
    .point-range__points-equivalent {
        color: var(--primary-color);
        float: left;
        width: 33%;
        text-align: right;
        box-sizing: border-box;
    }
</style>

<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>
    <template is="dom-if" if="[[retrieve]]">
        <rrd-firebase-document 
            id="fbref" 
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>
        
    <!-- Dialog -->
    <paper-dialog id="deleteconfirmationdialog" modal on-iron-overlay-closed="dialogClosed">
        <h2>Are you sure you want to delete?</h2>
        <p>There is no undo</p>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Yes, delete</paper-button>
        </div>
    </paper-dialog> 
        
       
    <template is="dom-if" if="[[!inEditMode]]">
        <template is="dom-if" if="[[isInCmsMode]]"> 
            <div class="card-actions">
                <paper-button on-click="toggleEditMode">
                    <iron-icon icon="editor:mode-edit"></iron-icon>
                    Edit
                </paper-button>
                
                <paper-button on-click="showDeleteConfirmationDialog">
                    <iron-icon icon="icons:delete"></iron-icon>
                    Delete
                </paper-button>
            </div>
        </template>
        <div class="point-range">
            <div class="point-range__from-separator-to">
                <div class="point-range__from"><span>[[formatMoney(originalObject.from)]]</span> €</div>
                <div class="point-range__separator">–</div>
                <div class="point-range__to"><span>[[formatMoney(originalObject.to)]]</span> €</div>
            </div>
            <div class="point-range__points-equivalent">✪ <span>[[originalObject.bonus_points]]</span> {{localize('common_bonus_points_name')}}</div>
        </div>
    </template>

    <template is="dom-if" if="[[inEditMode]]">
        <div class="card-content">
            <tbp-bonus-points-for-money-form 
                original-object="{{originalObject}}" 
                altered-object="{{alteredObject}}" 
                is-saving="{{isSaving}}">
            </tbp-bonus-points-for-money-form>
        </div>
        <paper-button on-click="toggleEditMode">
            <iron-icon icon="icons:cancel"></iron-icon>
            Cancel
        </paper-button>  
    </template>
</template>

<script>
Polymer({
    is: "tbp-bonus-points-for-money-inline",
    behaviors: [ 
        RRDCommonObjectHandlingBehavior,
        RRDAppLocalizeBehavior
    ],    
    properties: {
        metaValue: {
            type: String,
            notify: true
        }
    },
    formatMoney: function(input) {
        return numeral(input).format("0.00");
    }
});
</script>

</dom-module>