<link rel="import" href="tbp-bonus-points-for-money-inline.html">
<link rel="import" href="tbp-bonus-points-for-money-form.html">

<dom-module id="tbp-bonus-points-for-money">

<style is="custom-style" include="shared-styles"></style>
<style>
    .preloader {
        @apply(--layout-fit);
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
    }

    paper-card {
        display: block;
        margin: 8px;
    }
</style>

<template>
    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>
    <rrd-firebase-collection
        fb-collection-path="[[fbCollectionPath]]"
        fb-objects="{{bonusPoints}}">
    </rrd-firebase-collection>
    <div class="cards">
        <paper-card>
            <div class="card-content">
                <strong>Comment cumuler des points étoiles ?</strong>
                <ul>
                    <li>Par les rendez-vous pris au cours de l’Atelier : les rendez-vous datés dans les 8 semaines donnent chacun 2 étoiles supplémentaires !</li>
                    <li>Par le montant des commandes enregistrées au cours de l’Atelier : voir tableau ci-dessous.</li>
                </ul>
            </div>
        </paper-card>
        <template is="dom-if" if="[[isInCmsMode]]">
            <paper-card>
                <div class="card-actions">
                    <paper-button on-click="showNewForm">
                        <iron-icon icon="icons:add"></iron-icon>
                        Add new
                    </paper-button>
                </div>
            </paper-card>
        </template>

        <template is="dom-if" if="[[inEditMode]]">
            <template is="dom-if" if="[[isLoggedIn]]">
                <paper-card>
                    <div class="card-content">
                        <tbp-bonus-points-for-money-form
                            original-object="{{originalObject}}"
                            altered-object="{{alteredObject}}"
                            is-saving="{{isSaving}}">
                        </tbp-bonus-points-for-money-form>
                    </div>
                    <paper-button on-click="toggleEditMode">
                        <iron-icon icon="icons:cancel"></iron-icon>
                        Cancel
                    </paper-button>
                </paper-card>
            </template>
        </template>

        <template is="dom-if" if="[[!bonusPoints.length]]">
            <div class="preloader">
                <paper-spinner alt="Loading bonus points" active></paper-spinner>
            </div>
        </template>

        <paper-card>
            <template is="dom-repeat" items="[[bonusPoints]]" as="bonusPoint">
                <tbp-bonus-points-for-money-inline
                    fb-collection-path="[[fbCollectionPath]]"
                    fb-object-pointer="[[bonusPoint._id]]"
                    original-object="{{bonusPoint}}">
                </tbp-bonus-points-for-money-inline>
            </template>
        </paper-card>

        <paper-card>
            <div class="card-content">
                <strong>Au-delà de 1290 € :</strong>
                <p>2 étoiles par tranche de 40 € de ventes supplémentaires</p>
                <p>Exemple : de 1650 à 1689,99 € : 110 étoiles</p>
            </div>
        </paper-card>
    </div>
</template>

<script>
Polymer({
    is: "tbp-bonus-points-for-money",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],
    showNewForm: function() {
        this.toggleEditMode();
        this.set("originalObject", {});
    }
});
</script>

</dom-module>
