<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="generator" content="Tupperware" />
    <title>Premedia App</title>
    <!-- Place favicon.ico in the `app/` directory -->

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#930255" />

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json" />

    <!-- Tile color for Win8 -->
    <meta name="msapplication-TileColor" content="{{statusbarColor}}" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Tupperware" />
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png" />

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="Tupperware">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild-->


    <script src="cordova.js"></script>
    
    <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <!-- endbuild -->

    <!-- build:js bower_components/fuse.js/src/fuse.min.js -->
    <script src="bower_components/fuse.js/src/fuse.min.js"></script>
    <!-- endbuild -->

    <!-- build:js bower_components/firebase/firebase.js -->
    <script src="bower_components/firebase/firebase.js"></script>
    <!-- endbuild -->

    <!-- will be replaced with elements/elements.vulcanized.html -->
    <link rel="import" href="elements/elements.html" />
    <!-- endreplace-->

    <!-- For shared styles, shared-styles.html import in elements.html -->
    <style is="custom-style" include="shared-styles"></style>
</head>

<body unresolved class="fullbleed layout vertical">
  <span id="browser-sync-binding"></span>

    <template is="dom-bind" id="app">
        <rrd-offline-sync-element></rrd-offline-sync-element>
        <rrd-firebase-manager id="firebasemanager"></rrd-firebase-manager>
        <paper-drawer-panel id="paperDrawerPanel" disable-edge-swipe drawer-width="300px" responsive-width="1280px">
            <paper-scroll-header-panel drawer fixed id="navigationDrawer" style="background:#c929ff;box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15)">
                <rrd-navigation-drawer route="[[route]]"></rrd-navigation-drawer>
            </paper-scroll-header-panel>
            <paper-scroll-header-panel id="headerPanelMain" main fixed>
                <div class="paper-header">
                    <rrd-paper-header-toolbar
                        route="[[route]]"
                        params="[[params]]">
                    </rrd-paper-header-toolbar>
                </div>
                <div>
                    <rrd-paper-header-content
                        route="[[route]]"
                        params="[[params]]">
                    </rrd-paper-header-content>
                </div>
            </paper-scroll-header-panel>
        </paper-drawer-panel>

        <paper-toast id="toast">
            <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
        </paper-toast>

        <rrd-toast-element id='rrdtoast'></rrd-toast-element>

        <rrd-logout></rrd-logout>

    <!-- Uncomment next block to enable Service Worker support (1/2) -->

    <!-- <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest"
                         cache-config-file="cache-config.json">
      </platinum-sw-cache>
    </platinum-sw-register> -->


  </template>


  <!-- build:js scripts/app.js -->
  <script src="bower_components/fastclick/lib/fastclick.js"></script>
  <script src="bower_components/color-js/color.js"></script>
  <script src="bower_components/numeral/min/numeral.min.js"></script>
  <script src="bower_components/numeral/min/languages/fr.min.js"></script>
  <script src="bower_components/pouchdb/dist/pouchdb.min.js"></script>
  <script src="scripts/vendor/inobounce.min.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
