<!-- 
# Tupp User Login Element

This element logges in users usin RRD Auth facilitating Firebase Auth.
Tupperware app doesnt use e-mails. 
It's only login and password.

## How it works:
- There are users created that look like this: cc@tupp.com
- to every login the @tupp.com is added in the background just before signing in
- Works like a charm

 -->

<dom-module id="tupp-user-login-element">

<style>
    paper-card {
        display: block;
        margin: 8px;
    }

    @media (min-width: 480px) {
        .container {
            @apply(--layout-fit);
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-center-justified);
        }

        paper-card {
            width: 360px;
        }
    }

    .card-content--form {
        padding-top: 2px;
    }

    .buttons {
        text-align: right;
        padding-bottom: 8px;
    }
</style>

<template>
    <rrd-auth 
        id="rrdauth" 
        on-loginerror="_handleLoginError">
    </rrd-auth>

    <rrd-login-aware-element is-logged-in="{{isLoggedIn}}"></rrd-login-aware-element>
    <div class="container">
        <template is="dom-if" if="{{!isLoggedIn}}">
            <form is="iron-form" id="form" method="post">
                <paper-card>
                    <div class="card-content card-content--form">
                        <paper-input 
                            label="{{localize('login_login_label')}}" 
                            name="login" 
                            required 
                            error-message="{{localize('login_login_is_required')}}" 
                            value="{{login}}" 
                            disabled="{{isLoggingIn}}">
                        </paper-input>

                        <paper-input 
                            label="{{localize('login_password_label')}}" 
                            name="password" 
                            required 
                            error-message="{{localize('login_password_is_required')}}" 
                            value="{{password}}" 
                            type="password">
                        </paper-input>
                        <p>{{localize('login_password_gain_instructions')}}</p>
                    </div>
                    <div class="buttons">
                        <paper-button on-tap="_submitForm">{{localize('login_login_action_label')}}</paper-button>
                    </div>
                </paper-card>
            </form>
        </template>
        <template is="dom-if" if="{{isLoggedIn}}">
            <paper-card>
                <div class="card-content">
                    {{localize('login_you_are_logged_in_message')}}
                </div>
                <div class="buttons">
                    <paper-button on-tap="logout">{{localize('login_logout_action_label')}}</paper-button>
                </div>
            </paper-card>
        </template>
    </div>
</template>

<script>
Polymer({
    is: "tupp-user-login-element",
    behaviors: [
        RRDToastBehavior,
        RRDAppLocalizeBehavior
    ],
    properties: {

        /* Login that user inputed (ie cc) */
        login: {
            type: String,
            notify: true
        },

        /* Password that user inputed */
        password: {
            type: String,
            notify: true
        },

        /* Computed proper login (ie cc@tupp.com*/
        properLogin: {
            type: String,
            notify: true,
            computed: "_computeProperLogin(login)"
        }
    },
    listeners: {
        "iron-form-presubmit": "performAuthentication"
    },

    _submitForm: function(event){
        this.$$("#form").submit();
    },

    /* Authenticates the user using RRD Auth using properLogin and password */
    performAuthentication: function(event) {
        event.preventDefault();
        this.$.rrdauth.login({"email": this.properLogin, "password": this.password});
    },

    /* Logout using RRD Auth */
    logout: function(event) {
        this.$.rrdauth.logout();  
    },

    /* Login Error Handling - shows form */
    _handleLoginError: function(event) {
        this.showToast(event.detail.errorMessage);
    },

    /* Helper, compute method for properLogin (adds @tupp.com to login) */
    _computeProperLogin: function() {
        return this.login + "@tupp.com"
    }
});
</script>

</dom-module>