<!--
# RRD Navigation Drawer
Handles the "Menu" - Application Drawer

If user is logged in and is admin, adds functionality to switch to CMS mode and back
 -->

<dom-module id="rrd-navigation-drawer">

<style>
    :host {
        background: var(--primary-color);
    };

    paper-menu {
        --paper-menu-background-color: var(--primary-color);
    }

    paper-menu a {
        text-decoration: none;
        color: var(--menu-link-color);
        display: -ms-flexbox;
        display: -webkit-flex;
        display: block;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 14px;
        font-family: normal;
        line-height: 24px;
        min-height: 48px;
        background: var(--primary-color);
        color: #fff !important;
    }

    paper-menu a iron-icon {
        --iron-icon-fill-color: #fff;
    }

    paper-menu {
        --paper-menu-focused-item: {
            color: #fff;
            background: rgba(255, 255, 255, 0.1);
        };

        --paper-menu-selected-item: {
            color: #fff;
            background: rgba(255, 255, 255, 0.1);
        };
    }

    .navigation-drawer__account-switcher {
        width: 100%;
    }

    .list--bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 300px;
    }

    .list--main {
        padding-bottom: 24px;
    }
</style>

<template>
    <iron-meta key="isloggedin" value=""></iron-meta>
    <iron-meta key="isincms" value=""></iron-meta>
    <rrd-login-aware-element
        id="loginawareelement"
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}"
        is-admin="{{isAdmin}}">
    </rrd-login-aware-element>

    <img on-load="_handleLocalPath" id="image" src="../../images/icon_new_white.svg" alt="" class="navigation-drawer__account-switcher" />
    <div class="layout vertical wrap relative">
        <div class="fit">
            <paper-menu class="list list--main">
                <a data-route="catalogue" href="/" on-tap="_resetScrollTop">
                    <paper-icon-item>
                        <iron-icon icon="rrd:catalogue" item-icon></iron-icon>{{localize('menu_catalogue')}}
                    </paper-icon-item>
                </a>
                <a data-route="favorites" href="/favorites" on-tap="_resetScrollTop">
                    <paper-icon-item>
                        <iron-icon icon="favorite" item-icon></iron-icon>{{localize('menu_favorites')}}
                    </paper-icon-item>
                </a>
                <template is="dom-if" if="[[isAdmin]]">
                    <template is="dom-if" if="[[isInCmsMode]]">
                        <a data-route="products" href="/products" on-tap="_resetScrollTop">
                            <paper-icon-item>
                                <iron-icon icon="icons:folder" item-icon></iron-icon>{{localize('menu_products')}}
                            </paper-icon-item>
                        </a>
                    </template>
                </template>
                <template is="dom-if" if="[[isLoggedIn]]">
                    <a data-route="spareparts" href="/spareparts" on-tap="_resetScrollTop">
                        <paper-icon-item>
                            <iron-icon icon="icons:dashboard" item-icon></iron-icon>{{ localize('menu_spare_parts') }}
                        </paper-icon-item>
                    </a>
                </template>
                <a data-route="howtos" href="/recipes" on-tap="_resetScrollTop">
                    <paper-icon-item>
                        <iron-icon icon="rrd:recipes" item-icon></iron-icon>{{localize('menu_recipes')}}
                    </paper-icon-item>
                </a>

                <a data-route="articles" href="/articles" on-tap="_resetScrollTop">
                    <paper-icon-item>
                        <iron-icon icon="rrd:tupperware" item-icon></iron-icon>{{localize('menu_about')}}
                    </paper-icon-item>
                </a>

                <a data-route="bonus-points" href="/bonus-points" on-tap="_resetScrollTop">
                    <paper-icon-item>
                        <iron-icon icon="icons:star" item-icon></iron-icon>{{localize('menu_atelier')}}
                    </paper-icon-item>
                </a>

                <a data-route="distributors" href="/distributors" on-tap="_resetScrollTop">
                    <paper-icon-item>
                        <iron-icon icon="rrd:consultants" item-icon></iron-icon>{{localize('menu_distributors')}}
                    </paper-icon-item>
                </a>
            </paper-menu>

            <template is="dom-if" if="[[!isLoggedIn]]">
                <paper-menu class="list list--bottom" attr-for-selected="data-route" selected="[[route]]">
                    <a data-route="login" href="/login" on-tap="_resetScrollTop">
                        <paper-icon-item>
                            <iron-icon icon="rrd:consultants" item-icon></iron-icon>{{localize('menu_for_consultants')}}
                        </paper-icon-item>
                    </a>
                </paper-menu>
            </template>

            <template is="dom-if" if="[[isLoggedIn]]">
                <paper-menu class="list list--bottom" attr-for-selected="data-route" selected="[[route]]">
                    <template is="dom-if" if="[[isAdmin]]">
                        <a on-click="toggleCmsMode">
                            <paper-icon-item>
                                <iron-icon icon$="[[goToCmsModeIconName]]" item-icon></iron-icon>[[goToCmsModeMenuName]]
                            </paper-icon-item>
                        </a>
                    </template>
                    <a href="" on-tap="showLogoutDialog">
                        <paper-icon-item>
                            <iron-icon icon="rrd:logout" item-icon></iron-icon>{{localize('menu_logout')}}
                        </paper-icon-item>
                    </a>
                </paper-menu>
            </template>
        </div>
    </div>
</template>

<script>
Polymer({
    is: "rrd-navigation-drawer",
    behaviors: [
        RRDAppLocalizeBehavior
    ],
    properties: {

        /* Route provided by router  */
        route: {
            type: String,
            notify: true
        },

        /* CMS menu icon need to change names, this attribute is used for that. Just has the name of the icon  */
        goToCmsModeIconName: {
            type: String,
            notify: true,
            value: "editor:mode-edit"
        },

        /* CMS menu name need to change, this attribute is used for that. Just has the name of the menu link  */
        goToCmsModeMenuName: {
            type: String,
            notify: true,
            value: "Enter Editor Mode"
        }
    },

    /* Toggles CMS state. Uses RRD Login Aware Element for that*/
    toggleCmsMode: function() {
        this.$.loginawareelement.toggleCmsState();
        if (this.isInCmsMode) {
            this.goToCmsModeIconName  = "icons:cancel";
            this.goToCmsModeMenuName = "Exit Editor Mode";
        } else {
            this.goToCmsModeIconName  = "editor:mode-edit";
            this.goToCmsModeMenuName = "Enter Editor Mode";
        }
    },

    /* If user wants to log in, sends the iron signal for RRD Logout to handle logout flow */
    showLogoutDialog: function(event) {
        event.preventDefault();
        this.fire("iron-signal", {name: "logout"});
    },

    /* helper method */
    _resetScrollTop: function() {
        this.fire("iron-signal", {name: "reset-scroll-top"});
    },

    /* helper method for cordova image handling */
    _handleLocalPath: function() {
        var path = this.$.image.src;
        var parts = path.split('/');
        parts.pop();

        window.tupperwarePath = parts.join('/') + '/';

        this.fire("iron-signal", {name: "update-paths"});
    }
});
</script>

</dom-module>
