<!-- 
# RRD Login Element
Login form element.

If user is not logged in, presents the form. 
If user is logged in, presents the logout option

Uses RRD Auth for logic. This is just a simple form.


In Tupperware it's not used as the default user login form. 
__Check Tupp User Login Element for details__
 -->
<dom-module id="rrd-login-element">

<style>
    paper-card {
        display: block;
        margin: 8px;
    }

    @media (min-width: 480px) {
        .container {
            @apply(--layout-fit);
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-center-justified);
        }

        paper-card {
            width: 360px;
        }
    }

    .card-content--form {
        padding-top: 2px;
    }

    .buttons {
        text-align: right;
        padding-bottom: 8px;
    }
</style>

<template>
    <rrd-auth id="rrdauth"></rrd-auth>  
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-admin="{{isAdmin}}" 
        logged-in-user-email="{{loggedInUserEmail}}">
    </rrd-login-aware-element>
    <div class="container">
        <template is="dom-if" if="{{!isLoggedIn}}">
            <form is="iron-form" id="form" method="post">
                <paper-card>
                    <div class="card-content card-content--form">
                        <gold-email-input 
                            label="Email" 
                            name="login" 
                            value="{{login}}" 
                            required 
                            auto-validate 
                            error-message="Email is not valid">
                                
                        </gold-email-input>
                        <paper-input 
                            label="Password" 
                            name="password" 
                            required 
                            error-message="Password is required" 
                            value="{{password}}" 
                            type="password">
                        </paper-input>
                    </div>
                    <div class="buttons">
                        <paper-button on-tap="_submitForm">Log in</paper-button>
                    </div>
                </paper-card>
            </form>
        </template>
        <template is="dom-if" if="{{isLoggedIn}}">
            <paper-card>
                <div class="card-content">
                    You are logged in as {{loggedInUserEmail}}.
                </div>
                <div class="buttons">
                    <paper-button on-tap="logout">Log Out</paper-button>
                </div>
            </paper-card>
        </template>
    </div>
</template>

<script>
Polymer({
    is: "rrd-login-element",
    behaviors: [
        RRDToastBehavior
    ],
    properties: {

        /* User input */
        login: {
            type: String,
            notify: true
        },

        /* User input */
        password: {
            type: String,
            notify: true
        }
    },
    listeners: {
        "iron-form-presubmit": "performAuthentication"
    },

    _submitForm: function(event){
        this.$$("#form").submit();
    },

    /* Uses RRD Auth element to perform authentication */ 
    performAuthentication: function(event) {
        event.preventDefault();
        this.$.rrdauth.login({"email": this.login, "password": this.password});
    },
    
    /* Uses RRD Auth element to perform logout */ 
    logout: function(event) {
        this.$.rrdauth.logout();  
    }
});
</script>

</dom-module>