<!--
# RRD Favorites Manager

Handles adding, removing and checking if object with specific ID is added to favorites in local DB
-->
<dom-module id="rrd-favorites-manager">

<script>
Polymer({
    is: "rrd-favorites-manager",
    properties: {

        /* Array of objects added to favorites */
        favoritedObjects: {
            type: Array,
            notify: true
        },

        /* PouchDB object */
        db: {
            type: Object,
            notify: true
        },

        /* ID of an object you'd like to check / remove */
        objectIdToCheck: {
            type: String,
            notify: true
        },

        /* Sets Favorited or not for objectIdToCheck */
        isObjectFavorited: {
            type: Boolean,
            notify: true,
            value: false
        }
    },

    observers: [
        '_computeIsObjectFavorited(objectIdToCheck, db)'
    ],

    ready: function () {
        this.db = new PouchDB("favorited_products", {revs_limit:1, auto_compact: true});
    },

    /* Compute method */
    _computeIsObjectFavorited: function() {
        var localThis = this;
        this.db.get(this.objectIdToCheck).then(function(doc) {
            localThis.set('isObjectFavorited', true);
        }).catch(function(error) {
            localThis.set('isObjectFavorited', false);
        });
    },

    /* Toggles favorite state */
    toggleFavorite: function() {
        if (this.isObjectFavorited) {
            this.removeObjectFromFavorites();
        } else {
            this.addObjectToFavorites();
        }
    },

    /* Adds objectIdToCheck to  list of favorited objects */
    addObjectToFavorites: function() {
        var localThis = this;
        this.db.put({_id: this.objectIdToCheck}).then(function(response) {
            localThis._computeIsObjectFavorited();
            localThis._informFavoritesChanged();
        }).catch(function(error){
            console.log("Error");
            console.log(error);
        });
    },

    /* Removes objectIdToCheck tfrom list of favorited objects */
    removeObjectFromFavorites: function() {
        var localThis = this;
        this.db.get(this.objectIdToCheck).then(function (doc) {
            localThis.db.remove(doc).then(function(result) {
                localThis._computeIsObjectFavorited();
                localThis._informFavoritesChanged();
            })
        }).catch(function(err){
            console.log("Error removing");
            console.log(err)
        });
    },

    /* Sends Iron Signal that Favorites state has changed */
    _informFavoritesChanged: function() {
        this.fire("iron-signal", {name: "favoriteschanged", data: null});
    }
});
</script>

</dom-module>
