<dom-module id="rrd-statusbar-color">

<template>
    <iron-signals on-iron-signal-statusbarcolorchanged="_updateStatusbarColor"></iron-signals>
    <iron-meta id="metastatusbarcolor" key="statusbarcolor"></iron-meta>
</template>

<script>
Polymer({
    is: "rrd-statusbar-color",
    properties: {
        statusbarColor: {
            type: String,
            notify: true,
            value: "#930255"
        }
    },

    ready: function () {
        this._updateStatusbarColor();
    },

    _updateStatusbarColor: function() {
        var value = new Polymer.IronMetaQuery({key: "statusbarcolor"}).value;
        if (typeof value !== "undefined") {
            this.set("statusbarColor", value);    
        }
    },

    setNewStatusbarColor: function(newColor) {
        this.$.metastatusbarcolor.value = newColor;
        this.fire("iron-signal", {name: "statusbarcolorchanged", data: null});
    }


});
</script>

</dom-module>