<!-- 
# RRD Article Details

1. Displays article details.
2. Handles CMS Article editing

-->

<dom-module id="rrd-article-details">

<style is="custom-style" include="shared-styles"></style>
<style>
    .howto {
        background: #fff;
        /*@apply(--layout-fit);*/
        overflow-y: auto;
    }

    .howto__container {
        overflow: hidden;
    }

    .howto--with-grid {
        background: url(/images/grid.png) #fff;
        background-size: 8px 8px;
    }

    .howto__name {
        font-size: 24px;
        line-height: 32px;
        padding: 16px;
        color: #fff;
    }

    .howto__cost {
        display: inline-block;
        color: #929ff;
    }

    .howto__photo-image {
        --iron-image-width: 100%;
        width: 100%;
        margin: 0;
        display: block;
    }

    .howto__description {
        padding: 23px 24px 0;
    }

    .howto__description--preparation {
        padding-top: 0;
    }

    .howto__description p, .howto__description ul, .howto__description ol {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 12px;
    }

    .howto__description ul, .howto__description li, .howto__description ol {
        margin: 0;
        padding: 0;
    }

    .howto__description ul li {
        margin: 0 0 8px 16px;
    }

    .howto__description ol li {
        margin: 0 0 8px 11px;
        padding-left: 8px;
    }

    .howto__description strong {
        font-family: medium;
    }

    .howto__description i {
        color: #929ff;
        font-style: normal;
    }

    .howto__description code {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #999;
    }

    .howto__details {
        padding: 24px 0 24px 24px;
    }

    .howto__detail {
        color: #fff;
    }

    .howto__detail {
        padding: 8px 0 0;
        overflow: hidden;
    }

    .howto__detail iron-icon {
        float: left;
    }

    .howto__details--tablet iron-icon {
        color: #fff;
    }

    .howto__detail--name {
        font-size: 24px;
        margin: -8px 0 0;
        font-family: medium;
    }

    .howto__detail-label {
        font-size: 12px;
        line-height: 16px;
        padding-left: 32px;
        padding-right: 8px;
        padding-top: 4px;
    }

    .howto__details--tablet .howto__detail-label {
        
    }

    .howto__detail strong {
        font-family: medium;
    }

    .header {
        font-size: 16px;
        font-family: medium;
        line-height: 24px;
        margin: 0 0 13px;
    }

    @media all and (min-width: 768px) {
        .header {
            font-size: 20px;
            line-height: 1.5;
        }
    }

    .header--card {
        font-size: 16px;
        line-height: 48px;
        padding: 0 16px;
        border-bottom: 1px solid #ddd;
        margin: 0;
    }

    .content {
        margin: 0 0 25px;
    }

    .content a {
        color: var(--primary-color);
    }

    paper-card {
        margin: 8px;
        display: block;
    }

    .howto__photo-image--tablet {
        display: none;
    }

    .howto__description-container {
        overflow: hidden;
    }

    .article__video {
        background: #f0f0f0;
    }

    .article__photo_inside iron-image {
        width: 100%;
        max-height: 200px;
        margin: 0 0 16px;
        --iron-image-width: 100%;
    }

    .howto__photo-image--mobile {
        height: 200px;
        width: 100%;
    }

    @media all and (min-width: 768px) {
        .article__photo_inside iron-image {
            max-height: 568px;
        }

        .howto__details {
            width: 50%;
            float: left;
            box-sizing: border-box;
            height: 400px;
            padding: 0 24px;
            display: table;
        }

        .howto__details-container {
            display: table-cell;
            height: 400px;
            vertical-align: middle;
        }

        .howto__description-container .howto__description {
            box-sizing: border-box;
        }

        .howto__description-container .howto__description:last-child {
            padding-top: 23px;
        }

        .howto__photo-image {
            width: 50%;
            height: 400px;
            float: left;
        }

        .howto__photo-image--tablet {
            display: block;
        }

        .howto__photo-image--mobile {
            display: none;
        }

        .howto__detail--name {
            font-size: 46px;
            line-height: 1.2;
        }

        .howto__description p, .howto__description ul, .howto__description ol {
            font-size: 14px;
            line-height: 1.33333333;
            margin: 0 0 14px;
        }

        .howto__description-header {
            font-size: 24px;
            line-height: 32px;
            width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        .howto__description-content {
            width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>

<template>
    <iron-signals on-iron-signal-update-paths="handleUpdatePathsSignal"></iron-signals>

    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-firebase-document 
        id="fbref" 
        fb-collection-path="[[fbCollectionPath]]" 
        fb-object-pointer="[[fbObjectPointer]]" 
        fb-object="{{originalObject}}" >
    </rrd-firebase-document>
    
    <!-- Delete confirmation dialog -->
    <paper-dialog id="deleteconfirmationdialog" modal on-iron-overlay-closed="dialogClosed">
        <h2>Are you sure you want to delete?</h2>
        <p>There is no undo</p>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Yes, delete</paper-button>
        </div>
    </paper-dialog> 


    <template is="dom-if" if="{{!inEditMode}}">
        <!-- is in CMS -->
        <template is="dom-if" if="{{isInCmsMode}}"> 
            <paper-card>
                <div class="card-actions">
                    <paper-button on-click="toggleEditMode">
                        <iron-icon icon="editor:mode-edit"></iron-icon>
                        Edit
                    </paper-button>
        
                    <paper-button on-click="showDeleteConfirmationDialog">
                        <iron-icon icon="icons:delete"></iron-icon>
                        Delete
                    </paper-button>
                </div>
            </paper-card>
        </template>
        
        <!-- Spinner -->
        <div hidden$="{{originalObject}}">
            <div class="preloader">
                <paper-spinner alt="Loading Article" active></paper-spinner>
            </div>
        </div>

        <!-- Object loaded -->
        <template is="dom-if" if="{{originalObject}}">
            <div class="howto">
                <div class="howto__container">
                    <div class="howto__photo">
                        <!-- Phone photo -->
                         <iron-image 
                            class="howto__photo-image howto__photo-image--mobile"
                            sizing="cover"
                            src="[[originalObject.cover_photo_url]]">
                        </iron-image>
                        <!-- Tablet photo -->
                        <iron-image 
                            class="howto__photo-image howto__photo-image--tablet"
                            src="[[originalObject.cover_photo_url]]" 
                            sizing="cover" 
                            id="{{hero1id}}">
                        </iron-image>
                    </div>
                    <div class="howto__details" style$="{{s}}">
                        <div class="howto__details-container">
                            <div class="howto__detail howto__detail--name">[[originalObject.name]]</div>
                        </div>
                    </div>
                </div>
                <template is="dom-repeat" items="{{originalObject.sections}}" as="section">
                    <div class="howto__description-container">
                        <div class="howto__description">
                            <template is="dom-if" if="{{getYTVideoID(section.youtube_link)}}">
                                <div class="article__video">
                                    <google-youtube video-id$="[[getYTVideoID(section.youtube_link)]]" chromeless fluid></google-youtube>
                                </div>
                            </template>

                            <template is="dom-if" if="{{section.photo_url}}">                                
                                <div class="article__photo_inside">
                                     <iron-image 
                                        class="article__photo-image"
                                        
                                        src="[[section.photo_url]]">
                                    </iron-image>
                                </div>
                            </template>

                            <template is="dom-if" if="{{section.title}}">
                                <div class="howto__description-header header">[[section.title]]</div>
                            </template>
                            <template is="dom-if" if="{{section.body}}">
                                <div class="howto__description-content content">
                                    <marked-element markdown="[[addPath(section.body)]]">
                                        <div class="markdown-html description"></div>
                                    </marked-element>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>

            </div>
        </template>
    </template>

    <!-- Show form, if inEditMode -->
    <template is="dom-if" if="{{inEditMode}}">
        <rrd-article-form 
            original-object="{{originalObject}}" 
            altered-object="{{alteredObject}}" 
            is-saving="{{isSaving}}">
        </rrd-article-form>
        <div class="cms__cancel">
            <paper-button on-click="toggleEditMode">
                <iron-icon icon="icons:cancel"></iron-icon>
                Cancel
            </paper-button>  
        </div>
    </template>
</template>

<script>
Polymer({
    is: "rrd-article-details",
    behaviors: [
        Polymer.IronResizableBehavior,
        Polymer.IronScrollTargetBehavior,
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior,
        RRDScrollBehavior
    ],
    properties: {

        /* Object retrieved from DB */
        originalObject: {
            type: Object,
            notify: true
        },

        
        metaValue: {
            type: String,
            notify: true
        },


        s: {
            type: String,
            computed: "_computeHeaderStyle(originalObject)",
            notify: true
        },
    },

    /* Compute style method */
    _computeHeaderStyle: function() {
        if(typeof this.originalObject != "undefined" && this.originalObject != null) {
            if(typeof this.originalObject.hex_color != "undefined") {
                if(this.originalObject.hex_color != "") {
                    return "background:#" + this.originalObject.hex_color;
                }
            } 
        }

        return "background:#c5478f";
    },


    addPath: function(markdown) {
        return markdown.split('/images/').join(window.tupperwarePath);
    },

    handleUpdatePathsSignal: function() {
        if(typeof this.originalObject != "undefined") {
            for(var i = 0; i < this.originalObject.sections.length; i++) {
                var section = this.originalObject.sections[i];

                this.set('originalObject.sections.' + i + '.body', 
                         section.body.split('/images/').join(window.tupperwarePath));
            }
        }
    },

    getYTVideoID: function(youtubeLink) {
        if (youtubeLink) {
            var arr = youtubeLink.split("v=");
            return arr[1];    
        } else {
            return null;
        }
    },

    currentObjectWasDeleted: function() {
        page("/articles");
        this.showToast("Article deleted");
    },

    ready: function() {
        var app = document.querySelector("#app");

        app.$.headerPanelMain._scrollHandler = app.$.headerPanelMain._scroll.bind(this);
    },
    
    routeObserver: function() {
        if(this.dataRoute != this.selectedRoute) {
            this.set('originalObject', null);
            this.set('originalObject', undefined);
            this.$.fbref.refreshObject();
        }
    }
});
</script>
</dom-module>