<link rel="import" href="rrd-article-inline.html">
<link rel="import" href="rrd-article-details.html">
<link rel="import" href="rrd-article-form.html">
<link rel="import" href="rrd-article-new.html">
<!-- 
# RRD Articles

This is the list element for Articles.

The structure looks like this:
1. RRD Login Aware Element that is used mainly for CMS stats. If user is in CMS state, paper fabs appear that do reorder and create new article
2. RRD Firebase Collection that retrieves objects from collectio. FB Collection Path is set when element is loded from routing so you can control paths
3. Paper Spinner (loader) that shows when there are no articles
4. If articles are loaded, Iron List takes them and displays RRD Article Inline (it provides original-object as a property so the inline won't have to query the DB) 


 -->
<dom-module id="rrd-articles">

<style is="custom-style" include="shared-styles"></style>
<style>
    iron-list {
        @apply(--layout-fit);
        padding-bottom: 8px;
    }
</style>

<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-firebase-collection 
        fb-collection-path="[[fbCollectionPath]]" 
        fb-object-pointer="[[fbObjectPointer]]" 
        fb-objects="{{articles}}">
    </rrd-firebase-collection>

    <template is="dom-if" if="{{!articles.length}}">
        <div class="preloader">
            <paper-spinner alt="Loading Articles" active></paper-spinner>
        </div>
    </template>
    
    <iron-list items="[[articles]]" as="article">
        <template>
            <rrd-article-inline 
                fb-collection-path="[[fbCollectionPath]]" 
                fb-object-pointer="[[article._id]]"
                original-object="{{article}}">
            </rrd-article-inline>
        </template>
    </iron-list>

    <paper-fab 
        class="add"
        elevation="1" 
        icon="add" 
        on-click="showNewForm" 
        hidden$="{{!isInCmsMode}}">
    </paper-fab>
    
    <paper-fab 
        class="reorder"
        elevation="1" 
        icon="icons:reorder" 
        on-click="goToReorder" 
        hidden$="{{!isInCmsMode}}">
    </paper-fab>

</template>

<script>
Polymer({
    is: "rrd-articles",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],

    /* Redirects user to the New route */
    showNewForm: function() {
        page("/articles/new");
    },

    /* Redirects user to the Reorder route */
    goToReorder: function() {
        page("/articles/reorder");  
    },

    clearFormAndGoBack: function() {
        this.set("originalObject", {});
        page("/articles");
    }
});
</script>
</dom-module>