<!-- 
# RRD Article Inline

Element that shows a single article on the list of articles (RRD Articles)

If original-object is provided - it won't retrieve the object from the DB, will just use the one provided

Articles can have specific colors for navar and headers, those are computed from hex_color property if present

 -->
<dom-module id="rrd-article-inline">

<style>
    paper-card {
        display: block;
        padding: 0;
        margin: 8px 8px 0;
        overflow: hidden;
    }
    
    .article {
        display: block;
        text-decoration: none;
        color: #999;
    }

    .article__name {
        display: block;
        font-size: 24px;
        line-height: 32px;
        font-family: medium !important;
        padding: 16px 16px;
        color: #fff;
    }

    .article__photo {
        width: 100%;
        height: 200px;
        display: block;
    }

    .article__description {
        display: block;
        padding: 0 16px 0;
    }

    .article__description-lead {
        color: #333;
        display: block;
        position: relative;
    }

    .article__description-lead-body {
        display: block;
        /*margin-left: 8px;*/
    }


    @media all and (min-width: 768px) {
        paper-card {
            height: 400px;
        }

        .article__photo {
            width: 50%;
            height: 400px;
            float: left;
            box-sizing: border-box;
        }

        .article__name {
            box-sizing: border-box;
            width: 50%;
            height: 200px;
            padding: 12px;
            float: left;
            font-family: medium;
            position: relative;
        }

        .article__name-container {
            position: absolute;
            bottom: 16px;
            left: 16px;
            width: 90%;
        }

        .article__description {
            box-sizing: border-box;
            width: 33%;
            height: 200px;
            float: left;
        }
    }

    @media all and (min-width: 1024px) {
        .article__name {
            font-size: 30px;
            line-height: 1.333333;
        }
    }
</style>
    
<template>
    <template is="dom-if" if="[[retrieve]]">
        <rrd-firebase-document
            fb-collection-path="[[fbCollectionPath]]" 
            fb-object-pointer="[[fbObjectPointer]]" 
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>
    <paper-card>                      
        <a href$="{{detailsURL}}">
            <div class="article">    
                <iron-image 
                    src="{{originalObject.cover_photo_url}}" 
                    sizing="cover" 
                    class="article__photo">
                </iron-image>
                <span class="article__name" style$="{{headerStyle}}">
                    <span class="article__name-container">
                        [[originalObject.name]]
                    </span>
                </span>
                <span class="article__description">
                    <span class="article__description-lead">
                        <span class="article__description-lead-body">
                            <marked-element markdown="[[originalObject.lead]]">
                                <div class="markdown-html description"></div>
                            </marked-element>
                        </span>
                    </span>
                </span>
            </div>
        </a>
    </paper-card>
</template>

<script>
Polymer({
    is: "rrd-article-inline",
    behaviors: [ 
        RRDRelatedElementsBehavior,
        RRDCommonObjectHandlingBehavior
    ],    
    properties: {

        /* Not used anymore */
        metaValue: {
            type: String,
            notify: true
        },

        /* Computed details URL */
        detailsURL: {
            type: String,
            computed: "_computeDetailsURL(fbObjectPointer)",
            notify: true
        },

        /* computed style for */
        headerStyle: {
            type: String,
            computed: "_computeHeaderStyle(originalObject)",
            notify: true
        }
    },
    
    /* Compute method for detailsURL*/
    _computeDetailsURL: function(pointer) {
        return this.fbCollectionPath + "/" + this.fbObjectPointer;
    },

    /* Compute method for HeaderStyle*/
    _computeHeaderStyle: function() {
        if(this.originalObject.hex_color) {
            return "background:#" + this.originalObject.hex_color;
        } else {
            return "background:#c5478f";
        }
    }
});
</script>

</dom-module>
