<!-- 
# RRD Article Form

Form for editing and creating objects (form is the same, handlers are different).

Every array or object as a property of localObject has to be initialized so it's not null
 -->
<dom-module id="rrd-article-form">

<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        background: #fff;
        display: block;
    }
</style>

<template>
    <form is="iron-form" id="form" method="post" class="cms">
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Article header</h2>
                <paper-input 
                    label="Title" 
                    name="name" 
                    required 
                    error-message="Title is required" 
                    value="{{localObject.name}}" 
                    disabled="{{isSaving}}">
                </paper-input>

                <paper-input 
                    label="Background color" 
                    name="hex_color" 
                    value="{{localObject.hex_color}}" 
                    disabled="{{isSaving}}">
                </paper-input>
            </div>
        </fieldset>

        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Lead</h2>
                <paper-textarea 
                    name="lead" 
                    value="{{localObject.lead}}" 
                    label="Lead" 
                    disabled="{{isSaving}}">
                </paper-textarea>
                <h4 class="cms__heading">Preview</h4>
                <marked-element markdown="[[localObject.lead]]">
                    <div class="markdown-html preview"></div>
                </marked-element>
            </div>
        </fieldset>    

        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Cover Photo</h2>
                <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--images">
                    <rrd-file-upload-element single uploaded-file-url="{{localObject.cover_photo_url}}"></rrd-file-upload-element>
                </div>
            </div>
        </fieldset>

        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Sections</h2>
                <template is="dom-if" if="{{localObject.sections}}">
                    <div class="cms__fieldset-subcontainer">
                        <template is="dom-repeat" items="{{localObject.sections}}">
                            <paper-card class="cms__card">
                                <div class="cms__card-header">
                                    <h3 class="cms__card-heading">
                                        Section <span>{{handlePolymerIndex(index)}}</span>  
                                    </h3>
                                    <paper-icon-button 
                                        icon="icons:delete" 
                                        on-tap="removeSection" 
                                        noink 
                                        class="cms__card-header-action">
                                    </paper-icon-button>
                                </div>
                                <div class="cms__card-content">
                                    <paper-input 
                                        label="Title" 
                                        name="title" 
                                        value="{{item.title}}" 
                                        disabled="{{isSaving}}">
                                    </paper-input>
                                    <paper-textarea 
                                        name="body" 
                                        value="{{item.body}}" 
                                        label="Body" 
                                        disabled="{{isSaving}}">
                                    </paper-textarea>
                                    <marked-element markdown="[[item.body]]">
                                        <div class="markdown-html preview"></div>
                                    </marked-element>
                                    <paper-input 
                                        label="YouTube Link" 
                                        name="youtube_link" 
                                        value="{{item.youtube_link}}" 
                                        disabled="{{isSaving}}">
                                    </paper-input>
                                    <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--images">
                                        <rrd-file-upload-element single uploaded-file-url="{{item.photo_url}}"></rrd-file-upload-element>
                                    </div>
                                </div>
                            </paper-card>
                        </template>
                    </div>
                </template>
                <div class="cms__actions">
                    <paper-button class="cms__action" on-tap="addNewSection" noink>
                        Add section
                    </paper-button>
                </div>
            </div>
        </fieldset>

        <fieldset class="cms__fieldset cms__fieldset--save">
            <div class="cms__fieldset-container">
                <paper-button raised on-tap="submitForm" disabled="{{!isSuitableForSaving}}">Save</paper-button>
            </div>
        </fieldset>
    </form>
</template>

<script>
Polymer({
    is: "rrd-article-form",
    behaviors: [
        RRDFormBehavior
    ],

    /* Sections need to be initialized to and array with an empty object*/
    initializeAdditionalProperties: function() {
        if (this.localObject && !this.localObject.sections) {
            this.set("localObject.sections", [{}]);
        }
    },

    /* Adds empty section to sections */
    addNewSection: function() {
        this.push("localObject.sections", {});
    },

    /**
    * @param {Event} e Event with index of the section to be removed
    * Method removes the section with provided index
    */
    removeSection: function(e) {
        var indexToRemove = e.model.index;
        this.splice("localObject.sections", indexToRemove, 1);
    },

    /* Helper method */
    handlePolymerIndex: function(index) {
        return index+1;
    }
});
</script>
</dom-module>
