<!-- 
# RRD Article New

This element is responsible for creating new articles.

In ready() originalObject is inicialized to an empty objects. Form will take care of further initialization.

RRDCommonObjectHandlerBehavior takes care of handling actual saving etc

-->
<dom-module id="rrd-article-new">

<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        background: #ffffff;
        display: block;
    }
</style>

<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>
    <rrd-article-form 
        original-object="[[originalObject]]" 
        altered-object="{{alteredObject}}" 
        is-saving="{{isSaving}}">
    </rrd-article-form>
    <div class="cms__cancel">
        <paper-button on-click="clearFormAndGoBack">
            <iron-icon icon="icons:cancel"></iron-icon>
            Clear and cancel
        </paper-button>  
    </div>
</template>


<script>
Polymer({
    is: "rrd-article-new",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],

    ready: function() {
        this.set("originalObject", {});
        this.toggleEditMode();
    },

    /* When cancel and clear is hit in the Form  */
    clearFormAndGoBack: function() {
        this.set("originalObject", {});
        page("/articles");
    }
});
</script>

</dom-module>