<!--
# RRD Paper Header Toolbar

This element is a workaround about a strange bug in paper-drawer-panel from Polymer.

We have to separate toolbars from actual content elements.

Check here to understand how it works:
https://elements.polymer-project.org/elements/paper-scroll-header-panel

Check main index.html to see how it's used.

 -->


<dom-module id="rrd-paper-header-toolbar">

<style>
    paper-tab {
        font-family: normal !important;
    }

    paper-tab:not(.iron-selected) {
        opacity: 0.5 !important;
    }

    .title {
        -webkit-font-smoothing: auto !important;
        font-family: medium !important;
        font-size: 20px !important;
        padding-bottom: 4px;
    }

    .sections-list {
        background: #fff;
    }

    .sections paper-icon-button noink {
        color: #999;
        margin-right: 24px;
    }

    .sections .title {
        color: #999;
    }

    .ios {
        overflow: hidden;
        border-sizing: border-box;
    }

    .ios .layout {
        margin-top: 20px;
    }

    .ios .title {
        font-size: 18px !important;
    }


    .ios paper-icon-button {
        width: 38px;
        height: 38px;
        padding-top: 7px;
    }

    .sectionsListCloseButton {
        color: #999;
        margin-right: 24px;
    }

    #mainToolbar.ios {
        --paper-toolbar-height: 64px;
        --paper-toolbar-sm-height: 64px;
    }

    #mainToolbar.ios.medium-tall {
        height: 112px;
    }


</style>

<template>

    <iron-signals on-iron-signal-tab="handleTabSignal"></iron-signals>
    <iron-signals on-iron-signal-sections="handleSectionsListSignal"></iron-signals>
    <template is="dom-if" if="{{shouldLoadFavoriteManager}}">
        <rrd-favorites-manager
            id="favoritesmanager"
            object-id-to-check="{{params.product}}"
            is-object-favorited="{{isObjectFavorited}}">
        </rrd-favorites-manager>
    </template>

    <paper-toolbar id="mainToolbar">
        <iron-pages attr-for-selected="data-route" selected="{{route}}" id="toolbarpages">



<!-- HOWTOS -->
            <div class="layout horizontal center" data-route="howtos">
                <template is="dom-if" if="{{narrow}}">
                    <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle"></paper-icon-button>
                </template>
                <div class="title">{{localize('bar_recipe_list')}}</div>
                <paper-icon-button noink icon="search" on-tap="goToSearch"></paper-icon-button>
            </div>

            <div class="layout horizontal center" data-route="howto-new">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_recipe_new')}}</div>
            </div>

            <div class="layout horizontal center" data-route="howto-details">
                <paper-icon-button noink icon="arrow-back" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_recipe_details')}}</div>
            </div>

            <div class="layout horizontal center" data-route="howto-details-with-color">
                <paper-icon-button noink icon="arrow-back" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_recipe_details')}}</div>
            </div>

            <div class="layout horizontal center" data-route="howtos-reorder">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_recipe_reorder')}}</div>
            </div>



<!-- CATALOGUE -->
            <div class="layout" data-route="catalogue">
                <div class="layout horizontal center" hidden$="{{sectionsList}}">
                    <template is="dom-if" if="{{narrow}}">
                        <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle"></paper-icon-button>
                    </template>
                    <div class="title">{{localize('bar_catalogue_list')}}</div>
                    <paper-icon-button noink icon="search" on-tap="goToSearch"></paper-icon-button>
                </div>
                <div class="layout horizontal center sections" hidden$="{{!sectionsList}}">
                    <paper-icon-button class="sectionsListCloseButton" noink icon="close" on-tap="hideSectionsList"></paper-icon-button>
                    <div class="title">{{localize('bar_catalogue_sections_switcher')}}</div>
                </div>
            </div>

            <div class="layout horizontal center" data-route="cataloguesection-new">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_catalogue_new')}}</div>
            </div>

            <div class="layout horizontal center" data-route="cataloguesection-edit">
                <paper-icon-button noink icon="arrow-back" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_catalogue_edit')}}</div>
            </div>

            <div class="layout horizontal center" data-route="cataloguesections-reorder">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_catalogue_reorder')}}</div>
            </div>


            <div class="layout horizontal center" data-route="products">
                <template is="dom-if" if="{{narrow}}">
                    <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle"></paper-icon-button>
                </template>
                <div class="title">{{localize('bar_product_list')}}</div>
            </div>

            <div class="layout horizontal center" data-route="product-details">
                <paper-icon-button noink icon="arrow-back" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_product_details')}}</div>
                <paper-icon-button noink icon="{{favoriteButtonClass}}" id="f" on-tap="toggleFavorite"></paper-icon-button>
            </div>


            <div class="layout horizontal center" data-route="product-details-with-color">
                <paper-icon-button noink icon="arrow-back" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_product_details')}}</div>
                <paper-icon-button noink icon="{{favoriteButtonClass}}" id="f" on-tap="toggleFavorite"></paper-icon-button>
            </div>

            <div class="layout horizontal center" data-route="product-new">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_product_new')}}</div>
            </div>



<!-- FAVORITES -->
            <div class="layout horizontal center" data-route="favorites">
                <template is="dom-if" if="{{narrow}}">
                    <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle"></paper-icon-button>
                </template>
                <div class="title">{{localize('bar_favorites_list')}}</div>
            </div>



<!-- BONUS POINTS -->
            <div class="layout horizontal center" data-route="bonus-points">
                <template is="dom-if" if="{{narrow}}">
                    <paper-icon-button noink icon="arrow-back" on-tap="historyBack" hidden$="{{!history}}"></paper-icon-button>
                    <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle" hidden$="{{history}}"></paper-icon-button>
                </template>
                <div class="title">{{localize('bar_atelier')}}</div>
            </div>



<!-- SPARE PARTS -->
            <div class="layout horizontal center" data-route="spareparts">
                <template is="dom-if" if="{{narrow}}">
                    <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle"></paper-icon-button>
                </template>
                <div class="title">{{localize('bar_spare_part_list')}}</div>
                <paper-icon-button noink icon="search" on-tap="goToSparePartsSearch"></paper-icon-button>
            </div>

            <div class="layout horizontal center" data-route="spareparts-archived-new">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_archived_product_new')}}</div>
            </div>

            <div class="layout horizontal center" data-route="spareparts-archived-edit">
                <paper-icon-button noink icon="arrow-back" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_archived_product_edit')}}</div>
            </div>

            <div class="layout horizontal center" data-route="spareparts-search">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_search')}}</div>
            </div>



<!-- ARTICLES -->
            <div class="layout horizontal center" data-route="articles">
                <template is="dom-if" if="{{narrow}}">
                    <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle"></paper-icon-button>
                </template>
                <div class="title">{{localize('bar_article_list')}}</div>
            </div>

            <div class="layout horizontal center" data-route="article-details">
                <paper-icon-button noink icon="arrow-back" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_article_details')}}</div>
            </div>

            <div class="layout horizontal center" data-route="article-new">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_article_new')}}</div>
            </div>

            <div class="layout horizontal center" data-route="articles-reorder">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_article_reorder')}}</div>
            </div>



<!-- DISTRIBUTORS -->
            <div class="layout horizontal center" data-route="distributors">
                <template is="dom-if" if="{{narrow}}">
                    <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle"></paper-icon-button>
                </template>
                <div class="title">{{localize('bar_distributor_list')}}</div>
            </div>

            <div class="layout horizontal center" data-route="distributor-new">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_distributor_new')}}</div>
            </div>

            <div class="layout horizontal center" data-route="distributors-reorder">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_distributor_reorder')}}</div>
            </div>




<!-- LOGIN -->
            <div class="layout horizontal center" data-route="login">
                <template is="dom-if" if="{{narrow}}">
                    <paper-icon-button noink icon="arrow-back" on-tap="historyBack" hidden$="{{!history}}"></paper-icon-button>
                    <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle" hidden$="{{history}}"></paper-icon-button>
                </template>
                <div class="title">{{localize('bar_for_consultants')}}</div>
            </div>
            <div class="layout horizontal center" data-route="cms">
                <template is="dom-if" if="{{narrow}}">
                    <paper-icon-button noink icon="menu" on-tap="paperDrawerToggle"></paper-icon-button>
                </template>
                <div class="title">CMS</div>
            </div>



<!-- SEARCH -->
            <div class="layout horizontal center" data-route="search">
                <paper-icon-button noink icon="close" on-tap="historyBack"></paper-icon-button>
                <div class="title">{{localize('bar_search')}}</div>
            </div>
        </iron-pages>



        <div class="layout"></div>



        <iron-pages
            attr-for-selected="data-route"
            selected="{{route}}"
            id="toolbarpagesbottom"
            class="bottom self-end">
            <div class="tabs layout horizontal center" data-route="bonus-points">
                <paper-tabs selected="{{tab}}">
                    <paper-tab on-tap="switchToAtelier">{{localize('bar_atelier_tab')}}</paper-tab>
                    <paper-tab on-tap="switchToBonusPoints">{{localize('bar_bonus_point_list')}}</paper-tab>
                    <paper-tab on-tap="switchToBonusProducts">{{localize('bar_bonus_points_product_list')}}</paper-tab>
                </paper-tabs>
            </div>
            <div class="tabs layout horizontal center" data-route="spareparts">
                <paper-tabs selected="{{tab}}">
                    <paper-tab on-tap="switchToActiveProducts">{{localize('bar_active_product_list')}} </paper-tab>
                    <paper-tab on-tap="switchToInactiveProducts">{{localize('bar_discontinued_product_list')}}</paper-tab>
                </paper-tabs>
            </div>
        </iron-pages>
        <rrd-statusbar-color id="statusbarcolor" statusbarColor="{{statusbarColor}}"></rrd-statusbar-color>
    </paper-toolbar>
</template>

<script>
Polymer({
    is: "rrd-paper-header-toolbar",
    behaviors: [
        Polymer.IronResizableBehavior,
        RRDAppLocalizeBehavior
    ],
    properties: {
        route: {
            type: String,
            notify: true
        },
        params: {
            type: Object,
            notify: true
        },
        paramsDependencies: {
            type: Boolean,
            notify: true,
            computed: "handleParamsDependencies(params)"
        },
        sectionsList: {
            type: Boolean,
            notify: true,
            value: false
        },
        narrow: {
            type: Boolean,
            notify: true,
            value: false
        },
        favorite: {
            type: Boolean,
            notify: true,
            value: false
        },
        tab: {
            type: Number,
            notify: true,
            value: 0
        },
        history: {
            type: Boolean,
            notify: true,
            value: false
        },
        statusbarColor: {
            type: String,
            notify: true,
            value: false
        },
        shouldLoadFavoriteManager: {
            type: Boolean,
            notify: true,
            value: false,
            computed: "_computeShouldLoadFavoriteManager(route,params)"
        },
        isObjectFavorited: {
            type: Boolean,
            notify: true
        },
        favoriteButtonClass: {
            type: String,
            notify: true,
            value: "favorite-border",
            computed: "_computeFavoriteButtonClass(isObjectFavorited)"
        }
    },

    listeners: {
        "iron-resize": "_onIronResize"
    },

    observers: [
        "_computeToolbarClass(route, sectionsList)"
    ],

    attached: function() {
        this.async(this.notifyResize, 1);
        this.computeLanguage();
        this.computeTranslation();

        document.addEventListener("backbutton", this.historyBack, false);
    },

    _onIronResize: function() {
        this.narrow = document.querySelector("paper-drawer-panel").narrow;
    },

    _computeShouldLoadFavoriteManager: function() {
        if (this.route && (this.route === "product-details-with-color" || this.route === "product-details" )) {
            return true;
        } else {
            return false;
        }
    },

    historyBack: function(event) {
        event.preventDefault();

        window.history.go(-1);
    },

    handleParamsDependencies: function() {
        var colorIsDefined = false;

        if(typeof this.params != "undefined") {
            if(typeof this.params.color != "undefined") {
                if(typeof this.params.color != "") {
                    colorIsDefined = true;
                }
            }
        }

        if(colorIsDefined) {
            var Color = net.brehaut.Color;

            var appBarBackgroundColor = Color("#" + this.params.color).darkenByRatio(0.25);

            var statusBarBackgroundColor = Color("#" + this.params.color).darkenByRatio(0.45);

            document.querySelector("paper-toolbar").style.background = appBarBackgroundColor.toCSS();

            setTimeout(function() {
                document.querySelector("meta[name='theme-color']").setAttribute("content", statusBarBackgroundColor.toCSS());
            }, 1);
        } else {
            document.querySelector("paper-toolbar").style.background = null;

            setTimeout(function() {
                document.querySelector("meta[name='theme-color']").setAttribute("content", "#930255");
            });
        }

        if(typeof this.params.history != "undefined") {
            this.history = true;
        } else {
            this.history = false;
        }

        return true;
    },

    _computeToolbarClass: function() {
        var className = "";

        var tabs = false;

        if(this.route === "topcategorieslist"
        || this.route === "bonus-points"
        || this.route === "bonus-products"
        || this.route === "spareparts") {
            tabs = true;
            this.$.mainToolbar.classList.add("medium-tall");
        } else {
            this.$.mainToolbar.classList.remove("medium-tall");
        }

        var isSafari = navigator.userAgent.indexOf("Chrome") == -1;

        if (isSafari) {
            this.$.mainToolbar.classList.add("ios");

            // document.querySelector('#mainContainer').style.marginTop = '-20px';
            // this.$$('#headerPanelMain').classList.add('ios');
        } else {
            this.$.mainToolbar.classList.remove("ios");
        }

        if (this.sectionsList) {
            this.$.mainToolbar.classList.add("sections-list");
        } else {
            this.$.mainToolbar.classList.remove("sections-list");
        }
        this.updateStyles();
    },

    paperDrawerToggle: function() {
        app.$.paperDrawerPanel.togglePanel();
    },

    goToSearch: function() {
        window.page("/search");
    },

    goToSparePartsSearch: function() {
        window.page("/spareparts/search");
    },

    toggleFavorite: function() {
        var favManager = this.$$("#favoritesmanager");
        favManager.toggleFavorite();
    },

    _computeFavoriteButtonClass: function() {
        if (this.isObjectFavorited) {
            return "favorite";
        } else {
            return "favorite-border";
        }
    },

    switchToAtelier: function() {
        this.fire("iron-signal", {name: "bonus", data: { tab: 0 }});

        this.resetScrollTop();
    },

    switchToBonusProducts: function() {
        this.fire("iron-signal", {name: "bonus", data: { tab: 1 }});

        this.resetScrollTop();
    },

    switchToBonusPoints: function() {
        this.fire("iron-signal", {name: "bonus", data: { tab: 2 }});

        this.resetScrollTop();
    },

    switchToActiveProducts: function() {
        this.fire("iron-signal", {name: "spare-parts", data: { tab: 0 }});

        this.resetScrollTop();
    },

    switchToInactiveProducts: function() {
        this.fire("iron-signal", {name: "spare-parts", data: { tab: 1 }});

        this.resetScrollTop();
    },

    hideSectionsList: function() {
        this.fire("iron-signal", {name: "hide-sections-list"});

        setTimeout(function() {
            document.querySelector("meta[name='theme-color']").setAttribute("content", "#930255");
        }, 250);
    },

    handleTabSignal: function(event, data) {
        this.tab = data.tab;
    },

    handleSectionsListSignal: function(event, data) {
        this.sectionsList = !this.sectionsList;

        setTimeout(function() {
            document.querySelector("meta[name='theme-color']").setAttribute("content", "#ccc");
        }, 250);
    },

    resetScrollTop: function() {
        this.fire("iron-signal", {name: "reset-scroll-top"});
    }
});
</script>

</dom-module>
