<!--
# RRD Paper Header Content

This element is a workaround about a strange bug in paper-drawer-panel from Polymer.

We have to separate toolbars from actual content elements.

For any element to show do this:
1. Add route in routing.html
2. Add element here with that route as "data-route" param
3. Add the header you want in RRD Paper Header Toolbar - go there and check how it's done

If you need params, add them in routing and you'll be able to acces them as {{root.paramName}}

Check here to understand how it works:
https://elements.polymer-project.org/elements/paper-scroll-header-panel

Check main index.html to see how it's used.

 -->
}
<dom-module id="rrd-paper-header-content">

<template>
    <div class="content">
        <iron-pages attr-for-selected="data-route" selected="{{route}}" id="mainpages">

<!-- LOGIN -->
            <rrd-login-element
                data-route="cms"
                selected-route="{{route}}">
            </rrd-login-element>

            <tupp-user-login-element
                data-route="login"
                selected-route="{{route}}">
            </tupp-user-login-element>


<!-- CATALOGUE -->
            <rrd-catalogue-sections
                data-route="catalogue"
                selected-route="{{route}}"
                fb-collection-path="catalogue_sections">
            </rrd-catalogue-sections>

            <rrd-catalogue-section-new
                data-route="cataloguesection-new"
                selected-route="{{route}}"
                fb-collection-path="catalogue_sections"
                fb-object-pointer="">
            </rrd-catalogue-section-new>

            <rrd-catalogue-section-edit
                data-route="cataloguesection-edit"
                selected-route="{{route}}"
                fb-collection-path="catalogue_sections"
                fb-object-pointer="{{params.section}}"
                in-edit-mode>
            </rrd-catalogue-section-edit>

            <rrd-products
                fb-collection-path="products"
                selected-route="{{route}}"
                fb-object-pointer=""
                data-route="products">
            </rrd-products>

            <rrd-product-details
                data-route="product-details-with-color"
                selected-route="{{route}}"
                fb-collection-path="products"
                fb-object-pointer="{{params.product}}"
                color="{{params.color}}">
            </rrd-product-details>

            <rrd-product-details
                data-route="product-details"
                selected-route="{{route}}"
                fb-collection-path="products"
                fb-object-pointer="{{params.product}}">
            </rrd-product-details>

            <rrd-product-new
                data-route="product-new"
                selected-route="{{route}}"
                fb-collection-path="products"
                fb-object-pointer="">
            </rrd-product-new>

            <rrd-reorder-objects
                data-route="cataloguesections-reorder"
                selected-route="{{route}}"
                fb-collection-path="catalogue_sections"
                fb-object-pointer="">
            </rrd-reorder-objects>



<!-- FAVORITES -->
            <rrd-favorites
                data-route="favorites"
                selected-route="{{route}}">
            </rrd-favorites>



<!-- HOWTOS -->
            <rrd-howtos
                data-route="howtos"
                selected-route="{{route}}"
                fb-collection-path="recipes">
            </rrd-howtos>

            <rrd-howto-new
                data-route="howto-new"
                selected-route="{{route}}"
                fb-collection-path="recipes"
                fb-object-pointer="">
            </rrd-howto-new>

            <rrd-howto-details
                data-route="howto-details"
                selected-route="{{route}}"
                fb-collection-path="recipes"
                fb-object-pointer="{{params.recipe}}">
            </rrd-howto-details>

            <rrd-howto-details
                data-route="howto-details-with-color"
                selected-route="{{route}}"
                fb-collection-path="recipes"
                fb-object-pointer="{{params.recipe}}">
            </rrd-howto-details>

            <rrd-reorder-objects
                data-route="howtos-reorder"
                selected-route="{{route}}"
                fb-collection-path="recipes">
            </rrd-reorder-objects>



<!-- BONUS POINTS -->
            <rrd-bonus-points
                data-route="bonus-points"
                selected-route="{{route}}">
            </rrd-bonus-points>



<!-- DISTRIBUTORS -->
            <rrd-distributors
                data-route="distributors"
                selected-route="{{route}}"
                fb-collection-path="distributors">
            </rrd-distributors>

            <rrd-distributor-new
                data-route="distributor-new"
                selected-route="{{route}}"
                fb-collection-path="distributors">
            </rrd-distributor-new>

            <rrd-reorder-objects
                data-route="distributors-reorder"
                selected-route="{{route}}"
                fb-collection-path="distributors">
            </rrd-reorder-objects>



<!-- ARTICLES -->
            <rrd-articles
                data-route="articles"
                selected-route="{{route}}"
                fb-collection-path="articles"
                fb-object-pointer="">
            </rrd-articles>

            <rrd-article-details
                data-route="article-details"
                selected-route="{{route}}"
                fb-collection-path="articles"
                fb-object-pointer="{{params.article}}">
            </rrd-article-details>

            <rrd-article-new
                data-route="article-new"
                selected-route="{{route}}"
                fb-collection-path="articles">
            </rrd-article-new>


            <rrd-reorder-objects
                data-route="articles-reorder"
                selected-route="{{route}}"
                fb-collection-path="articles"
                fb-object-pointer="">
            </rrd-reorder-objects>



<!-- SPARE PARTS -->
            <tupp-spare-parts
                data-route="spareparts"
                selected-route="{{route}}">
            </tupp-spare-parts>

            <tupp-spare-parts-archived-product-new
                data-route="spareparts-archived-new"
                selected-route="{{route}}"
                fb-collection-path="spare_parts_archived_products"
                fb-object-pointer="">
            </tupp-spare-parts-archived-product-new>

            <tupp-spare-parts-archived-product-edit
                data-route="spareparts-archived-edit"
                selected-route="{{route}}"
                fb-collection-path="spare_parts_archived_products"
                fb-object-pointer="{{params.product}}"
                in-edit-mode>
            </tupp-spare-parts-archived-product-edit>

            <tupp-spare-parts-search
                data-route="spareparts-search"
                selected-route="{{route}}">
            </tupp-spare-parts-search>



<!-- SEARCH -->
            <rrd-search
                data-route="search"
                selected-route="{{route}}">
            </rrd-search>

        </iron-pages>
    </div>
</template>

<script>
Polymer({
    is: "rrd-paper-header-content",
    properties: {
        route: {
            type: String,
            notify: true
        }
    }
});
</script>

</dom-module>
