<dom-module id="rrd-product-details">

<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        background: #fff;
        display: block;
    }

    .preloader {
        @apply(--layout-fit);
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
    }

    .product {
        background: #fff;
        background-size: 8px 8px;
        color: rgba(0, 0, 0, 0.87);
        overflow: hidden;
        position: relative;
    }

    .product--with-grid {
        background: url(/images/grid.png) #fff;
        background-size: 8px 8px;
    }

    .product__name-price-code-stars {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 11px;
        background: var(--primary-color);
        color: #fff;
    }

    .product__name {
        color: #fff;
        font-size: 24px;
        font-family: medium;
        line-height: 1;
        padding: 24px 0 12px;
    }

    @media all and (min-width: 768px) {
        .product__name {
            font-size: 46px;
            line-height: 1.2;
            padding: 0 0 4px;
        }
    }

    .product__price-code-stars {
        color: #fff;
        padding: 0 0 8px;
        font-size: 16px;
        font-family: medium;
    }

    .product__price {
        display: inline-block;
    }

    .product__code {
        display: inline-block;
        margin-left: 8px;
    }

    .product__stars {
        display: inline-block;
        margin-left: 8px;
    }

    .product__lead {
        padding-bottom: 12px;
        padding-top: 2px;
    }

    .product__lead p {
        font-size: 16px;
        margin: 0;
    }

    .product__photo-image--mobile {
        --iron-image-width: 100%;
        width: 100%;
        margin: 0;
        display: block;
    }

    @media all and (min-width: 768px) {
        .product__photo-image--mobile {
            display: none;
        }
    }

    .product__photo-image--tablet {
        display: none;
    }

    @media all and (min-width: 768px) {
        .product__photo-image--tablet {
            display: block;
            margin: 0;
            height: 400px;
            width: 100%;
            border-bottom: 1px solid #eee;
        }
    }

    .product__photos-control {
        box-sizing: border-box;
        height: 48px;
        text-align: center;
        padding-top: 13px;
    }

    .control__item {
        width: 8px;
        height: 8px;
        background: #ddd;
        border-radius: 50%;
        display: inline-block;
        margin: 0 4px;
    }

    .control__item--active {
        background: #929ff;
    }

    .product__video-link {
        border-radius: 24px;
        border: 1px solid #929ff;
        box-sizing: border-box;
        color: #929ff;
        display: block;
        font-size: 16px;
        font-family: medium;
        height: 49px;
        margin: 0 24px;
        padding-top: 12px;
        text-align: center;
        text-decoration: none;
    }

    .product__video-link-container {
        display: inline-block;
    }

    .product__video-link-icon {
        float: left;
    }

    .product__video-link-label {
        float: left;
        line-height: 24px;
        margin-left: 8px;
    }

    .product__description {
        padding: 23px 24px 8px;
    }

    .product__description p, .product__description ul {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 12px;
    }

    @media all and (min-width: 768px) {
        .product__description p, .product__description ul {
            font-size: 14px;
            line-height: 1.333333333;
            margin: 0 0 14px;
        }
    }

    .product__description ul, .product__description li {
        margin: 0;
        padding: 0;
    }

    .product__description li {
        margin: 0 0 8px 16px;
    }

    .product__description strong {
        font-family: medium;
    }

    .product__description i {
        color: #929ff;
        font-style: normal;
    }

    .product__description code {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #999;
    }

    .header {
        font-size: 16px;
        font-family: medium;
        line-height: 24px;
        margin: 0 0 13px;
    }

    @media all and (min-width: 768px) {
        .header {
            font-size: 20px;
            line-height: 1.5;
        }
    }

    .header--card {
        font-size: 16px;
        line-height: 48px;
        padding: 0 16px;
        border-bottom: 1px solid #ddd;
        margin: 0;
    }

    .content {
        margin: 0 0 25px;
    }

    .product__features {
        margin: 0 24px 24px;
    }

    .feature {
        overflow: hidden;
        margin: 0 0 8px;
    }

    .feature__icon {
        width: 24px;
        line-height: 24px;
        font-size: 24px;
        font-family: "Tupperware New Icons";
        text-align: center;
        float: left;
    }

    .feature__description {
        margin: 5px 0 0 42px;
        font-size: 12px;
        line-height: 16px;
        background: red;
    }

    .product__related-products {
        width: 100%;
        padding: 0 16px 16px;
        box-sizing: border-box;
    }

    paper-card {
        display: block;
        padding: 0 !important;
        position: relative;
        overflow: hidden;
        margin: 8px;
    }


    @media all and (min-width: 768px) {
        .product__photo {
            width: 46%;
            height: 400px;
            float: left;
        }

        .product__name-price-code-stars {
            box-sizing: border-box;
            height: 400px;
            width: 54%;
            display: table;
            position: absolute;
            right: 0;
            top: 0;
        }

        .product__photos-control {
            text-align: left;
            padding-left: 20px;
        }

        .product__subcontainer {
            display: table-cell;
            vertical-align: middle;
        }

        .product__price-code-stars {
            font-size: 24px;
        }

        .product__video {
            margin: 24px 24px 0;
            background: #f0f0f0;
        }
    }
</style>

<template>
    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-firebase-document id="pouch"
      fb-collection-path="[[fbCollectionPath]]"
      fb-object-pointer="[[fbObjectPointer]]"
      fb-object="{{originalObject}}">
    </rrd-firebase-document>

    <paper-dialog id="deleteconfirmationdialog" modal on-iron-overlay-closed="dialogClosed">
        <h2>Are you sure you want to delete?</h2>
        <p>There is no undo</p>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Yes, delete</paper-button>
        </div>
    </paper-dialog>

    <template is="dom-if" if="[[!inEditMode]]">
        <template is="dom-if" if="[[isInCmsMode]]">
            <paper-card>
                <div class="card-actions">
                    <paper-button on-click="toggleEditMode">
                        <iron-icon icon="editor:mode-edit"></iron-icon>
                        Edit
                    </paper-button>

                    <paper-button on-click="showDeleteConfirmationDialog">
                        <iron-icon icon="icons:delete"></iron-icon>
                        Delete
                    </paper-button>
                </div>
            </paper-card>
        </template>

        <div hidden$="{{originalObject}}">
            <div class="preloader">
                <paper-spinner alt="Loading Product Details" active></paper-spinner>
            </div>
        </div>

        <template is="dom-if" if="[[originalObject]]">
            <div class="product">
                <rrd-swiper images$="[[photos]]" fb-object-pointer$="{{fbObjectPointer}}">
                    <template is="dom-repeat" items="[[photos]]">
                        <img src="[[item]]" alt="">
                    </template>
                </rrd-swiper>
                <div class="product__name-price-code-stars" style$="{{style}}">
                    <div class="product__subcontainer">
                        <div class="product__name title">[[originalObject.name]]</div>
                        <div class="product__lead">
                            <marked-element markdown="[[originalObject.lead]]">
                                <div class="markdown-html description"></div>
                            </marked-element>
                        </div>
                        <div class="product__price-code-stars">
                            <div class="product__price"><span>{{formatPrice(originalObject.price)}}</span></div>
                            <div class="product__code"><span>[[originalObject.code]]</span></div>
                            <div class="product__stars">✪<span>[[originalObject.bonus_points]]</span></div>
                        </div>
                    </div>
                </div>
                <template is="dom-if" if="[[youtubeVideoId]]">
                    <div class="product__video">
                        <google-youtube video-id="[[youtubeVideoId]]" chromeless fluid=></google-youtube>
                    </div>
                </template>
                <div class="product__description">
                    <template is="dom-if" if="[[!isLoggedIn]]">
                        <template is="dom-repeat" items="[[originalObject.consumer_description]]">
                            <div class="product__description-header header">[[item.title]]</div>
                            <div class="product__description-content content">
                                <marked-element markdown="[[item.body]]">
                                    <div class="markdown-html description"></div>
                                </marked-element>
                            </div>
                        </template>
                        <div class="login__prompt-box">
                            <div class="login__prompt-header header">       {{localize('login_prompt_for_conultants_only')}}
                            </div>
                            <div class="login__prompt-content content">
                                <p>
                                    {{localize('login_prompt_to_se_more_info')}}
                                    <span>{{localize('login_prompt_what_to_do')}}</span>
                                </p>
                            </div>
                            <div class="login__prompt-actions">
                                <p>
                                    <paper-button on-tap="goToBonusPoints">{{localize('login_prompt_become_a_consultant_action_name')}}</paper-button>
                                    <paper-button on-tap="goToLogin">{{localize('login_prompt_login_action_name')}}</paper-button>
                                </p>
                            </div>
                        </div>
                    </template>
                    <template is="dom-if" if="[[isLoggedIn]]">
                        <template is="dom-repeat" items="[[originalObject.consultant_description]]">
                            <div class="product__description-header header">[[item.title]]</div>
                            <div class="product__description-content content">
                                <marked-element markdown="[[item.body]]">
                                    <div class="markdown-html description"></div>
                                </marked-element>
                            </div>
                        </template>
                        <template is="dom-if" if="[[originalObject.spare_parts]]">
                            <div class="product__description-header header">{{localize('product_spare_parts_label')}}</div>
                            <div class="product__description-content content">
                                <ul>
                                    <template is="dom-repeat" items="[[originalObject.spare_parts]]">
                                        <li>
                                            <span>[[item.name]]</span><br>
                                            <i><span>{{formatPrice(item.price)}}</span></i> <code><span>[[item.code]]</span></code>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </template>
                    </template>
                </div>
                <div class="product__features">
                    <rrd-use-infos related-objects="[[originalObject.use_infos]]"></rrd-use-infos>
                </div>
                <template is="dom-if" if$="[[originalObject.related_products]]">
                    <div class="product__related-products">
                        <paper-card class="product__related-products-card">
                            <div class="product__related-products-header header header--card">{{localize('product_related_products')}}</div>
                            <div class="layout horizontal wrap">
                                <template is="dom-repeat" items="[[originalObject.related_products]]">
                                    <rrd-products-grid-item
                                        fb-collection-path="products"
                                        fb-object-pointer="[[item.pointer]]"
                                        color="[[color]]">
                                    </rrd-products-grid-item>
                                </template>
                            </div>
                        </paper-card>
                    </div>
                </template>
            </div>
        </template>
    </template>

    <template is="dom-if" if="[[inEditMode]]">
        <rrd-product-form
            original-object="{{originalObject}}"
            altered-object="{{alteredObject}}"
            is-saving="{{isSaving}}">
        </rrd-product-form>
        <div class="cms__cancel">
            <paper-button on-click="toggleEditMode" noink>
                Cancel
            </paper-button>
        </div>
    </template>
</template>

<script>
Polymer({
    is: "rrd-product-details",
    behaviors: [
        Polymer.IronScrollTargetBehavior,
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior,
        RRDScrollBehavior,
        RRDAppLocalizeBehavior
    ],
    properties: {
        originalObject: {
            type: Object,
            notify: true,
            observer: "originalObjectObserver"
        },
        youtubeVideoId: {
            type: String,
            notify: true,
            computed: "getYTVideoID(originalObject.youtube_link)"
        },
        color: {
            type: String,
            notify: true,
            value: 'c5478f'
        },
        style: {
            type: String,
            notify: true,
            computed: "getStyle(color)"
        },
        photos: {
            type: Array,
            notify: true
        }
    },

    /* Sorry but this hack is needed fo everything to work properly */
    getPhoto: function(src) {
        return "background-image:url(" + src + ");background-size:contain;width:" + window.innerWidth/2 + "px;display:block;height:399px";
    },

    originalObjectObserver: function() {
        var photos = [];

        if(this.originalObject != null) {
            if(typeof this.originalObject != "undefined") {
                if(typeof this.originalObject.details_photos != "undefined") {
                    this.originalObject.details_photos.forEach(function(photo) {
                        photos.push(photo.photo_url);
                    });
                } else {
                    photos.push(this.originalObject.cover_photo_url);
                }
            }
        }

        if(this.dataRoute == this.selectedRoute) {
            if(photos.length > 0) {
                if(JSON.stringify(this.photos) != JSON.stringify(photos)) {
                    this.photos = photos;
                }
            }
        }
    },

    getStyle: function() {
        return "background:#" + this.color;
    },

    getYTVideoID: function(youtubeLink) {
        if (youtubeLink) {
            var arr = youtubeLink.split("v=");
            return arr[1];
        } else {
            return null;
        }
    },

    currentObjectWasDeleted: function() {
        page("/products");
        this.showToast("Product deleted");
    },

    routeObserver: function() {
        if(this.dataRoute != this.selectedRoute) {
            this.set('originalObject', null);
            this.set('originalObject', undefined);
            this.set('photos', null);
            this.set('photos', undefined);
            this.$.pouch.refreshObject();
        }
    },

    goToBonusPoints: function() {
        setTimeout(function(){
            window.page("/bonus-points/history");
        }, 250);
    },

    goToLogin: function() {
        setTimeout(function(){
            page("/login/history");
        }, 250);
    }
});
</script>

</dom-module>
