<dom-module id="rrd-products-grid-item">

<style>
    :host {
        width: 50%;
        @apply(--layout-self-stretch);
    }

    @media all and (min-width: 768px) {
        :host {
            width: 33.33333%;
        }
    }

    @media all and (min-width: 1024px) {
        :host {
            width: 25%;
        }
    }

    .product {
        height: 196px;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        text-decoration: none;
        display: block;
        padding-top: 16px;
        cursor: pointer;
        cursor: hand;
    }

    @media all and (min-width: 768px) {
        .product {
            height: 202px;
        }
    }

    .product__name {
        font-size: 12px;
        line-height: 14px;
        padding-top: 6px;
        color: rgba(0, 0, 0, 0.87);
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .product__price-code {
        overflow: hidden;
    }

    .product__price {
        display: inline-block;
        margin: 0 4px 0 0;
        color: #929ff;
        font-size: 12px;
        line-height: 14px;
    }

    .product__code {
        display: inline-block;
        color: #999;
        font-size: 12px;
        line-height: 14px;
    }

    .product__name-price-code {
        display: block;
        margin: 0 16px;
        border-top: 1px solid #ddd;
        padding-bottom: 16px;
    }

    .product__container {
        display: block;
    }

    iron-image {
        display: block;
        height: 120px;
        width: 120px;
        margin: 0 auto 0 auto;
    }

    @media all and (min-width: 768px) {
        .product__name {
            font-size: 14px;
            line-height: 16px;
            padding-top: 10px;
        }
    }
</style>

<template>
    <template is="dom-if" if="[[retrieve]]">
        <rrd-firebase-document
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>

    <div class="product" on-tap="showDetails">
        <span class="product__container">
            <iron-image
                src$="[[originalObject.cover_photo_url]]"
                sizing="cover"
                item-icon>
            </iron-image>
            <span class="product__name-price-code">
                <span class="product__name">{{originalObject.name}}</span>
                <span class="product__price-code">
                    <span class="product__price">{{formatPrice(originalObject.price)}}</span>
                    <span class="product__code">{{originalObject.code}}</span>
                </span>
            </span>
        </span>
    </div>
</template>

<script>
Polymer({
    is: "rrd-products-grid-item",
    behaviors: [
        Polymer.IronFitBehavior,
        RRDCommonObjectHandlingBehavior,
        RRDScrollBehavior,
        Polymer.IronResizableBehavior
    ],
    properties: {
        originalObject: {
            type: Object,
            notify: true
        },
        color: {
            type: String,
            notify: true
        }
    },

    showDetails: function() {
        if (this.color) {
            page("/products/" + this.fbObjectPointer + "/" + this.color);
            this.resetScroll();
        } else {
            page("/products/" + this.fbObjectPointer);
            this.resetScroll();
        }
    }
});
</script>

</dom-module>
