<!-- 
# RRD Products

This elements is used only for CMS - there is no navigation to that for non admins.

It shows products list with filtering for easy finding and editing
 -->

<dom-module id="rrd-products">
    
<style is="custom-style" include="shared-styles"></style>
<style>
    .search {
        @apply(--layout-fit);
    }

    .search__query {
        background: #fff;
        width: 100%;
        padding: 8px 26px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.07) 0 3px 3px;
        z-index: 3;
        position: relative;
    }

    @media all and (min-width: 1281px) {
        .search__query {
            padding: 8px 16px;
        }
    }

    .search__results {
        @apply(--layout-flex);
        @apply(--layout-vertical);
    }

    .results__container {
        padding: 0 0 8px;
    }

    .results__list {
        @apply(--layout-flex);
        overflow: auto;
        z-index: 1;
        position: relative;
    }

    .preloader {
        @apply(--layout-fit);
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
    }

    paper-card {
        margin: 8px;
        display: block;
    }

    h3 {
        font-size: 14px;
        line-height: 16px;
        font-family: medium;
        color: var(--primary-color);
        padding-left: 16px;
    }
</style>
    
<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <template is="dom-if" if="[[isInCmsMode]]">
        <rrd-firebase-collection 
            fb-collection-path="[[fbCollectionPath]]" 
            fb-objects="{{fbProducts}}">
        </rrd-firebase-collection>

        <rrd-search-provided-collection
            fb-objects="{{fbProducts}}"
            search-query="{{searchQuery}}"
            objects="{{products}}"
            search-fields="{{searchIndexFields}}"
            limit="500">
        </rrd-search-provided-collection>

        <div class="search layout vertical">
            <div class="search__query">
                <paper-input 
                    name="searchQuery" 
                    placeholder="Product name, product code" 
                    no-label-float 
                    value="{{searchQuery}}">
                </paper-input>
            </div>
            <div class="search__results results layout">
                <div class="results__list" id="resultslist">
                    <paper-card>
                        <template is="dom-repeat" items="{{products}}" as="product">
                            <rrd-product-related-inline 
                                fb-collection-path="[[fbCollectionPath]]" 
                                fb-object-pointer="[[product._id]]"
                                original-object="{{product}}">
                            </rrd-product-related-inline>
                        </template>
                    </paper-card>
                </div>
            </div>
        </div>
        <paper-fab 
            class="add"
            elevation="1" 
            icon="add" 
            on-click="showNewForm" 
            hidden$="{{!isInCmsMode}}">
        </paper-fab>
    </template>
</template>

<script>
Polymer({
    is: "rrd-products",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],
    properties: {

        /* All objects loaded from db */
        fbProducts: {
            type: Array,
            notify: true
        }, 

        /* Object filtered after search */
        products: {
            type: Array,
            notify: true
        },

        /* Fileds to use in search */
        searchIndexFields: {
            type: Array,
            notify: true,
            value: ["name", "code"]
        },

        /* Query user uses  */
        searchQuery: {
            type: String,
            notify: true
        }
    },

    showNewForm: function() {
        page("/products/new");
    }
});
</script>

</dom-module>