<dom-module id="rrd-catalogue-section-edit">

<style is="custom-style" include="shared-styles"></style>
<style>
    paper-card {
        margin: 8px 8px 0;
        --paper-card-header-color: #000;
        display: block;
    }
    a {
        text-transform: none;
    }
    .card-content {
        border-bottom: 1px solid #ddd;
    }
</style>

<template>
    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-firebase-document
        fb-collection-path="[[fbCollectionPath]]"
        fb-object-pointer="[[fbObjectPointer]]"
        fb-object="{{originalObject}}">
    </rrd-firebase-document>

    <!-- Dialog -->
    <paper-dialog id="deleteconfirmationdialog" modal on-iron-overlay-closed="dialogClosed">
        <h2>Are you sure you want to delete?</h2>
        <p>There is no undo</p>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Yes, delete</paper-button>
        </div>
    </paper-dialog>

    <template is="dom-if" if="[[!inEditMode]]">
        <template is="dom-if" if="[[isInCmsMode]]">
            <paper-card>
                <div class="card-actions">
                    <paper-button on-click="toggleEditMode">
                        <iron-icon icon="editor:mode-edit"></iron-icon>
                        Edit
                    </paper-button>
                    <paper-button on-click="showDeleteConfirmationDialog">
                        <iron-icon icon="icons:delete"></iron-icon>
                        Delete
                    </paper-button>
                </div>
            </paper-card>
        </template>

        <rrd-catalogue-section-inline
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            hide-edit-link
            index="0"
            original-object="{{originalObject}}">
        </rrd-catalogue-section-inline>
    </template>

    <template is="dom-if" if="[[inEditMode]]">
        <div class="card-content">
            <rrd-catalogue-section-form
                original-object="{{originalObject}}"
                altered-object="{{alteredObject}}"
                is-saving="{{isSaving}}">
            </rrd-catalogue-section-form>
        </div>
        <div class="cms__cancel">
            <paper-button on-click="toggleEditMode" noink>
                Cancel
            </paper-button>
        </div>
    </template>
</template>

<script>
Polymer({
    is: "rrd-catalogue-section-edit",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],
    properties: {
        metaValue: {
            type: String,
            notify: true
        },
        headerTextStyle: {
            type: String,
            notify: true,
            computed: "getHeaderTextStyle(originalObject)"
        },
        headerTextContainerStyle: {
            type: String,
            notify: true,
            computed: "getHeaderTextStyle(originalObject)"
        },
        hasColor: {
            type: Boolean,
            notify: true,
            computed: "checkIfHasColor(originalObject)"
        },
        index: {
            type: Number
        }
    },
    checkIfHasColor: function() {
        if(typeof this.originalObject.hex_color == "undefined") {
            this.originalObject.hex_color = "be3382";
        }

        return true;
    },

    didToggleEditMode: function() {
        this.fire("iron-signal", {name: "refresh-catalogue"});
    },

    getHeaderTextStyle: function() {
        var style = "";

        if(typeof this.originalObject.hex_color != "undefined") {
            style = "background:#" + this.originalObject.hex_color + ";color:#fff";
        }

        return style;
    },

    getHeaderTextContainerStyle: function() {
        var style = "";

        if(typeof this.originalObject.hex_color != "undefined") {
            style = "color:#fff !important";
        }

        return style;
    },

    currentObjectWasDeleted: function() {
        page("/");
        this.showToast("Section deleted");
    },
});
</script>

</dom-module>
