<!-- 
# RRD Use Infos

Shows list of use infos (icon + description of use).

 -->
<link rel="import" href="rrd-use-info.html">

<dom-module id="rrd-use-infos">

<template>
    <template is="dom-repeat" items="[[relatedObjects]]">
        <rrd-use-info 
            fb-collection-path="product_use_infos" 
            fb-object-pointer="[[item.pointer]]">
        </rrd-use-info>
    </template>
</template>

<script>
Polymer({
    is: "rrd-use-infos",
    behaviors: [
        Polymer.IronFitBehavior
    ]
});      
</script>

</dom-module>