<dom-module id="rrd-use-info">
    
<style is="custom-style" include="shared-styles"></style>
<style>
    .feature {
        overflow: hidden;
        margin: 0 0 8px;
        position: relative;
    }

    .feature__icon {
        width: 24px;
        line-height: 24px;
        font-size: 24px;
        font-family: icons;
        text-align: center;
        float: left;
    }

    .feature__icon-hack {
        width: 11px;
        height: 11px;
        background: #fff;
        position: absolute;
        top: 9px;
        left: 7px;
    }

    .feature__description {
        margin: 3px 0 0 42px;
        font-size: 12px;
        line-height: 16px;
    }

    @media all and (min-width: 768px) {
        .feature__description {
            font-size: 14px;
            line-height: 16px;
        }
    }
   
    
    iron-image {
        height: 32px;
        width: 32px;
        /*margin: 8px 0 0 8px;*/
        float: left;
    }
    
</style>
  
<template>
    <rrd-firebase-document
        fb-collection-path="[[fbCollectionPath]]" 
        fb-object-pointer="[[fbObjectPointer]]" 
        fb-object="{{useinfo}}">
    </rrd-firebase-document>  
    
    <div class="product__features-feature feature">
        <div class="feature__icon">
            <span>[[useinfo.char]]</span>
        </div>
        <div class="feature__icon-hack" hidden$="{{!is9}}"></div>
        <div class="feature__description">
            <span>[[useinfo.name]]</span>
        </div>
    </div>
</template>

<script>
Polymer({
    is: "rrd-use-info",
    behaviors: [
        Polymer.IronFitBehavior
    ],
    properties: {
        is9: {
            type: Boolean,
            notify: true,
            computed: "checkIfIs9(useinfo)"
        }
    },
    
    checkIfIs9: function() {
        if(this.useinfo.char == "9") {
            return true;
        } else {
            return false;
        }
    }
});      
</script>

</dom-module>