<link rel="import" href="rrd-products-grid-item.html">
<link rel="import" href="rrd-product-related-inline.html">
<link rel="import" href="rrd-use-infos.html">
<link rel="import" href="rrd-product-details.html">
<link rel="import" href="rrd-catalogue-section-form.html">
<link rel="import" href="rrd-catalogue-section-inline.html">
<link rel="import" href="rrd-catalogue-section-shortcut.html">
<link rel="import" href="rrd-catalogue-section-new.html">
<link rel="import" href="rrd-catalogue-section-edit.html">
<link rel="import" href="rrd-catalogue-section-form.html">


<!--
#RRD Catalogue Sections

This is the start of the catalogue.

Element is quite complicated and we use Iron Signals to trigger Iron list rearrange because of some shortcommings of Iron List on this points.

Sections use left - right laout for photos.

Related products are divided into 2 groups:
1. Highlighted products (rrd-product-related-inline)
2. Non highlighted products (rrd-products-grid-item)
 -->

<dom-module id="rrd-catalogue-sections">

<style is="custom-style" include="shared-styles"></style>
<style>
    paper-card {
        margin: 8px 8px 0;
        --paper-card-header-color: #000;
        display: block;
    }

    .app-name {
        margin: 40px;
        padding: 16px;
    }

    h3 {
        margin: 16px;
        padding: 16px;
    }

    paper-scroll-header-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--paper-grey-200, #eee);
    }

    .preloader {
        @apply(--layout-fit);
        @apply(--layout-horizontal);
        @apply(--layout-center);
        @apply(--layout-center-justified);
    }

    @media (min-width: 724px) {
        .cards {
            padding: 48px 62px;
        }
    }

    .header_image {
        height: 200px;
        width: 100%;
        display: block;
        margin: 0;
    }

    .title {
        @apply(--paper-font-title);
        color: var(--default-primary-color);
        display: block;
        margin: 0 0 8px;
        white-space: normal !important;
    }

    .description {
        @apply(--paper-font-body1);
    }

    paper-fab {
        position: fixed;
        z-index: 1;
        -webkit-transform: translateZ(0);
        bottom: 16px;
        right: 16px;
    }

    iron-list {
        @apply(--layout-fit);
    }

    #catalogue {
        padding-bottom: 8px;
    }
</style>

<template>
    <iron-signals on-iron-signal-jump="handleJumpSignal"></iron-signals>

    <iron-signals on-iron-signal-cmsstatechanged="arrangeIronList"></iron-signals>

    <iron-signals on-iron-signal-refresh-catalogue="arrangeIronList"></iron-signals>

    <iron-signals on-iron-signal-refreshobjects="arrangeIronList"></iron-signals>

    <iron-signals on-iron-signal-hide-sections-list="handleHideSectionsListSignal"></iron-signals>

    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-firebase-collection
        fb-collection-path="{{fbCollectionPath}}"
        fb-objects="{{sections}}">
    </rrd-firebase-collection>

    <template is="dom-if" if="{{!sections.length}}">
        <div class="preloader">
            <paper-spinner alt="Loading Catalogue" active></paper-spinner>
        </div>
    </template>
    <iron-list id="catalogue" items="[[sections]]" as="section" hidden$="{{sectionList}}">
        <template>
            <rrd-catalogue-section-inline
                fb-collection-path="[[fbCollectionPath]]"
                fb-object-pointer="[[section._id]]"
                index="[[index]]"
                original-object="{{section}}">
            </rrd-catalogue-section-inline>
        </template>
    </iron-list>

    <iron-list id="sections" items="[[sections]]" as="s" class="sections-list" hidden$="[[!sectionList]]">
        <template>
            <rrd-catalogue-section-shortcut
                fb-collection-path="[[fbCollectionPath]]"
                fb-object-pointer="[[s._id]]"
                index="[[index]]"
                original-object="[[s]]">
            </rrd-catalogue-section-shortcut>
        </template>
    </iron-list>

    <template is="dom-if" if="[[!isInCmsMode]]">
        <paper-fab
            elevation="1"
            icon="editor:format-list-bulleted"
            on-click="showSectionsList"
            hidden$="[[sectionList]]">
        </paper-fab>
    </template>

    <paper-fab
        class="add"
        elevation="1"
        icon="add"
        on-click="showNewForm"
        hidden$="[[!isInCmsMode]]">
    </paper-fab>
    <paper-fab
        class="reorder"
        elevation="1"
        icon="icons:reorder"
        on-click="goToReorder"
        hidden$="[[!isInCmsMode]]">
    </paper-fab>
</template>

<script>
Polymer({
    is: "rrd-catalogue-sections",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior,
        Polymer.IronResizableBehavior
    ],

    properties: {

        /* If true, the view switched to menu view (section list) */
        sectionList: {
            type: Boolean,
            notify: true,
            value: false
        },

        /* Sections array */
        sections: {
            type: Array,
            notify: true
        }
    },

    /* Shows menu view */
    showSectionsList: function() {
        this.sectionList = true;
        this.async(function() {
            this.$.sections.fire("iron-resize");
        });

        this.fire("iron-signal", {name: "sections"});
    },

    /* Hides menu view */
    hideSectionsList: function() {
        this.sectionList = false;
        this.$.sections.fire("iron-resize");
        this.$.catalogue.fire("iron-resize");

        this.fire("iron-signal", {name: "sections"});
    },

    /* Handles jump to selected section by user in menu view */
    handleJumpSignal: function(event, data) {
        this.hideSectionsList();
        this.$.catalogue.scrollToIndex(data.index);
    },

    /* Hides menu view */
    handleHideSectionsListSignal: function(event, data) {
        this.hideSectionsList();
    },

    /* Helper method that makes sure everything is displayer properly (check Iron List documentation) */
    arrangeIronList: function(event, data) {
        console.log("Catalog - arrangeIronList");
        this.$.catalogue.fire("iron-resize");
        this.$.sections.fire("iron-resize");
    },

    /* CMS - add new section */
    showNewForm: function() {
        page("/cataloguesections/new");
    },

    /* CMS - reorder sections */
    goToReorder: function() {
        page("/cataloguesections/reorder");
    }
});
</script>

</dom-module>
