<dom-module id="rrd-catalogue-section-shortcut">

<style>
    a {
        display: block;
        background: #999;
        color: #fff;
        padding: 16px;
    }

    @media all and (min-width: 768px) {
        a {
            font-size: 24px;
        }
    }
</style>

<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>
    <template is="dom-if" if="{{retrieve}}">
        <rrd-firebase-document 
            id='firebaseid' 
            fb-collection-path="[[fbCollectionPath]]" 
            fb-object-pointer="[[fbObjectPointer]]" 
            fb-object='{{originalObject}}'>
        </rrd-firebase-document>
    </template>

    <a href="" on-click="jump" style$="{{textStyle}}">{{ originalObject.menu_name }}</a>
</template>

<script>
Polymer({
    is: "rrd-catalogue-section-shortcut",
    behaviors: [
        RRDCommonObjectHandlingBehavior
    ],
    properties: {
        textStyle: {
            type: String,
            notify: true,
            computed: "getTextStyle(originalObject)"
        },
        index: {
            type: String,
            notify: true
        }
    },

    getTextStyle: function() {
        var style = "";

        if(typeof this.originalObject.hex_color != "undefined") {
            style = "background:#" + this.originalObject.hex_color + ";color:#fff";
        } 

        return style;
    },
    
    jump: function(event) {
        event.preventDefault();

        this.fire("iron-signal", {name: "jump", data: { index: this.index }});
    }
});
</script>

</dom-module>