<dom-module id="rrd-catalogue-section-form">
    
<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        background: #fff;
        display: block;
    }
</style>


<template>
    <form is="iron-form" id="form" method="post" class="cms">
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Section Header</h2>
                <paper-input 
                    label="Name" 
                    name="name" 
                    required 
                    error-message="Name is required" 
                    value="{{localObject.name}}" 
                    disabled="{{isSaving}}">
                </paper-input>
                
                <paper-input 
                    label="Menu name" 
                    name="menu_name" 
                    required 
                    error-message="Menu name is required" 
                    value="{{localObject.menu_name}}" 
                    disabled="{{isSaving}}">
                </paper-input>
                
                <paper-textarea 
                    name="lead" 
                    value="{{localObject.lead}}" 
                    label="Lead" 
                    disabled="{{isSaving}}">
                </paper-textarea>
                
                <paper-input 
                    label="Color" 
                    name="hex_color" 
                    value="{{localObject.hex_color}}" 
                    disabled="{{isSaving}}">
                </paper-input>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Cover Photo</h2>
                <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--images">
                    <rrd-file-upload-element 
                        single 
                        uploaded-file-url="{{localObject.cover_photo_url}}">
                    </rrd-file-upload-element>
                </div>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Highlighted Products</h2>
                <rrd-form-related-elements 
                    fb-collection-path="products"
                    related-objects="{{localObject.highlighted_products}}">
                </rrd-form-related-elements>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Non Highlighted Products</h2>
                <rrd-form-related-elements 
                    fb-collection-path="products"
                    related-objects="{{localObject.non_highlighted_products}}">
                </rrd-form-related-elements>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset cms__fieldset--save">
            <div class="cms__fieldset-container">
                <paper-button raised on-tap="submitForm" disabled="{{!isSuitableForSaving}}">Save</paper-button>
            </div>
        </fieldset>
    </form>
</template>

<script>
Polymer({
    is: "rrd-catalogue-section-form",
    behaviors: [
        RRDFormBehavior
    ],
    
    initializeAdditionalProperties: function() {
        if (this.localObject) {
            if (!this.localObject.highlighted_products) {
                this.set("localObject.highlighted_products", []);
            }
            if (!this.localObject.non_highlighted_products) {
                this.set("localObject.non_highlighted_products", []);
            }
        }
    }
});
</script>

</dom-module>
