<dom-module id="rrd-product-list-item">

<style>
    iron-image {
        width: 40px;
        height: 40px;
    }
</style>

<template>
    <template is="dom-if" if="[[retrieve]]">
        <rrd-firebase-document
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>

    <paper-icon-item on-tap="goToDetails">
        <iron-image
            src$="[[originalObject.cover_photo_url]]"
            sizing="cover"
            item-icon>
        </iron-image>

        <paper-item-body two-line>
            <div>[[originalObject.name]]</div>
            <div secondary><span>{{formatPrice(originalObject.price)}}</span> &nbsp; <span>[[originalObject.code]]</span></div>
        </paper-item-body>
    </paper-icon-item>
</template>

<script>
Polymer({
    is: "rrd-product-list-item",
    behaviors: [
        Polymer.IronFitBehavior,
        RRDCommonObjectHandlingBehavior
    ],

    goToDetails: function() {
        page("/products/" + this.fbObjectPointer);
    }
});
</script>

</dom-module>
