<dom-module id="rrd-catalogue-section-new">

<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        background: #ffffff;
        display: block;
    }
</style>

<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-catalogue-section-form
        original-object="[[originalObject]]" 
        altered-object="{{alteredObject}}" 
        is-saving="{{isSaving}}">
    </rrd-catalogue-section-form>
    
    <div class="cms__cancel">
        <paper-button on-click="clearFormAndGoBack">
            <iron-icon icon="icons:cancel"></iron-icon>
            Clear and cancel
        </paper-button>  
    </div>
</template>

<script>
Polymer({
    is: "rrd-catalogue-section-new",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],

    ready: function() {
        this.set("originalObject", {});
        this.inEditMode = true;
    },

    clearFormAndGoBack: function() {
        this.set("originalObject", {});
        page("/");
    }
});
</script>

</dom-module>