<dom-module id="rrd-product-form">

<style is="custom-style" include="shared-styles"></style>

<template>
    <form is="iron-form" id="form" method="post" class="cms">
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Product Header</h2>
                <paper-input label="Name" name="name" required error-message="Name is required" value="{{localObject.name}}" disabled="{{isSaving}}"></paper-input>
                <paper-textarea name="lead" value="{{localObject.lead}}" label="Lead" required disabled="{{isSaving}}"></paper-textarea>
                <div class="cms__row">
                    <div class="cms__col">
                        <paper-input label="Product Code" name="code" value="{{localObject.code}}" disabled="{{isSaving}}"></paper-input>
                    </div>
                    <div class="cms__col">
                        <paper-input label="Price" name="price" value="{{localObject.price}}" type="number" step="any" prevent-invalid-input disabled="{{isSaving}}" autovalidate>
                            <div suffix>€</div>
                        </paper-input>
                    </div>
                    <div class="cms__col">
                        <paper-input label="Bonus Points" name="bonus_points" value="{{localObject.bonus_points}}" type="number" step="any" prevent-invalid-input disabled="{{isSaving}}" autovalidate>
                            <div suffix>✪</div>
                        </paper-input>
                    </div>
                </div>
                <paper-input label="YouTube Link" name="youtube_link" value="{{localObject.youtube_link}}" disabled="{{isSaving}}"></paper-input>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Cover Photo</h2>
                <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--images">
                    <rrd-file-upload-element single uploaded-file-url="{{localObject.cover_photo_url}}"></rrd-file-upload-element>
                </div>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Details Photos</h2>
                <rrd-multiple-file-upload-element file-urls-collection="{{localObject.details_photos}}"></rrd-multiple-file-upload-element>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Consumer description</h2>
                <template is="dom-if" if="{{localObject.consumer_description}}">
                    <div class="cms__fieldset-subcontainer">
                        <template is="dom-repeat" items="{{localObject.consumer_description}}">
                            <paper-card class="cms__card">
                                <div class="cms__card-header">
                                    <h3 class="cms__card-heading">
                                        Section <span>{{handlePolymerIndex(index)}}</span>  
                                    </h3>
                                    <paper-icon-button icon="icons:delete" on-tap="removeConsumerSection" noink class="cms__card-header-action"></paper-icon-button>
                                </div>
                                <div class="cms__card-content">
                                    <paper-input label="Title" name="title" required error-message="Title is required" value="{{item.title}}" disabled="{{isSaving}}"></paper-input>
                                    <paper-textarea name="body" value="{{item.body}}" label="Body" required disabled="{{isSaving}}"></paper-textarea>
                                    <marked-element markdown="[[item.body]]">
                                        <div class="markdown-html preview"></div>
                                    </marked-element>
                                </div>
                            </paper-card>
                        </template>
                    </div>
                </template>
                <div class="cms__actions">
                    <paper-button class="cms__action" on-tap="addNewConsumerSection" noink>
                        Add section
                    </paper-button>
                </div>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Consultant description</h2>
                <div class="cms__fieldset-subcontainer">
                    <template is="dom-repeat" items="{{localObject.consultant_description}}">
                        <paper-card class="cms__card">
                            <div class="cms__card-header">
                                <h3 class="cms__card-heading">
                                    Section <span>{{handlePolymerIndex(index)}}</span>      
                                </h3> 
                                <paper-icon-button icon="icons:delete" on-tap="removeConsultantSection" noink class="cms__card-header-action"></paper-icon-button>
                            </div>
                            <div class="cms__card-content">
                                <paper-input label="Title" name="title" required error-message="Title is required" value="{{item.title}}" disabled="{{isSaving}}"></paper-input>
                                <paper-textarea name="body" value="{{item.body}}" label="Body" required disabled="{{isSaving}}"></paper-textarea>
                                <marked-element markdown="[[item.body]]">
                                    <div class="markdown-html preview"></div>
                                </marked-element>

                            </div>
                        </paper-card>
                    </template>
                </div>
                <div class="cms__actions">
                    <paper-button class="cms__action" on-tap="addNewConsultantSection" noink>
                        Add section
                    </paper-button>
                </div>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Spare Parts</h2>
                <div class="cms__fieldset-subcontainer">
                    <template is="dom-repeat" items="{{localObject.spare_parts}}">
                        <paper-card class="cms__card">
                            <div class="cms__card-header">
                                <h3 class="cms__card-heading">
                                    Part <span>{{handlePolymerIndex(index)}}</span> 
                                </h3>
                                <paper-icon-button icon="icons:delete" on-tap="removeSparePart" noink class="cms__card-header-action"></paper-icon-button>
                            </div>
                            <div class="cms__card-content">
                                <paper-input label="Name" name="name" required error-message="Name is required" value="{{item.name}}" disabled="{{isSaving}}"></paper-input>
                                <paper-input label="Code" name="code" required error-message="Code is required" value="{{item.code}}" disabled="{{isSaving}}"></paper-input>
                                <paper-input label="Price" name="price" value="{{item.price}}" type="number" step="any" prevent-invalid-input disabled="{{isSaving}}" autovalidate>
                                    <div suffix>€</div>
                                </paper-input>
                            </div>
                        </paper-card>
                    </template>
                </div>
                <div class="cms__actions">
                    <paper-button class="cms__action" on-tap="addNewSparePart" noink>Add part</paper-button>
                </div>
            </div>  
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Related Products</h2>
                <rrd-form-related-elements 
                    fb-collection-path="products"
                    related-objects="{{localObject.related_products}}">
                </rrd-form-related-elements>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset cms__fieldset--save">
            <div class="cms__fieldset-container">
                <paper-button raised on-tap="submitForm" disabled="{{!isSuitableForSaving}}">Save</paper-button>
            </div>
        </fieldset>
    </form>
</template>

<script>
Polymer({
    is: "rrd-product-form",
    behaviors: [
      RRDFormBehavior
    ],

    prepareLocalObjectBeforeSaving: function() {
        this.localObject.regular_price = parseFloat(this.localObject.regular_price);
    },

    initializeAdditionalProperties: function() {
        if (this.localObject) {
            if (!this.localObject.related_products) {
                this.set('localObject.related_products', []);
            }
            if (!this.localObject.details_photos || this.localObject.details_photos.length === 0) {
                this.set("localObject.details_photos", [{"photo_url": null}]);
            }
            if (!this.localObject.consumer_description || this.localObject.consumer_description.length === 0) {
                this.set("localObject.consumer_description", [{}]);
            }
            if (!this.localObject.consultant_description || this.localObject.consultant_description.length === 0) {
                this.set("localObject.consultant_description", [{}]);
            }
            if (!this.localObject.spare_parts) {
                this.set("localObject.spare_parts", []);
            }
        }
    },

    addNewConsumerSection: function() {
        this.push("localObject.consumer_description", {});
    },

    removeConsumerSection: function(e) {
        var indexToRemove = e.model.index;
        this.splice("localObject.consumer_description", indexToRemove, 1);
    },

    addNewConsultantSection: function() {
        this.push("localObject.consultant_description", {});
    },

    removeConsultantSection: function(e) {
        var indexToRemove = e.model.index;
        this.splice("localObject.consultant_description", indexToRemove, 1);
    },

    addNewSparePart: function() {
        this.push("localObject.spare_parts", {});
    },

    removeSparePart: function(e) {
        var indexToRemove = e.model.index;
        this.splice("localObject.spare_parts", indexToRemove, 1);
    },
    
    handlePolymerIndex: function(index) {
        return index+1;
    }
});
</script>

</dom-module>