<dom-module id="rrd-catalogue-section-inline">
    
<style>
    paper-card {
        margin: 8px 8px 0;
        --paper-card-header-color: #000;
        display: block;
    }
    
    h3 {
        margin: 16px;
        padding: 16px;            
    }

    .header__image-container {
        width: 100%;
        display: block; 
    }

    .header__image {
        width: 100%;
        height: 100%;
    }
    
    .header {
        overflow: hidden;
        border-bottom: 1px solid #ddd;
    }

    .header__text {
        box-sizing: border-box;
        padding: 20px;
    }    

    .title {
        color: #929ff;
        display: block;
        margin: 0 0 8px;
        line-height: 1;
        white-space: normal !important;
        font-size: 24px;
        font-family: medium;
    }

    @media all and (max-width: 767px) {
        .cover {
            width: 100%;
            display: block;
            position: relative;
        }

        .cover:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 79.3650794%;
        }

        .cover > .cover__image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .header__image-container {
            position: relative;
        }

        .header__image-container:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 79.3650794%;
        }

        .header__image-container > .header__image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    @media all and (min-width: 768px) {
        .cover__image {
            width: 100%;
            height: 100%;
            min-height: 400px;
            margin-bottom: -4px;
        }

        .title {
            font-size: 46px;
        }

        .header__image-container {
            height: 400px;
            width: 50%;
            margin: 0 0 -1px;
            float: left;
        }

        .header__image-container--even {
            float: right;
        }

        .header__text {
            height: 400px;
            width: 50%;
            float: none;
            padding: 32px 16px 32px 32px;
            display: table;
        }

        .header__text-container {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .description {
        font-size: 20px;
        font-family: light;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.57); 
    }

    .description p {
        margin: 0;
    }
    
    a {
        text-transform: none;
    }

    .card-content {
        border-bottom: 1px solid #ddd;
    }
</style>
  
<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>
    
    <template is="dom-if" if="[[retrieve]]">
        <rrd-firebase-document 
            fb-collection-path="[[fbCollectionPath]]" 
            fb-object-pointer="[[fbObjectPointer]]" 
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>
    
    <paper-card>
        <template is="dom-if" if="{{isInCmsMode}}"> 
            <template is="dom-if" if="{{!hideEditLink}}"> 
                <div class="card-actions">
                    <paper-button on-click="goToEditMode">
                        <iron-icon icon="editor:mode-edit"></iron-icon>
                        Go to edit mode
                    </paper-button>            
                </div>
            </template>
        </template>

        <div class="cover" hidden$="{{ !originalObject.cover }}">
            <iron-image 
                sizing="cover" 
                src="[[originalObject.cover_photo_url]]" 
                class="cover__image">
            </iron-image>
        </div>
        <div class="header" hidden$="{{ originalObject.cover }}">
            <template is="dom-if" if="{{originalObject.cover_photo_url}}">
                <div class$="{{headerImageContainerClass}}">
                    <iron-image 
                        sizing="cover" 
                        src="{{originalObject.cover_photo_url}}" 
                        class="header__image">
                    </iron-image>
                </div>
            </template>  
            <div class="header__text" style$="{{headerTextStyle}}">
                <div class="header__text-container" style$="{{headerTextContainerStyle}}">
                    <span class="title" style$="{{headerTextContainerStyle}}">{{ originalObject.name }}</span>
                        <marked-element markdown="[[originalObject.lead]]">
                            <span class="markdown-html description" style$="{{headerTextContainerStyle}}"></span>
                        </marked-element>
                </div>
            </div>
        </div>

        <template is="dom-repeat" items="[[originalObject.highlighted_products]]">
            <rrd-product-related-inline 
                fb-collection-path="products" 
                fb-object-pointer="[[item.pointer]]" 
                color="[[originalObject.hex_color]]">
            </rrd-product-related-inline>
        </template>
        
        <template is="dom-if" if="[[originalObject.non_highlighted_products]]">            
            <div class="layout horizontal wrap">
                <template is="dom-repeat" items="[[originalObject.non_highlighted_products]]">
                    <rrd-products-grid-item 
                        fb-collection-path="products"
                        fb-object-pointer="[[item.pointer]]" 
                        color="[[originalObject.hex_color]]">
                    </rrd-products-grid-item>
                </template>
            </div>
        </template>
    </paper-card>
</template>

<script>
Polymer({
    is: "rrd-catalogue-section-inline",
    behaviors: [
        RRDCommonObjectHandlingBehavior
    ],    
    properties: {
        metaValue: {
            type: String,
            notify: true
        },
        headerTextStyle: {
            type: String,
            notify: true,
            computed: "getHeaderTextStyle(originalObject)"
        },
        headerTextContainerStyle: {
            type: String,
            notify: true,
            computed: "getHeaderTextStyle(originalObject)"
        },
        hasColor: {
            type: Boolean,
            notify: true,
            computed: "checkIfHasColor(originalObject)"
        },
        index: {
            type: Number,
            notify: true
        },
        hideEditLink: {
            type: Boolean, 
            notify: true,
            value: false
        },
        headerImageContainerClass: {
            type: String,
            notify: true,
            computed: "getHeaderImageContainerClass(index)"
        }
    },

    getHeaderImageContainerClass: function() {
        var className = "header__image-container";

        if(this.index % 2 == 1) {
            className = className + " header__image-container--even";
        }
  
        return className;
    },
    
    checkIfHasColor: function() {
        if(typeof this.originalObject.hex_color == "undefined") {
            this.originalObject.hex_color = "be3382";
        } 
  
        return true;
    },

    didToggleEditMode: function() {
        this.fire("iron-signal", {name: "refresh-catalogue"});
    },

    getHeaderTextStyle: function() {
        var style = "";

        if(typeof this.originalObject.hex_color != "undefined") {
            style = "background:#" + this.originalObject.hex_color + ";color:#fff";
        } 

        return style;
    },

    getHeaderTextContainerStyle: function() {
        var style = "";

        if(typeof this.originalObject.hex_color != "undefined") {
            style = "color:#fff !important";
        } 

        return style;
    },

    goToEditMode: function() {
        var editUrl = "/cataloguesections/edit/" + this.fbObjectPointer;
        page(editUrl);
    }
});
</script>

</dom-module>
