<dom-module id="rrd-product-new">

<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        background: #ffffff;
        display: block;
    }
</style>

<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-firebase-collection 
        id="firebaseid" 
        fb-collection-path="[[fbCollectionPath]]" 
        fb-object-pointer="[[fbObjectPointer]]">
    </rrd-firebase-collection>

    <rrd-product-form
        id="productForm" 
        original-object="[[originalObject]]" 
        altered-object="{{alteredObject}}" 
        is-saving="{{isSaving}}">
    </rrd-product-form>
    <div class="cms__cancel">
        <paper-button on-click="clearFormAndGoBack">
            <iron-icon icon="icons:cancel"></iron-icon>
            Clear and cancel
        </paper-button>  
    </div>
</template>

<script>
Polymer({
    is: "rrd-product-new",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],

    ready: function() {
        this.set("originalObject", {});
        this.inEditMode = true;
    },

    clearFormAndGoBack: function() {
        this.set("originalObject", {});
        page("/products");
    }
});
</script>

</dom-module>