<!-- 
# RRD Login Aware Element

Every elements that needs to know if user is:
- logged in (isLoggedIn)
- admin (isAdmin)
- in CMS mode (isInCmsMode)

Should use this element. 
If the state changes, all login aware elements update by itself.


Ecample usage:
```html
<rrd-login-aware-element 
    is-logged-in="{{isLoggedIn}}" 
    is-admin="{{isAdmin}}"
    is-in-cms-mode="{{isInCmsMode}}">
</rrd-login-aware-element>
```
 -->
<dom-module id="rrd-login-aware-element">

<template>
    <iron-signals on-iron-signal-loginstatuschanged="_updateLoginState"></iron-signals>
    <iron-signals on-iron-signal-cmsstatechanged="_updateCmsState"></iron-signals>
    <iron-meta id="metaisnncmsmode" key="isInCmsMode"></iron-meta>
</template>

<script>
Polymer({
    is: "rrd-login-aware-element",
    properties: {

        /* True if user is logged in */
        isLoggedIn: {
            type: Boolean,
            notify: true,
            value: false
        },

        /* True if user is admin */
        isAdmin: {
            type: Boolean,
            notify: true,
            value: false
        },

        /* User e-mail used for login, not used in application */
        loggedInUserEmail: {
            type: String,
            notify: true
        },

        /* If switched to CMS mode or not  */
        isInCmsMode: {
            type: Boolean,
            notify: true,
            value: false
        }
    },

    ready: function () {
        this._updateLoginState();
        this._updateCmsState();
    },

    /**
    * Helper method for iron signal listener. 
    * Resets values from meta. RRD Auth send the signal 
    */
    _updateLoginState: function() {
        var value = new Polymer.IronMetaQuery({key: "isLoggedIn"}).value;
        if (typeof value !== "undefined") {
            this.set("isLoggedIn", value);    
        }            
        value = new Polymer.IronMetaQuery({key: "isAdmin"}).value;
        if (typeof value !== "undefined") {
            this.set("isAdmin", value);
        }
        value = new Polymer.IronMetaQuery({key: "loggedInUserEmail"}).value;
        this.set("loggedInUserEmail", value);
    },

    /**
    * Helper method for iron signal listener. 
    * Resets CMS state
    */
    _updateCmsState: function() {
        var value = new Polymer.IronMetaQuery({key: "isInCmsMode"}).value;
        if (value && this.isLoggedIn) {
            this.set("isInCmsMode", true);
        } else {
            this.set("isInCmsMode", false);
        }
    },
    
    /**
    * Toggles isInCmsMode
    */
    toggleCmsState: function() {
        var newValue = !this.isInCmsMode;
        this.set("isInCmsMode", newValue);
        this.$.metaisnncmsmode.value = this.isInCmsMode;
        this.fire("iron-signal", {name: "cmsstatechanged"});        
    }
});
</script>

</dom-module>