<dom-module id='rrd-firebase-manager'>

<template>
    <iron-signals 
        on-iron-signal-updateremoteobject="_updateFBObject">
    </iron-signals>
    <iron-signals 
        on-iron-signal-createremoteobject="_createFBObject">
    </iron-signals>
    <iron-signals 
        on-iron-signal-deleteremoteobject="_deleteFBObject">
    </iron-signals>
    <iron-signals 
        on-iron-signal-reorderremotecollection="_reorderFBCollection">
    </iron-signals>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}"
        is-admin="{{isAdmin}}}">
    </rrd-login-aware-element>
</template>

<script>
Polymer({
    is: 'rrd-firebase-manager',
    properties: {
        firebaseBranchName: {
            type: String,
            notify: true,
            value: '/production'
        },
        app: {
            type: Object,
            notify: true
        },
        isAdmin: {
            type: Boolean,
            notify: true
        },
        fbPath: {
            type: String,
            notify: true
        },
        fbObject: {
            type: Object,
            notify: true
        },
        shouldUpdate: {
            type: Boolean, 
            notify: true
        }
    },

    switchToBranch: function(branchName) {
        if (branchName) {
            this.firebaseBranchName = branchName;
        }
    },

    switchToDevelopmentBranch: function() {
        this.switchToBranch('development');
    },        

    switchToProductionBranch: function() {
        this.switchToBranch('production');
    },

    _updateFBVersion: function() {
        var newVersion = window.generateUniqueID();
        firebase.database().ref("/versions" + this.firebaseBranchName).set(newVersion);
    },

    _informObjectWasUpdated: function(){
        this._updateFBVersion();
        this.fire("iron-signal", {name:"remoteobjectchanged", data: null});
    },

    _updateFBObject: function(e) {
        console.log("_updateFBObject");
        var fullFbPath = this.firebaseBranchName + "/" + e.detail.path;
        var objectToBeUpdated = e.detail.object;
        var localThis = this;
        console.log(fullFbPath);
        console.log(objectToBeUpdated);
        var priority = objectToBeUpdated.priority;
        firebase.database().ref(fullFbPath).setWithPriority(objectToBeUpdated, priority).then(function(result){
            console.log(result);
            localThis._informObjectWasUpdated();
        });
    },

    _createFBObject: function(e) {
        console.log("_createFBObject");
        var fullFbPath = this.firebaseBranchName + "/" + e.detail.path;
        var objectToBeCreated = e.detail.object;
        var localThis = this;
        console.log(fullFbPath);
        console.log(objectToBeCreated);
        firebase.database().ref(fullFbPath).push(objectToBeCreated).then(function(result){
            console.log(result);
            localThis._informObjectWasUpdated();
        });
    },
    
    _deleteFBObject: function(e) {
        console.log("_deleteFBObject");
        var fullFbPath = this.firebaseBranchName + "/" + e.detail.path;
        var localThis = this;
        console.log(fullFbPath);
        firebase.database().ref(fullFbPath).remove().then(function(result){
            console.log(result);
            localThis._informObjectWasUpdated();
        });
    },
    _reorderFBCollection: function(e) {
        console.log("_reorderFBCollection");
        var fullCollectionPath = this.firebaseBranchName + "/" + e.detail.path;
        var localThis = this;
        var newOrderIds =  e.detail.newOrderIds
        // console.log(fullCollectionPath);
        console.log(newOrderIds);
        var promises = [];
        var localThis = this;
        for (var i = newOrderIds.length - 1; i >= 0; i--) {
            var pointer = newOrderIds[i];
            var fullFbPath = fullCollectionPath + "/" + pointer;
            var promise = firebase.database().ref(fullFbPath).setPriority(i);
            promises.push(promise);
            promise = firebase.database().ref(fullFbPath+"/priority").set(i);
            promises.push(promise);
        }
        Promise.all(promises).then(function(){
            localThis._informObjectWasUpdated();
            console.log("All sorted");
        });
    }
});
</script>

</dom-module>