<!--
# RRD Firebase Document
It's not actually querying Firebase anymore.
It takes fb-collection-path (name of the DB) and fb-object-pointer (object ID) as params. Finds an object in PouchDB database.
Makes the query and puts object into fb-object


Ecample usage:
```html
<rrd-firebase-document
    fb-collection-path="products"
    fb-object-pointer="-wewwsSDffdds"
    fb-object="{{product}}">
</rrd-firebase-document>
```
 -->
<dom-module id="rrd-firebase-document">

<template>
<!--     <iron-signals
        on-iron-signal-refreshobjects="refreshObject">
    </iron-signals> -->

</template>

<script>
Polymer({
    is: "rrd-firebase-document",
    properties: {
        fbCollectionPath: {
            type: String,
            notify: true
        },
        fbObjectPointer: {
            type: String,
            notify: true
        },
        fbObject: {
            type: Object,
            notify: true,
        }
    },
    observers: [
        "getObject(fbCollectionPath, fbObjectPointer)"
    ],

    getObject: function() {
        var db = new PouchDB(this.fbCollectionPath, {revs_limit:1, auto_compact: true});
        var localThis = this;
        db.get(this.fbObjectPointer).then(function(doc){
            localThis.set("fbObject", doc);
        }).catch(function(error){

        });
    },

    refreshObject: function() {
        var localThis = this;
        setTimeout(function(){
            var orgDBName = localThis.fbCollectionPath;
            localThis.set("fbCollectionPath", "");
            localThis.set("fbCollectionPath", orgDBName);
        },1000);
    }
});
</script>

</dom-module>
