<!--
# RRD Firebase Collection
It's not actually querying Firebase anymore.
It takes fb-collection-path param and finds a PouchDB database with that name.
Makes the query and puts objects into fb-objects
You can specify sort-by if you wnat to change the sort order.

Ecample usage:
```html
<rrd-firebase-collection
    fb-collection-path="products"
    fb-objects="{{items}}"
    sort-by="name"
</rrd-firebase-collection>
```

-->
<dom-module id="rrd-firebase-collection">

<template>
    <iron-signals
        on-iron-signal-refreshobjects="_refreshObjects">
    </iron-signals>

</template>

<script>
Polymer({
    is: "rrd-firebase-collection",
    properties: {

        /* Name of the DB / Firebase collection path */
        fbCollectionPath: {
            type: String,
            notify: true
        },

        /* Array of object returned from the DB */
        fbObjects: {
            type: Array,
            notify: true
        },

        /* DEPRECATED */
        orderByChild: {
            type: String,
            notify: true
        },

        sortBy: {
            type: String,
            notify: true,
            value: "priority"
        }
    },

    observers: [
        "makeQuery(fbCollectionPath)"
    ],

    /* Method that actually queried the DB. Is called when fbCollectionPath is set or is changed */
    makeQuery: function() {
        var localThis = this;
        var db = new PouchDB(this.fbCollectionPath, {revs_limit:1, auto_compact: true});
        db.allDocs({include_docs: true}).then(function(results) {
            var rows = results.rows;
            var onlyDocs = [];
            for (var i = rows.length - 1; i >= 0; i--) {
                onlyDocs.push(rows[i].doc);
            }
            var compare = function(a, b) {
                var sortBy = localThis.sortBy;
                if (a[sortBy] < b[sortBy])
                    return -1;
                if (a[sortBy] > b[sortBy])
                    return 1;
                return 0;
            };
            onlyDocs.sort(compare);
            localThis.set("fbObjects", onlyDocs);
        }).catch(function(err){
            // console.log("error");
            // console.log(err);
        });

    },

    /* Listens for 'refreshobjects' Iron Signal and refreshed the DB (there is a timeout set to 1 sec because DB may not be ready)*/
    _refreshObjects: function() {
        var localThis = this;
        setTimeout(function(){
            localThis.makeQuery();
        },1000);
    }
});
</script>

</dom-module>
