<!-- 
# RRD Logout
Element that it's used to show just the logout dialog from application drawer
 -->
<dom-module id="rrd-logout">

<style is="custom-style" include="shared-styles"></style>

<template>
    <iron-signals on-iron-signal-logout="handleLogoutSignal"></iron-signals>
    <rrd-auth id="rrdauth"></rrd-auth>  
    <paper-dialog id="logoutDialog" modal>
        <h2>{{localize('logout_dialog_are_you_sure')}}</h2>
        <p>{{localize('logout_dialog_message')}}</p>
        <div class="buttons">
            <paper-button dialog-dismiss>{{localize('logout_dialog_cancel_action')}}</paper-button>
            <paper-button dialog-dismiss on-tap="logout">{{localize('logout_dialog_confirm_action')}}</paper-button>
        </div>
    </paper-dialog>
</template>

<script>
Polymer({
    is: "rrd-logout",
    behaviors: [
        RRDAppLocalizeBehavior
    ],
    
    /* Listens for "logout" Iron signal and show the confirmation dialog */
    handleLogoutSignal: function() {
        Polymer.dom(this.root).querySelector("#logoutDialog").open();
    },
    
    /* After user confirms logout, closes the dialog and uses RRD Auth to logout user */
    logout: function() {
        Polymer.dom(this.root).querySelector("#logoutDialog").close();
        this.$.rrdauth.logout();
    }
});
</script>

</dom-module>