<!--
Takes an array of file URLS in fileUrlsCollection and handles dile uploading
 -->
<dom-module id="rrd-multiple-file-upload-element">

<style is="custom-style" include="shared-styles"></style>

<template>
    <template is="dom-if" if="{{files}}">
        <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--images">
            <sortable-js id="sortable" data-id-attr="id" on-end="_setNewOrder">
                <template is="dom-repeat" items="{{fileUrlsCollection}}" as="photoUrl">
                    <rrd-file-upload-element
                        id="{{photoUrl.photo_url}}"
                        uploaded-file-url="{{photoUrl.photo_url}}"
                        on-file-erase="removeFile"
                        index="{{index}}">
                    </rrd-file-upload-element>
                </template>
            </sortable>
        </div>
    </template>
    <div class="cms__actions">
        <paper-button class="cms__action" on-click="addNewFileUploadElement" noink>Add photo</paper-button>
    </div>
</template>

<script>
Polymer({
    is: "rrd-multiple-file-upload-element",
    properties: {
        fileUrlsCollection: {
            type: Array,
            notify: true,
            observer: "_fileUrlsCollectionObserver"
        },
        files: {
            type: Boolean,
            notify: true
        }
    },

    _fileUrlsCollectionObserver: function() {
        this._updateFilesStatus();
    },

    _updateFilesStatus: function() {
        if(this.fileUrlsCollection && this.fileUrlsCollection.length > 0) {
            this.files = true;
        } else {
            this.files = false;
        }
    },

    removeFile: function(event, data) {
        this.splice('fileUrlsCollection', data.index, 1);

        this._updateFilesStatus();
    },

    addNewFileUploadElement: function() {
        if(this.fileUrlsCollection.length > 0) {
            var test = this.fileUrlsCollection[this.fileUrlsCollection.length-1].photo_url;

            if(test != null) {
                this.push("fileUrlsCollection", {"photo_url": null});

                this._updateFilesStatus();
            }
        } else {
            this.push("fileUrlsCollection", {"photo_url": null});

            this._updateFilesStatus();
        }
    },


    _setNewOrder: function(e) {
        if (e.detil && e.detail.type === "end") {
            var ids = this.$$("#sortable").sortable.toArray();
            console.log(ids);
            ids.pop();
            var newFileUrlsCollection = [];
            for (var i = 0; i < ids.length-1; i++) {
                newFileUrlsCollection[i] = {photo_url: ids[i]};
            }
            this.set("fileUrlsCollection", newFileUrlsCollection);
        }

    }
});
</script>

</dom-module>
