<dom-module id="rrd-distributor-form">

<style is="custom-style" include="shared-styles"></style>


<template>
    <form is="iron-form" id="form" method="post" class="cms">
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Name and phone</h2>
                <paper-input
                    label="Name (Region)"
                    name="name"
                    required
                    error-message="Name is required"
                    value="{{localObject.name}}"
                    disabled="{{isSaving}}">
                </paper-input>
                <paper-input
                    label="Phone Number"
                    name="phone"
                    value="{{localObject.phone}}"
                    required
                    error-message="Phone is required"
                    disabled="{{isSaving}}">
                </paper-input>
            </div>
        </fieldset>

        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Address</h2>
                <paper-input
                    label="Street"
                    name="street"
                    value="{{localObject.address.street}}"
                    disabled="{{isSaving}}"
                    autovalidate>
                </paper-input>

                <paper-input
                    label="Zip Code"
                    name="zip_code"
                    value="{{localObject.address.zip_code}}"
                    disabled="{{isSaving}}"
                    autovalidate>
                </paper-input>

                <paper-input
                    label="City"
                    name="city"
                    value="{{localObject.address.city}}"
                    disabled="{{isSaving}}"
                    autovalidate>
                </paper-input>
            </div>
        </fieldset>

        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Geolocation Data</h2>
                <paper-input
                    label="Latitude"
                    name="latitude"
                    value="{{localObject.location.latitude}}"
                    disabled="{{isSaving}}"
                    autovalidate>
                </paper-input>
                <paper-input
                    label="Longitude"
                    name="longitude"
                    value="{{localObject.location.longitude}}"
                    disabled="{{isSaving}}"
                    autovalidate>
                </paper-input>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset cms__fieldset--save">
            <div class="cms__fieldset-container">
                <paper-button raised on-tap="submitForm" disabled="{{!isSuitableForSaving}}">Save</paper-button>
            </div>
        </fieldset>
    </form>
</template>

<script>
Polymer({
    is: "rrd-distributor-form",
    behaviors: [
        RRDFormBehavior
    ],

    initializeAdditionalProperties: function() {
        if (this.localObject) {
            if (!this.localObject.location) {
                this.set("localObject.location", {});
            }
            if (!this.localObject.address) {
                this.set("localObject.address", {});
            }

        }
    }
});
</script>

</dom-module>
