
<!--
# RRD Distributor Inline
Shows one distributor on the list of distributors
 -->
<dom-module id="rrd-distributor-inline">

<style is="custom-style" include="shared-styles"></style>
<style>
    paper-card {
        margin: 8px;
        display: block;
    }

    .card-header {
        color: var(--primary-color);
        font-size: 24px;
        font-family: medium;
        line-height: 1;
        padding: 16px 16px 0;
    }

    .card-actions {
        border: 0;
        text-align: right;
        padding-right: 0;
        margin-right: 0;
        padding-top: 0;
        margin-top: 0;
    }

    #deleteconfirmationdialog {
        position: fixed;
    }
</style>

<template>
    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <template is="dom-if" if="[[retrieve]]">
        <rrd-firebase-document
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>

    <paper-dialog id="deleteconfirmationdialog" on-iron-overlay-closed="dialogClosed">
        <h2>Are you sure you want to delete?</h2>
        <p>There is no undo</p>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Yes, delete</paper-button>
        </div>
    </paper-dialog>

    <template is="dom-if" if="[[!inEditMode]]">
        <paper-card>
            <template is="dom-if" if="[[isInCmsMode]]">
                <div class="card-actions">
                    <paper-button on-click="toggleEditMode">
                        <iron-icon icon="editor:mode-edit"></iron-icon>
                        Edit
                    </paper-button>

                    <paper-button on-click="showDeleteConfirmationDialog">
                        <iron-icon icon="icons:delete"></iron-icon>
                        Delete
                    </paper-button>
                </div>
            </template>
            <div class="card-header">[[originalObject.name]]</div>
            <div class="card-content">
                <span>[[originalObject.address.street]]</span><br>
                <span>[[originalObject.address.zip_code]]</span> <span>[[originalObject.address.city]]</span>
            </div>
            <div class="card-actions">
                <paper-button on-tap="call">Tel: &nbsp;<span>[[originalObject.phone]]</span></paper-button>
            </div>
        </paper-card>
    </template>

    <template is="dom-if" if="[[inEditMode]]">
        <rrd-distributor-form
            original-object="{{originalObject}}"
            altered-object="{{alteredObject}}"
            is-saving="{{isSaving}}">
        </rrd-distributor-form>
        <div class="cms__cancel">
            <paper-button on-click="toggleEditMode">
                <iron-icon icon="icons:cancel"></iron-icon>
                Cancel
            </paper-button>
        </div>
    </template>
</template>

<script>
Polymer({
    is: "rrd-distributor-inline",
    behaviors: [
        Polymer.IronResizableBehavior,
        RRDCommonObjectHandlingBehavior,
        RRDAppLocalizeBehavior
    ],

    properties: {
        metaValue: {
            type: String,
            notify: true
        }
    },

    /* List needs to update it's sizing when entering CMS mode (new button appear) */
    observers: [
        "_notyfiResize(inEditMode)",
        "_notyfiResize(isInCmsMode)"
    ],

    call: function(event) {
        var cleanPhoneNumber = this.originalObject.phone.replace(/\s/g, "");
        window.open('tel:' + cleanPhoneNumber, '_system');
    },

    _notyfiResize: function() {
        this.notifyResize();
    }
});
</script>

</dom-module>
