<link rel="import" href="rrd-distributor-form.html">
<link rel="import" href="rrd-distributor-inline.html">
<link rel="import" href="rrd-distributor-new.html">

<!--
# RRD Distributors


 -->
<dom-module id="rrd-distributors">
<style is="custom-style" include="shared-styles"></style>
<style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>

<style>
    .search {
        @apply(--layout-vertical);
        @apply(--layout-fit);
        overflow: hidden;
    }

    .search__query {
        background: #fff;
        padding: 8px 26px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.07) 0 3px 3px;
    }

    paper-dialog {
        min-width: 280px;
    }

    @media all and (max-width: 1023px) {
        .search__results {
            @apply(--layout-flex);
            @apply(--layout-vertical);
        }

        .results__map {
            position: relative;
            @apply(--layout-flex);
        }

        google-map {
            @apply(--layout-fit);
        }

        .results__list {
            display: none;
        }
    }

    @media all and (min-width: 1024px) {
        .search__results {
            @apply(--layout-flex);
            @apply(--layout-horizontal);
        }

        .results__map {
            position: relative;
            @apply(--layout-flex);
        }

        google-map {
            @apply(--layout-fit);
        }

        .results__list {
            width: 360px;
            overflow-y: scroll;
        }
    }

</style>

<template>
    <iron-media-query
        query="(max-width: 1023px)"
        query-matches="{{isPhone}}">
    </iron-media-query>
    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <rrd-firebase-collection
        fb-collection-path="[[fbCollectionPath]]"
        fb-objects="{{allDistributors}}">
    </rrd-firebase-collection>

    <rrd-search-provided-collection
        fb-objects="[[allDistributors]]"
        objects="{{distributors}}"
        search-query="[[searchQuery]]"
        search-fields="[[searchIndexFields]]"
        limit="200">
    </rrd-search-provided-collection>

    <paper-dialog id="calldialog" on-iron-overlay-closed="dialogClosed">
        <h2 id="dialogDistributorName"></h2>
        <div>
            <strong>{{localize('distributors_modal_address')}}</strong><br />
            <span id="dialogAddressStreet"></span><br />
            <span id="dialogAddressZipCodeAndCity"></span>
        </div>
        <div>
            <strong>{{localize('distributors_modal_phone')}}</strong><br />
            <span id="dialogPhoneNumber"></span>
        </div>
        <div class="buttons">
            <paper-button dialog-dismiss>{{localize('distributors_modal_button_cancel')}}</paper-button>
            <paper-button dialog-confirm autofocus>{{localize('distributors_modal_button_call')}}</paper-button>
        </div>
    </paper-dialog>

    <div class="search">
        <div class="search__query">
            <paper-input
                name="searchQuery"
                placeholder="{{localize('distributors_search_placeholder')}}"
                no-label-float
                value="{{searchQuery}}">
            </paper-input>
        </div>

        <div class="search__results results">
            <div class="results__map">
                <google-map
                    latitude="[[latitude]]"
                    longitude="[[longitude]]"
                    language="fr"
                    fit-to-markers
                    single-info-window>
                    <template is="dom-repeat" items="[[distributors]]">
                        <google-map-marker
                            latitude="[[item.location.latitude]]"
                            longitude="[[item.location.longitude]]"
                            draggable="false"
                            title="[[item.name]]"
                            click-events
                            on-google-map-marker-click="_markerClicked">
                            <div>[[item.name]]</div>
                        </google-map-marker>
                    </template>
                </google-map>
            </div>
            <div class="results__list" id="resultslist">
                <div class="results__list-content">
                    <iron-list id="distributorslist" items="[[distributors]]" as="distributor" scroll-target="resultslist">
                        <template>
                            <rrd-distributor-inline
                                fb-collection-path="[[fbCollectionPath]]"
                                fb-object-pointer="[[distributor._id]]"
                                original-object="{{distributor}}">
                            </rrd-distributor-inline>
                        </template>
                    </iron-list>
                </div>
            </div>
        </div>
    </div>
    <paper-fab
        class="add"
        elevation="1"
        icon="add"
        on-click="showNewForm"
        hidden$="{{!isInCmsMode}}">
    </paper-fab>
    <paper-fab
        class="reorder"
        elevation="1"
        icon="icons:reorder"
        on-click="goToReorder"
        hidden$="[[!isInCmsMode]]">
    </paper-fab>
</template>

<script>
Polymer({
    is: "rrd-distributors",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior,
        RRDAppLocalizeBehavior,
        Polymer.IronResizableBehavior
    ],
    properties: {

        /* Center longitude to use for map */
        longitude: {
            type: Number,
            value: 2.352222,
            notify: true
        },

        /* Center latitude to use for map */
        latitude: {
            type: Number,
            value: 48.856614,
            notify: true
        },

        /* All distributors loaded */
        allDistributors: {
            type: Array,
            notify: true
        },

        /* Filtered distributors after search was applied */
        distributors: {
            type: Array,
            notify: true
        },

        /* The Query */
        searchQuery: {
            type: String,
            notify: true
        },

        /* Fields used for query */
        searchIndexFields: {
            type: Array,
            notify: true,
            value: ["name", "address.city"]
        },

        isPhone: {
            type: Boolean,
            notify: true
        },

        phoneToCall: {
            type: String,
            notify: true
        }
    },


    /* New form for CMS*/
    showNewForm: function() {
        page("/distributors/new");
    },

    /* CMS - reorder sections */
    goToReorder: function() {
        page("/distributors/reorder");
    },

    /* When marker is clicked on the map, list of distributors is crolled to that distributor */
    _markerClicked: function(e) {
        var clickedIndex = e.model.index;
        if (this.isPhone) {
            var distributor = this.distributors[clickedIndex];
            this.$.dialogDistributorName.innerHTML = distributor.name;
            this.$.dialogAddressStreet.innerHTML = distributor.address.street;
            this.$.dialogAddressZipCodeAndCity.innerHTML = distributor.address.zip_code + " " + distributor.address.city;
            this.$.dialogPhoneNumber.innerHTML = distributor.phone;
            this.phoneToCall = distributor.phone;
            this.$.calldialog.open();
        } else {
            this.$.distributorslist.scrollToIndex(clickedIndex);
        }

    },

    call: function(event) {
        //
    },

    dialogClosed: function(event) {
        if (event.detail.confirmed) {
            var cleanPhoneNumber = this.phoneToCall.replace(/\s/g, "");
            window.open('tel:' + cleanPhoneNumber, '_system');
        }
        this.phoneToCall = undefined;
    }
});
</script>

</dom-module>
