<!-- 
This is not used anymore but I'll leave it in code if S3 will be needed for files storage
 -->

<dom-module id="rrd-file-upload-element">
    
<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        float: left;
        display: block;
        margin-left: 8px;
        margin-bottom: 8px;
    }

    .file {
        width: 102px;
        display: block;
        position: relative;
    }

    .file__upload {
        display: none;
        text-align: center;
    }

    .file__upload-label {
        font-size: 13px;
        padding-top: 51px;
    }

    .file__upload-label-separator {
        display: block;
        font-style: normal;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.1em;
        color: #999;
        padding: 4px 0 7px;
    }

    .file__preview {
        display: none;
    }

    .file__preview-image {
        width: 102px;
        height: 102px;
        margin: 0 0 -4px;
    }

    .file__actions {
        text-align: right;
        display: block;
        border-top: 1px solid var(--dark-divider-color);
    }

    .file__spinner {
        display: none;
        position: absolute;
        top: 47px;
        left: 35px;
    }

    .file--uploaded .file__preview {
        display: block;
    }

    .file--not-uploaded {
        border: 1px dashed var(--dark-divider-color);
        height: 143px;
    }

    .file--not-uploaded .file__upload {
        display: block;
    }

    .file--uploading .file__upload {
        display: none;
    }

    .file--uploading .file__spinner {
        display: block;
    }

    .file__image {
        height: 200px;
        width: 100%;
        border-top: 1px solid var(--dark-divider-color);
        border-bottom: 1px solid var(--dark-divider-color);
    }

    .buttons {
        padding-bottom: 16px;
    }
</style>

<template>
    <paper-card id="uploadArea" class$="{{cssClass}}">
        <div class="file__upload">
            <div class="file__upload-label">Drop file here <em class="file__upload-label-separator">or</em></div>
            <paper-button raised on-click="_showFilePicker">Browse</paper-button>
            <input type="file" id="file" on-change="_fileStateChanged" hidden="true"></input>
        </div>
        <paper-spinner class="file__spinner" active></paper-spinner>
        <div class="file__preview">
            <iron-image class="file__preview-image" hidden$="{{!isFileUploaded}}" src$="{{uploadedFileUrl}}" sizing="cover" can-load="{{isFileUploaded}}"" fade></iron-image>
            <div class="file__actions">
                <paper-icon-button icon="icons:delete" class="file__remove-icon" on-tap="_openDeleteFileDialog"></paper-icon-button>
            </div>
        </div>
    </paper-card>
    <paper-dialog id="dialog" modal>
        <h2>Are you sure you want to delete this photo?</h2>
        <div>
            <iron-image class="file__image" src$="{{uploadedFileUrl}}" sizing="contain" can-load="{{isFileUploaded}}"" fade></iron-image>
        </div>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm on-tap="_delete">Delete</paper-button>
        </div>
    </paper-dialog>
</template>

<script>
Polymer({
    is: "rrd-file-upload-element",
    properties: {
        s3: {
            type: Object,
            notify: true
        },
        isFileSelected: {
            type: Boolean,
            notify: true,
            value: false
        },
        uploadedFileUrl: {
            type: String,
            notify: true,
            observer: "_fileURLSet"
        },
        fileName: {
            type: String,
            notify: true
        },
        isFileUploading: {
            type: Boolean,
            notify: true,
            value: false
        },
        isFileUploaded: {
            type: Boolean,
            notify: true,
            value: false
        },
        didFileUploadFail: {
            type: Boolean,
            notify: true,
            value: false
        },
        file: {
            type: Object,
            notify: true
        },
        cssClass: {
            type: String,
            notify: true,
            value: "file  file--not-uploaded",
            computed: "_getCSSClass(isFileSelected, uploadedFileUrl, isFileUploading, isFileUploaded)"
        },
        single: {
            type: Boolean,
            notify: true,
            value: false
        }
    },

    _delete: function() {
        this.removeFile();
    },

    _openDeleteFileDialog: function() {
        this.$.dialog.open();
    },

    _getCSSClass: function() {
        var cssClass = 'file';

        if(this.isFileUploading) {
            cssClass = cssClass + ' file--uploading';
        }

        if(this.isFileUploaded) {
            cssClass = cssClass + ' file--uploaded';
        } else {
            cssClass = cssClass + ' file--not-uploaded';
        }

        if(this.isFileSelected) {
            cssClass = cssClass + ' file--selected';
        }

        if(this.hover) {
            cssClass = cssClass + ' file--hover';
        }

        return cssClass;
    },

    ready: function() {
        AWS.config.update({accessKeyId: window.S3Config.accessKeyId, secretAccessKey: window.S3Config.secretAccessKey});
        AWS.config.region = window.S3Config.region;
        this.s3 = new AWS.S3({params: {Bucket: window.S3Config.bucketName}});
        
        var uploadArea = this.$.uploadArea;
        this.ondragover = function(e) {
            e.stopPropagation();
            this.toggleClass("hover", true, uploadArea);
            return false;
        }

        this.ondragleave = function() {
            this.toggleClass("hover", false, uploadArea);
            return false;
        }

        this.ondrop = function(event) {
            this.toggleClass("hover", false, uploadArea);
            event.preventDefault();
            this.file = event.dataTransfer.files[0];
            this.isFileSelected = true;
            this.uploadFile();
        }
    },

    _showFilePicker: function() {
        var fileElement = this.$.file;
        if (fileElement) {
            var clickEvent = document.createEvent("MouseEvents");
            clickEvent.initEvent("click", true, false);
            fileElement.dispatchEvent(clickEvent);
        }
    },

    _fileURLSet: function() {
        if (this.uploadedFileUrl !== null) {
            this._fileUploadSucceed(this.uploadedFileUrl);
        } else {
            console.log("IS NULL");
        }
    },

    _fileUploadSucceed: function(url) {
        this.set("uploadedFileUrl", url);
        this.isFileUploading = false;
        this.didFileUploadFail = false;
        this.isFileUploaded = true;
        this.isFileSelected = true;
        this.fire("success", {url: url});
    },

    _fileCleared: function() {
        this.fire("cleared", {url: this.uploadedFileUrl});
        this.uploadedFileUrl = null;
        this.didFileUploadFail = false;
        this.isFileUploaded = false;
        this.isFileSelected = false;

        if(this.single != true) {
            this.fire("file-erase", {index: this.index});
        }
    },

    _fileUploadFailed: function() {
        this.isFileUploading = false;
        this.didFileUploadFail = true;
        this.isFileUploaded = false;
        this.fire("error", {error: err});
    },
    
    uploadFile: function() {
        var file = this.file;
        console.log("wil upload %s", file);
        if (file) {
            var fileExtensionRegexp = /(?:\.([^.]+))?$/;
            var fileExtension = fileExtensionRegexp.exec(file.name)[1];
            var key = this.generateID() + "." +fileExtension;
            this.fileName = key;
            var params = {Key: key, ContentType: file.type, Body: file};
            this.isFileUploading = true;
            this.didFileUploadFail = false;
            self = this;
            this.s3.upload(params, function (err, data) {
                if (err) {
                    self._fileUploadFailed();
                } else {
                    self._fileUploadSucceed(data.Location)
                }
            });        
        } else {
            this.fire("error", {error: "No File Selected"});
        }
    },

    _fileStateChanged: function() {
        if (this.$.file.files.length > 0) {
            this.isFileSelected = true;
            this.file = this.$.file.files[0]
            this.uploadFile();
        } else {
            this.fileName = null;
            this.isFileSelected = false;
        }
    },

    removeFile: function() {
        this.fileName = this.uploadedFileUrl.substr(this.uploadedFileUrl.lastIndexOf('/')+1);

        var params = {Key: this.fileName};

        self = this;
        
        self.isFileUploading = true;
        this.isFileUploaded = false;

        this.s3.deleteObject(params, function (err, data) {
            self.isFileUploading = false;
            if (err) {
            } else {
                self._fileCleared();
            }        
        });    
    },
    
    generateID: function() {
        // Modeled after base64 web-safe chars, but ordered by ASCII.
        var PUSH_CHARS = "-0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz";

        // Timestamp of last push, used to prevent local collisions if you push twice in one ms.
        var lastPushTime = 0;

        // We generate 72-bits of randomness which get turned into 12 characters and appended to the
        // timestamp to prevent collisions with other clients.  We store the last characters we
        // generated because in the event of a collision, we"ll use those same characters except
        // "incremented" by one.
        var lastRandChars = [];

        var now = new Date().getTime();
        var duplicateTime = (now === lastPushTime);
        lastPushTime = now;

        var timeStampChars = new Array(8);
        for (var i = 7; i >= 0; i--) {
            timeStampChars[i] = PUSH_CHARS.charAt(now % 64);
            // NOTE: Can"t use << here because javascript will convert to int and lose the upper bits.
            now = Math.floor(now / 64);
        }
        if (now !== 0) throw new Error("We should have converted the entire timestamp.");

        var id = timeStampChars.join("");

        if (!duplicateTime) {
            for (i = 0; i < 12; i++) {
                lastRandChars[i] = Math.floor(Math.random() * 64);
            }
        } else {
            // If the timestamp hasn"t changed since last push, use the same random number, except incremented by 1.
            for (i = 11; i >= 0 && lastRandChars[i] === 63; i--) {
                lastRandChars[i] = 0;
            }
            lastRandChars[i]++;
        }
        for (i = 0; i < 12; i++) {
            id += PUSH_CHARS.charAt(lastRandChars[i]);
        }
        if(id.length != 20) throw new Error("Length should be 20.");

        return id;
    }
});
</script>

</dom-module>