<dom-module id="rrd-multiple-file-upload-element">
    
<style is="custom-style" include="shared-styles"></style>

<template>
    <template is="dom-if" if="{{files}}">
        <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--images">
            <template is="dom-repeat" items="{{fileUrlsCollection}}" as="photoUrl">
                <rrd-file-upload-element uploaded-file-url="{{photoUrl.photo_url}}" on-file-erase="removeFile" index="{{index}}"></rrd-file-upload-element>
            </template>
        </div>
    </template>
    <div class="cms__actions">
        <paper-button class="cms__action" on-click="addNewFileUploadElement" noink>Add photo</paper-button>
    </div>
</template>

<script>
Polymer({
    is: "rrd-multiple-file-upload-element",
    properties: {
        fileUrlsCollection: {
            type: Array,
            notify: true,
            observer: "fileUrlsCollectionObserver"
        },
        files: {
            type: Boolean,
            notify: true
        }
    },

    fileUrlsCollectionObserver: function() {
        console.log('fileUrlsCollectionObserver');
        
        this.updateFilesStatus();
    },

    updateFilesStatus: function() {
        if(this.fileUrlsCollection.length > 0) {
            this.files = true;
        } else {
            this.files = false;
        }
    },

    removeFile: function(event, data) {
        this.splice('fileUrlsCollection', data.index, 1);

        this.updateFilesStatus();
    },
    
    addNewFileUploadElement: function() {
        if(this.fileUrlsCollection.length > 0) {
            var test = this.fileUrlsCollection[this.fileUrlsCollection.length-1].photo_url;

            if(test != null) {
                this.push("fileUrlsCollection", {"photo_url": null});

                this.updateFilesStatus();
            }
        } else {
            this.push("fileUrlsCollection", {"photo_url": null});

            this.updateFilesStatus();
        }
    }
});
</script>

</dom-module>