<dom-module id="tupp-spare-parts-inactive">
    
<style is="custom-style" include="shared-styles"></style>
<style>
    paper-card {
        margin: 8px 8px 0;
        --paper-card-header-color: #000;
        display: block;
    }

    paper-material {
        display: inline-block;
        background: white;
        box-sizing: border-box;
        margin: 8px;
        padding: 16px;
        border-radius: 2px;
        width: 360px;
    }

    .app-name {
        margin: 40px;
        padding: 16px;
    }

    h3 {
        margin: 16px;
        padding: 16px;            
    }

    paper-scroll-header-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--paper-grey-200, #eee);
    }

    .cards {
        margin: 0 auto;
        max-width: 600px;
    }

    @media (min-width: 724px) { 
        .cards {
            padding: 48px 62px;
        }
    }

    .header_image {
        height: 200px;
        width: 100%;
    }

    .title {
    @apply(--paper-font-title);
        color: var(--default-primary-color);
        display: block;
        margin: 0 0 8px;
        white-space: normal !important;
    }

    .description {
        @apply(--paper-font-body1);
    }

    iron-list {
        @apply(--layout-fit);
        padding-bottom: 8px;
    }
</style>

<template>
    <rrd-login-aware-element 
        id="loginawareelement" 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>
    
    <template is="dom-if" if="[[isLoggedIn]]">
        <rrd-firebase-collection 
            id="firebaseid" 
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            fb-objects="{{products}}" 
            order-by-child="name">
        </rrd-firebase-collection>
        <iron-list items="{{products}}" as="product">
            <template>
                <div>
                    <paper-card>
                        <tupp-spare-parts-product-inline 
                            fb-collection-path="[[fbCollectionPath]]" 
                            fb-object-pointer="[[product._id]]"
                            original-object="[[product]]"
                            archived>
                        </tupp-spare-parts-product-inline>
                    </paper-card>
                </div>
            </template>
        </iron-list>
        <paper-fab 
            class="add"
            elevation="1" 
            icon="add" 
            on-click="showNewForm" 
            hidden$="{{!isInCmsMode}}">
        </paper-fab>
    </template>
</template>

<script>
Polymer({
    is: "tupp-spare-parts-inactive",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],
    properties: {
        fbProducts: {
            type: Array,
            notify: true
        },
        sparePartsProducts: {
            type: Array,
            notify: true
        }
    },

    showNewForm: function() {
        page("/spareparts/archived/new");
    }
});
</script>

</dom-module>