<dom-module id="tupp-spare-parts-archived-product-form">

<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        background: #fff;
        display: block;
    }
</style>

<template>
    <form is="iron-form" id="form" method="post" class="cms">
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Product Header</h2>
                <paper-input 
                    label="Name" 
                    name="name" 
                    required 
                    error-message="Name is required" 
                    value="{{localObject.name}}" 
                    disabled="{{isSaving}}">
                </paper-input>
                <paper-textarea 
                    name="lead" 
                    value="{{localObject.lead}}" 
                    label="Lead"  
                    disabled="{{isSaving}}">
                </paper-textarea>
                <div class="cms__row">
                    <div class="cms__col">
                        <paper-input 
                            label="Product Code" 
                            name="code" 
                            value="{{localObject.code}}" 
                            disabled="{{isSaving}}">
                        </paper-input>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Cover Photo</h2>
                <div class="cms__fieldset-subcontainer cms__fieldset-subcontainer--images">
                    <rrd-file-upload-element single uploaded-file-url="{{localObject.cover_photo_url}}"></rrd-file-upload-element>
                </div>
            </div>
        </fieldset>
        <fieldset class="cms__fieldset">
            <div class="cms__fieldset-container">
                <h2 class="cms__heading">Spare Parts</h2>
                <div class="cms__fieldset-subcontainer">
                    <template is="dom-repeat" items="{{localObject.spare_parts}}">
                        <paper-card class="cms__card">
                            <div class="cms__card-header">
                                <h3 class="cms__card-heading">
                                    Part <span>{{handlePolymerIndex(index)}}</span> 
                                </h3>
                                <paper-icon-button icon="icons:delete" on-tap="removeSparePart" noink class="cms__card-header-action"></paper-icon-button>
                            </div>
                            <div class="cms__card-content">
                                <paper-input label="Name" name="name" required error-message="Name is required" value="{{item.name}}" disabled="{{isSaving}}"></paper-input>
                                <paper-input label="Code" name="code" required error-message="Code is required" value="{{item.code}}" disabled="{{isSaving}}"></paper-input>
                                <paper-input label="Price" name="price" value="{{item.price}}" type="number" step="any" prevent-invalid-input disabled="{{isSaving}}" autovalidate>
                                    <div suffix>€</div>
                                </paper-input>
                            </div>
                        </paper-card>
                    </template>
                </div>
                <div class="cms__actions">
                    <paper-button class="cms__action" on-tap="addNewSparePart" noink>Add part</paper-button>
                </div>
            </div>  
        </fieldset>
        <fieldset class="cms__fieldset cms__fieldset--save">
            <div class="cms__fieldset-container">
                <paper-button raised on-tap="submitForm" disabled="{{!isSuitableForSaving}}">Save</paper-button>
            </div>
        </fieldset>
    </form>
</template>

<script>
Polymer({
    is: "tupp-spare-parts-archived-product-form",
    behaviors: [
        RRDFormBehavior
    ],

    prepareLocalObjectBeforeSaving: function() {
        this.localObject.regular_price = parseFloat(this.localObject.regular_price);
    },

    initializeAdditionalProperties: function() {
        if (this.localObject && !this.localObject.spare_parts) {
            this.set("localObject.spare_parts", [{}]);
        }
    },

    addNewSparePart: function() {
        this.push("localObject.spare_parts", {});
    },

    removeSparePart: function(e) {
        var indexToRemove = e.model.index;
        this.splice("localObject.spare_parts", indexToRemove, 1);
    },
    
    handlePolymerIndex: function(index) {
        return index+1;
    }
});
</script>

</dom-module>
