<dom-module id="tupp-spare-parts-archived-product-new">
    
<style is="custom-style" include="shared-styles"></style>
<style>
    :host {
        background: #ffffff;
        display: block;
    }
</style>
    
<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}" 
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <tupp-spare-parts-archived-product-form
        id="productForm" 
        original-object="{{originalObject}}" 
        altered-object="{{alteredObject}}" 
        is-saving="{{isSaving}}">
    </tupp-spare-parts-archived-product-form>
    <div class="cms__cancel">
        <paper-button on-click="clearFormAndGoBack">
            <iron-icon icon="icons:cancel"></iron-icon>
            Clear and cancel
        </paper-button>  
    </div>
</template>

<script>
Polymer({
    is: "tupp-spare-parts-archived-product-new",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],

    ready: function() {
        this.set("originalObject", {});
        this.inEditMode = true;
    },
    
    clearFormAndGoBack: function() {
        this.set("originalObject", {});
        page("/spareparts");
    }
});
</script>

</dom-module>