<dom-module id="tupp-spare-parts-archived-product-edit">

<style is="custom-style" include="shared-styles"></style>
<style>
    paper-card {
        margin: 8px 8px 0;
        --paper-card-header-color: #000;
        display: block;
    }
    
    a {
        text-transform: none;
    }

    .card-content {
        border-bottom: 1px solid #ddd;
    }
</style>

<template>
    <rrd-login-aware-element 
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>
    
    <rrd-firebase-document
        fb-collection-path="[[fbCollectionPath]]" 
        fb-object-pointer="[[fbObjectPointer]]" 
        fb-object="{{originalObject}}">
    </rrd-firebase-document>
      
    <!-- Dialog -->
    <paper-dialog id="deleteconfirmationdialog" modal on-iron-overlay-closed="dialogClosed">
        <h2>Are you sure you want to delete?</h2>
        <p>There is no undo</p>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm autofocus>Yes, delete</paper-button>
        </div>
    </paper-dialog> 
      
    <template is="dom-if" if="{{!inEditMode}}">
        <template is="dom-if" if="{{isInCmsMode}}"> 
            <paper-card>
                <div class="card-actions">
                    <paper-button on-click="toggleEditMode">
                        <iron-icon icon="editor:mode-edit"></iron-icon>
                        Edit
                    </paper-button>
        
                    <paper-button on-click="showDeleteConfirmationDialog">
                        <iron-icon icon="icons:delete"></iron-icon>
                        Delete
                    </paper-button>
                </div>
            </paper-card>
        </template>
        <paper-card>
          <tupp-spare-parts-product-inline 
            fb-collection-path="[[fbCollectionPath]]" 
            fb-object-pointer="[[fbObjectPointer]]">
          </tupp-spare-parts-product-inline>          
        </paper-card>
    </template>
      
    <template is="dom-if" if="{{inEditMode}}">
        <div class="card-content">
            <tupp-spare-parts-archived-product-form 
                original-object="{{originalObject}}" 
                altered-object="{{alteredObject}}" 
                is-saving="{{isSaving}}">
            </tupp-spare-parts-archived-product-form>
        </div>
        <div class="cms__cancel">
            <paper-button on-click="toggleEditMode" noink>
                Cancel
            </paper-button>
        </div>
    </template>
</template>

<script>
Polymer({
    is: "tupp-spare-parts-archived-product-edit",
    behaviors: [
        RRDCommonObjectHandlingBehavior,
        RRDToastBehavior
    ],    
    properties: {
        index: {
            type: Number
        } 
    },
    
    currentObjectWasDeleted: function() {
        page("/spareparts");
        this.showToast("Srchived product with spare sparts deleted");
    },
});
</script>

</dom-module>