<dom-module id="tupp-spare-parts-search">
    
<style>
    .search {
        @apply(--layout-fit);
    }

    .search__query {
        background: #fff;
        width: 100%;
        padding: 8px 26px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.07) 0 3px 3px;
        z-index: 3;
        position: relative;
    }

    @media all and (min-width: 1281px) {
        .search__query {
            padding: 8px 16px;
        }
    }

    .search__results {
        @apply(--layout-flex);
        @apply(--layout-vertical);
    }

    .results__container {
        padding: 0 0 8px;
    }

    .results__list {
        @apply(--layout-flex);
        overflow: auto;
        z-index: 1;
        position: relative;
    }

    paper-card {
        margin: 8px;
        display: block;
    }

    h3 {
        font-size: 14px;
        line-height: 16px;
        font-family: medium;
        color: var(--primary-color);
        padding-left: 16px;
    }
</style>

<template>
    <rrd-firebase-collection 
        fb-collection-path="spare_parts_archived_products"
        fb-objects="{{archivedFbObjects}}">
    </rrd-firebase-collection>
    <rrd-search-provided-collection 
        fb-objects="[[archivedFbObjects]]" 
        objects="{{archivedProducts}}"
        search-query="[[searchQuery]]" 
        search-fields="[[searchIndexFields.products]]"
        limit="6">
    </rrd-search-provided-collection>
    
    <rrd-firebase-collection 
        fb-collection-path="products"
        fb-objects="{{activeFbObjects}}">
    </rrd-firebase-collection>
    <rrd-search-provided-collection 
        fb-objects="[[sparePartsProducts]]" 
        objects="{{activeProducts}}" 
        search-query="[[searchQuery]]" 
        search-fields="[[searchIndexFields.products]]"
        limit="6">
    </rrd-search-provided-collection>

    <div class="search layout vertical">
        <div class="search__query">
            <paper-input name="searchQuery" placeholder="Spare part for...?" no-label-float value="{{searchQuery}}"></paper-input>
        </div>
        <template is="dom-if" if="{{results}}">
            <div class="search__results results layout">
                <div class="results__list">
                    <paper-card>
                        <div class="results__container">
                            <template is="dom-if" if="{{activeProducts.length}}">
                                <h3>Active products</h3>
                                <template is="dom-repeat" items="{{activeProducts}}" >
                                    <div>
                                        <paper-card>
                                            <tupp-spare-parts-product-inline 
                                                fb-collection-path="products" 
                                                fb-object-pointer="[[item._id]]"
                                                original-object="[[item]]">
                                            </tupp-spare-parts-product-inline>
                                        </paper-card>
                                    </div>
                                </template>
                            </template>
                            <template is="dom-if" if="{{archivedProducts.length}}">
                                <h3>Archived products</h3>
                                <template is="dom-repeat" items="{{archivedProducts}}" >
                                    <div>
                                        <paper-card>
                                            <tupp-spare-parts-product-inline 
                                                fb-collection-path="spare_parts_archived_products" 
                                                fb-object-pointer="[[item._id]]"
                                                original-object="[[item]]"
                                                archived>
                                            </tupp-spare-parts-product-inline>
                                        </paper-card>
                                    </div>
                                </template>  
                            </template>
                        </div>
                    </paper-card>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
Polymer({
    is: "tupp-spare-parts-search",
    properties: {
        searchQuery: {
            type: String, 
            notify: true
        },
        activeProducts: {
            type: Array,
            notify: true,
            value: []
        },
        archivedProducts: {
            type: Array,
            notify: true,
            value: []
        },
        activeFbObjects: {
            type: Array,
            notify: true
        },
        archivedFbObjects: {
            type: Array,
            notify: true,
        },
        searchIndexFields: {
            type: Object,
            notify: true
        },
        results: {
            type: Boolean,
            notify: true,
            computed: "getResultsStatus(searchQuery, activeProducts, archivedProducts)"
        },
        sparePartsProducts: {
            type: Array,
            notify: true
        },
    },
    observers: [
        "_computeSparePartsProducts(activeFbObjects.*)"
    ],

    getResultsStatus: function() {
        if(this.activeProducts.length > 0 || this.archivedProducts.length > 0) {
            return true;
        } else {
            return false;
        }
    },

    ready: function() {
        this.searchIndexFields = {};
        this.set("searchIndexFields.products", ["name", "code", "spare_parts.code", "spare_parts.name"]);
    },

    _computeSparePartsProducts: function() {    
        var i, len;
        var arr = [];
        for (i = 0, len = this.activeFbObjects.length;  i < len; ++i) {
            var product = this.activeFbObjects[i];
            if (product.spare_parts) {
                arr.push(product)
            }
        }
        
        this.set("sparePartsProducts", arr);
    }
});
</script>

</dom-module>
