<link rel="import" href="tupp-spare-parts-archived-product-form.html">
<link rel="import" href="tupp-spare-parts-archived-product-new.html">
<link rel="import" href="tupp-spare-parts-archived-product-edit.html">
<link rel="import" href="tupp-spare-parts-active.html">
<link rel="import" href="tupp-spare-parts-inactive.html">
<link rel="import" href="tupp-spare-parts-search.html">
<link rel="import" href="tupp-spare-parts-product-inline.html">

<dom-module id="tupp-spare-parts">

<style>
    iron-list {
        @apply(--layout-fit);
    }

    .cancel-shadow {
        width: 100%;
        height: 10px;
        background: #ec008c;
        position: fixed;
        top: 53px;
        left: 0;
        z-index: 2;
    }

    @media (min-width: 601px) {
        .cancel-shadow {
             top: 59px;
        }
    }
</style>

<template>
    <iron-signals on-iron-signal-spare-parts="handleSignal"></iron-signals>
    <iron-pages selected="{{selected}}">
        <tupp-spare-parts-active 
            fb-collection-path="products" 
            fb-object-pointer="">
        </tupp-spare-parts-active>
        <tupp-spare-parts-inactive 
            fb-collection-path="spare_parts_archived_products" 
            fb-object-pointer="">
        </tupp-spare-parts-inactive>
    </iron-pages>
</template>

<script>
Polymer({
    is: "tupp-spare-parts",
    properties: {
        selected: {
            type: Boolean,
            notify: true,
            value: false
        }
    },
    handleSignal: function(event, data) {
        this.selected = data.tab;
    }
});
</script>

</dom-module>
