<dom-module id="tupp-spare-parts-product-inline">

<style>
    :host {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
    }

    paper-card {
        display: block;
        padding: 0 !important;
        border-top: 1px solid var(--dark-spanider-color);
        position: relative;
        overflow: hidden;
    }

    .product {
        border-bottom: 1px solid #ddd;
        display: block;
        text-decoration: none;
        cursor: pointer;
        cursor: hand;
    }

    .product__name {
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        display: block;
    }

    @media all and (min-width: 768px) {
        .product__name {
            font-size: 24px;
            line-height: 1.333333333;
        }
    }

    .product__price-code {
        overflow: hidden;
    }

    .product__price {
        display: inline-block;
        margin: 0 8px 0 0;
        color: #929ff;
        font-size: 16px;
        line-height: 24px;
    }

    .product__code {
        display: inline-block;
        color: #999;
        font-size: 16px;
        line-height: 24px;
    }

    .product__description--mobile {
        display: block;
        padding: 12px 0;
        margin: 0 16px;
        border-top: 1px solid #f0f0f0;
        color: rgba(0, 0, 0, 0.57);
        font-size: 14px;
        line-height: 20px;
    }

    @media all and (min-width: 768px) {
        .product__description--mobile {
            display: none;
        }
    }

    .product__description--tablet {
        display: none;
    }

    @media all and (min-width: 768px) {
        .product__description--tablet {
            display: block;
            color: rgba(0, 0, 0, 0.57);
            font-size: 20px;
            font-family: light;
            line-height: 1.3333333;
            margin-top: 2px;
        }
    }

    .flex {
        padding: 8px 16px;
        display: block;
    }

    @media all and (min-width: 768px) {
        .flex {
            padding: 8px 0;
        }

        .product--archived .flex {
            padding: 12px 16px 8px;
        }
    }

    .product__container {
        display: block;
        @apply(--layout);
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
    }

    iron-image {
        height: 120px;
        width: 120px;
        margin: 16px 0 0 16px;
    }

    @media all and (min-width: 768px) {
        iron-image {
            width: 33.33333%;
            margin: 16px 0 0;
            height: 200px;
        }

        .product__price-code {
            margin: 2px 0 0;
        }
    }

    @media all and (min-width: 1024px) {
        iron-image {
            width: 25%;
        }
    }

    .spare-parts {
        background: #f9f9f9;
        overflow: hidden;
    }

    .spare-parts__part {
        border-bottom: 1px solid #eee;
        padding: 16px 16px;
        font-size: 14px;
        line-height: 16px;
    }

    .spare-parts__part-price-code {
        overflow: hidden;
        margin: 4px 0 0;
    }

    .spare-parts__part-price {
        display: inline-block;
        color: var(--primary-color);
    }

    .spare-parts__part-code {
        color: #999;
        display: inline-block;
        margin: 0 0 0 4px;
    }

    @media all and (min-width: 768px) {
        .spare-parts__part {
            float: left;
            width: 50%;
            border-right: 1px solid #eee;
            box-sizing: border-box;
        }
    }
</style>

<template>
    <rrd-login-aware-element
        is-logged-in="{{isLoggedIn}}"
        is-in-cms-mode="{{isInCmsMode}}">
    </rrd-login-aware-element>

    <template is="dom-if" if="[[retrieve]]">
        <rrd-firebase-document
            fb-collection-path="[[fbCollectionPath]]"
            fb-object-pointer="[[fbObjectPointer]]"
            fb-object="{{originalObject}}">
        </rrd-firebase-document>
    </template>

    <div class$="{{productClass}}" on-tap="showDetails"><!-- class="product" -->
        <span class="product__container">
            <template is="dom-if" if$="[[originalObject.cover_photo_url]]">
                <iron-image
                    src$="[[originalObject.cover_photo_url]]"
                    sizing="contain"
                    item-icon>
                </iron-image>
            </template>
            <span class="flex">
                <span class="product__name">[[originalObject.name]]</span>
                <span class="product__price-code">
                    <template is="dom-if" if$="[[originalObject.price]]">
                        <span class="product__price">{{formatPrice(originalObject.price)}}</span>
                    </template>
                    <span class="product__code">[[originalObject.code]]</span>
                    <span class="product__description product__description--tablet"><span>[[originalObject.lead]]</span></span>
                </span>
            </span>
        </span>
        <template is="dom-if" if$="[[originalObject.lead]]">
            <span class="product__description product__description--mobile"><span>[[originalObject.lead]]</span></span>
        </template>
    </div>

    <div class="spare-parts">
        <template is="dom-repeat" items="[[originalObject.spare_parts]]">
            <div class="spare-parts__part">
                <div class="spare-parts__part-name">[[item.name]]</div>
                <div class="spare-parts__part-price-code">
                    <div class="spare-parts__part-price">{{formatPrice(item.price)}}</div>
                    <div class="spare-parts__part-code">[[item.code]]</div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
Polymer({
    is: "tupp-spare-parts-product-inline",
    behaviors: [
        Polymer.IronFitBehavior,
        RRDRelatedElementsBehavior,
        RRDCommonObjectHandlingBehavior
    ],
    properties: {
        spareParts: {
            type: Boolean,
            notify: true,
            value: false
        },
        color: {
            type: String,
            notify: true
        },
        archived: {
            type: Boolean,
            notify: true,
            value: false
        },
        productClass: {
            type: String,
            notify: true,
            computed: "getProductClass(originalObject, archived)"
        }
    },

    getProductClass: function() {
        var productClass = "product";

        if(this.archived == true) {
            productClass =  productClass + " product--archived";
        }

        return productClass;
    },

    showDetails: function() {
        if (this.isInCmsMode && this.archived) {
            page("/spareparts/archived/edit/" + this.fbObjectPointer);
        } else {
            if (!this.archived) {
                page("/products/" + this.fbObjectPointer );
            }
        }
    }
});
</script>

</dom-module>
